Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

Fixes lint failure and test failures which was causing as it's enable to modify the Frozen String literal.
  lib/inspec/cli.rb
  lib/inspec/profile.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-250: Fix for inspec json command does not populate the attribues/inputs for the profile
  lib/inspec/profile.rb
  test/functional/inspec_json_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.15.1 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-250: Fix for inspec json command does not populate the attribues/inputs for the profile
  lib/inspec/profile.rb
  test/functional/inspec_json_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 4.56.25 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Remove redundant code
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add YAML export example
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

CFINSPEC-252: Fix profile gem dependency installation is failing when gem version is not specified.
  lib/inspec/dependency_loader.rb
  lib/inspec/profile.rb
  test/fixtures/profiles/profile-without-gem-version/controls/example.rb
  test/fixtures/profiles/profile-without-gem-version/inspec.yml
  test/fixtures/profiles/profile-without-gem-version/libraries/.gitkeep
  test/functional/profile_gem_dependency_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add validation options for --what and --format, add (failing) tests
  lib/inspec/cli.rb
  test/fixtures/profiles/signed/profile-1.0.0.iaf
  test/functional/inspec_export_profile_test.rb
  test/functional/inspec_export_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add ability to export metadata and README
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  lib/source_readers/inspec.rb
  test/functional/inspec_export_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Look for signing and validation keys in user and source directories
  lib/inspec/exceptions.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix failing test
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
  test/functional/inspec_exec_signed_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix log output, don't use temp dir
  lib/inspec/cli.rb
  lib/inspec/ui.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixed failing test and adds test for signed dependent profile
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  test/functional/inspec_exec_signed_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Several small bugs and usability fixes
  lib/inspec/base_cli.rb
  lib/inspec/errors.rb
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix for test failure
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Adds class iaf_file to validate the signed profile
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/inspec/verify_signature.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Refactored code to use existing archive command to archive the file.
  lib/inspec/file_provider.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-191: export profile in yaml format with basic information
  lib/inspec/cli.rb
  lib/inspec/utils/yaml_profile_summary.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fetch validation keys from GitHub if possible
  lib/inspec/iaf_file.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-183: Rename artifact commands to inspec sign
  lib/plugins/inspec-artifact/lib/inspec-artifact.rb
  lib/plugins/inspec-sign/inspec-sign.gemspec
  lib/plugins/inspec-sign/lib/inspec-sign.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  lib/plugins/inspec-sign/lib/inspec-sign/cli.rb
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixed typo
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Updated to generate binary format of the signed profile
  lib/inspec/errors.rb
  lib/inspec/exceptions.rb
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  test/functional/inspec_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixes lint failure and test failures which was causing as it's enable to modify the Frozen String literal.
  lib/inspec/cli.rb
  lib/inspec/profile.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-192: Alias inspec json command to inspec export --format json
  etc/deprecations.json
  lib/inspec/cli.rb
  test/functional/inspec_export_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-167: Adds profile version check for signed profiles
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Adds test to execute signed profile. Fixes failing test.
  lib/inspec/iaf_file.rb
  test/functional/inspec_exec_signed_profile_test.rb
  test/unit/plugin/v2/loader_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-167: Store the signed profile in binary format
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-146: Enable direct execution of signed profiles
  lib/inspec/file_provider.rb
  lib/inspec/verify_signature.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Renamed the method for validating header
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-255: Add --profile-content-id option to inspec sign profile command
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  lib/plugins/inspec-sign/lib/inspec-sign/cli.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Linter fixes
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/text.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Rough draft of inspec sign documentation
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Add YAML export example
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Doc review
  docs-chef-io/content/inspec/resources/processes.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

doc review
  docs-chef-io/content/inspec/resources/host.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

doc review
  docs-chef-io/content/inspec/resources/x509_private_key.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Doc Review
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Handle the exception in case the keyname is not in proper format for signed profile.
  lib/inspec/iaf_file.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Log path option added for inspec parallel
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team
