Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team

Bump version to 4.56.22 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Remove unused telemetry v1 code
  lib/inspec/utils/telemetry.rb
  lib/inspec/utils/telemetry/collector.rb
  lib/inspec/utils/telemetry/data_series.rb
  lib/inspec/utils/telemetry/global_methods.rb
  test/unit/utils/telemetry/collector_test.rb
  test/unit/utils/telemetry/data_series_test.rb
  test/unit/utils/telemetry/global_methods_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Initial code with parallel gem setup
  inspec.gemspec
  lib/plugins/inspec-parallel/lib/inspec-parallel.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Sketch out basics of telemetry, with start/stop of invocation telemetry
  lib/inspec/runner.rb
  lib/inspec/utils/telemetry.rb
  test/unit/utils/telemetry_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Data structure for run telemetry - job capture
  lib/inspec/utils/telemetry.rb
  test/unit/utils/telemetry_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add per-control and per-run feature detection
  lib/inspec/utils/telemetry.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Error handling and some changes in parallel running result
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

doc review
  docs-chef-io/content/inspec/resources/file.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

CFINSPEC-84: Add be_valid matcher for x509_private_key
  lib/inspec/resources/x509_private_key.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Working spawn and fork implementation; no pipes or error handling
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-143 Child status reporter plugin
  lib/plugins/inspec-reporter-child-status/LICENSE
  lib/plugins/inspec-reporter-child-status/README.md
  lib/plugins/inspec-reporter-child-status/inspec-reporter-child-status.gemspec
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status.rb
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status/plugin.rb
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status/streaming_reporter.rb
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status/version.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/docs-team

Read status from children using pipes; Windows implementation is likely broken
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Linting
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-reporter-child-status/inspec-reporter-child-status.gemspec
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status/streaming_reporter.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Add be_encrypted matcher for x509_private_key
  lib/inspec/resources/x509_private_key.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Add have_matching_certificate matcher.
  lib/inspec/resources/x509_private_key.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Clean code and add comments
  lib/inspec/resources/x509_private_key.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Removed parallel gem and it's code usage
  inspec.gemspec
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-167: Store the signed profile in binary format
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-167: Adds profile version check for signed profiles
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-146: Enable direct execution of signed profiles
  lib/inspec/file_provider.rb
  lib/inspec/verify_signature.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-183: Rename artifact commands to inspec sign
  lib/plugins/inspec-artifact/lib/inspec-artifact.rb
  lib/plugins/inspec-sign/inspec-sign.gemspec
  lib/plugins/inspec-sign/lib/inspec-sign.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  lib/plugins/inspec-sign/lib/inspec-sign/cli.rb
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Renamed the method for validating header
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-146: Enable direct execution of signed profiles
  lib/inspec/file_provider.rb
  lib/inspec/verify_signature.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Add exception handling for has_matching_certificate
  lib/inspec/resources/x509_private_key.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Add unit test for x509_private_key
  test/fixtures/cmd/x509-certificate-modulus
  test/fixtures/files/x509-encrypted-secret-key
  test/fixtures/files/x509-secret-key
  test/helpers/mock_loader.rb
  test/unit/resources/x509_private_key_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Erb templating and option file as shell/powershell option added
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/test/fixtures/options-file-3.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-shell-1.sh
  lib/plugins/inspec-parallel/test/functional/inspec_parallel_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Adds class iaf_file to validate the signed profile
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/inspec/verify_signature.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Added missing raise error in content reading logic
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Adding for the sake of keeping bash file syntax correct
  lib/plugins/inspec-parallel/test/fixtures/options-file-shell-1.sh
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Update CHANGELOG.md with details from pull request #5990
  CHANGELOG.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Bump version to 5.14.1 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.14.2 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.14.3 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Issue-5809: Initial fix for service resource on amazon linux
  lib/inspec/resources/service.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Issue-5809: Fix for service resource on amazon linux Commented out unit test for Amazon 1 Linux
  lib/inspec/resources/service.rb
  test/unit/resources/service_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 4.56.23 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Switch to select() polling, enabling Windows support; also add a terrible hack to the child-status reporter
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-reporter-child-status/README.md
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status/streaming_reporter.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/docs-team

Move child-status reporter into inspec-parallel plugin to reduce pollution
  lib/plugins/inspec-parallel/README.md
  lib/plugins/inspec-parallel/lib/inspec-parallel.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/child_status_reporter.rb
  lib/plugins/inspec-reporter-child-status/LICENSE
  lib/plugins/inspec-reporter-child-status/README.md
  lib/plugins/inspec-reporter-child-status/inspec-reporter-child-status.gemspec
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status.rb
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status/plugin.rb
  lib/plugins/inspec-reporter-child-status/lib/inspec-reporter-child-status/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Fix lint offenses
  test/unit/resources/x509_private_key_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Add documentation for x509_private_key
  docs-chef-io/content/inspec/resources/x509_private_key.md
  lib/inspec/resources/x509_private_key.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners
