Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team

Minor text fixes
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Remove broken image for Slack badge
  README.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Manual version bump
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add inspec-6 branch as release branch
  .expeditor/config.yml
Owners: @chef/infra-packages

Add inspec-6 branch as release branch
  .expeditor/config.yml
Owners: @chef/infra-packages

Bump version to 5.18.4 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-120 `inspec parallel` feature (#5975)
  docs-chef-io/content/inspec/parallel.md
  lib/inspec/reporters.rb
  lib/inspec/ui.rb
  lib/plugins/inspec-parallel/README.md
  lib/plugins/inspec-parallel/inspec-parallel.gemspec
  lib/plugins/inspec-parallel/lib/inspec-parallel.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/child_status_reporter.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/base.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/status.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/text.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
  lib/plugins/inspec-parallel/test/fixtures/options-file-1.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-2.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-3.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-4.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-5.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-shell-1.sh
  lib/plugins/inspec-parallel/test/functional/inspec_parallel_test.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners
