Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

Adjust ERB eval
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Error and runner logging added
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

ERB pid option to use child process id for generating result output
  lib/inspec/reporters.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

STDERR logging added
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Renamed 38125 to Process.pid for clear notation
  lib/inspec/reporters.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

edits
  docs-chef-io/content/inspec/resources/host.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Fix omnibus-test.ps1
  omnibus/omnibus-test.ps1
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix omnibus-test.ps1
  omnibus/omnibus-test.ps1
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.15.2 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix some grammar issues
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Fixed lint errors
  lib/inspec/iaf_file.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.16.0 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.16.1 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.16.2 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-81: Add documentation for php_config
  docs-chef-io/content/inspec/resources/php_config.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

CFINSPEC-81: Add php_config resource with value property
  lib/inspec/resources/php_config.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-81: Add supports platform check
  docs-chef-io/content/inspec/resources/php_config.md
  lib/inspec/resources/php_config.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-81: Add unit test for php_config
  test/fixtures/cmd/get-cfg-var
  test/helpers/mock_loader.rb
  test/unit/resources/php_config_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Review Doc
  docs-chef-io/content/inspec/resources/php_config.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

CFINSPEC-81: Handle situation for integer config values
  lib/inspec/resources/php_config.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.0 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix of --bg with ui
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

fixing bad markdown syntax
  docs-chef-io/content/inspec/resources/file.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Deleting log files if empty and status super reporter to show done
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/status.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.1 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.2 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.3 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Remove Hugo version from Netlify config
  docs-chef-io/netlify.toml
Owners: @inspec/inspec-core-team, @inspec/docs-team

Bump version to 5.17.4 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Final Draft
  docs-chef-io/content/inspec/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Cloud Security - First Draft
  docs-chef-io/content/inspec/cloud_security.md
  docs-chef-io/static/images/inspec/cloud_security_aws_shared_model.png
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

First Draft - Cloud Security Writeup
  docs-chef-io/content/inspec/resources/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Cloud Security - 2nd draft
  docs-chef-io/content/inspec/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Cloud Security Draft 2
  docs-chef-io/content/inspec/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Removed one copy of the same content from Resource directory
  docs-chef-io/content/inspec/resources/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Executed '.expeditor/update_dockerfile.sh'
  CHANGELOG.md
  Dockerfile
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Proof-read comments
  docs-chef-io/content/inspec/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Minor updates
  docs-chef-io/content/inspec/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Doc Review
  docs-chef-io/content/inspec/resources/x509_certificate.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Writeup Review for Language
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team
