Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

Moved Cloud Security writeup from InSpec repo to chef-web-docs repo
  docs-chef-io/content/inspec/cloud_security.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Fixed the profile content id option description.
  lib/plugins/inspec-sign/lib/inspec-sign/cli.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Only adds or updates the profile_content_id without modifying the existing contents of the metadata file.
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Update omnibus/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Update omnibus/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.5 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Docs for InSpec Parallel
  docs-chef-io/content/inspec/parallel.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Add install context probing
  lib/inspec/utils/telemetry.rb
  lib/inspec/utils/telemetry/install_context_probe.rb
  lib/inspec/utils/telemetry/run_context_probe.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Initial fix to consider processes without path on Windows
  lib/inspec/resources/processes.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Fix test according to changes introduced in processes
  test/fixtures/cmd/get-process_processes
  test/helpers/mock_loader.rb
  test/unit/resources/processes_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Remove byebugs and noise
  lib/inspec/resources/processes.rb
  test/helpers/mock_loader.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Doc Review
  docs-chef-io/content/inspec/parallel.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Bump version to 5.17.6 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Grammar corrections
  docs-chef-io/content/inspec/parallel.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Fix the --profile-content-id option not to overwrite the existing profile_content_id value in the metadata file
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  lib/plugins/inspec-sign/lib/inspec-sign/cli.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

POC implementation of opt-in using old branch of chef-telemetry
  inspec-bin/bin/inspec
  lib/inspec/base_cli.rb
  lib/inspec/utils/telemetry.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Updated sign and verify command to directly accept the path of the profile instead of additional option to provide those. Updated docs for the same.
  docs-chef-io/content/inspec/signing.md
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  lib/plugins/inspec-sign/lib/inspec-sign/cli.rb
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
  test/functional/inspec_exec_signed_profile_test.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id to kernel_module
  lib/inspec/resources/kernel_module.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: resource_id unit test: lxc
  test/unit/resources/lxc_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: resource_id unit test: kernel_module
  test/unit/resources/kernel_module_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id: kernel_parameter
  lib/inspec/resources/kernel_parameter.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: resource_id unit test: kernel_parameter
  test/unit/resources/kernel_parameter_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id: key_rsa
  lib/inspec/resources/key_rsa.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: resource_id unit test: key_rsa
  test/unit/resources/key_rsa_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id & unit test: ksh
  lib/inspec/resources/ksh.rb
  test/unit/resources/ksh_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id & unit test: service, launchd_service
  lib/inspec/resources/service.rb
  test/unit/resources/service_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id & unit test: limits_conf
  lib/inspec/resources/limits_conf.rb
  test/unit/resources/limits_conf_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id & unit test: login_defs
  lib/inspec/resources/login_defs.rb
  test/unit/resources/login_def_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-267: Add resource_id & unit test: mongodb
  lib/inspec/resources/mongodb.rb
  test/unit/resources/mongodb_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Resource id added for etc, docker and file resources
  lib/inspec/resources/docker_container.rb
  lib/inspec/resources/docker_image.rb
  lib/inspec/resources/docker_plugin.rb
  lib/inspec/resources/docker_service.rb
  lib/inspec/resources/etc_group.rb
  lib/inspec/resources/etc_hosts_allow_deny.rb
  lib/inspec/resources/file.rb
  test/unit/resources/docker_container_test.rb
  test/unit/resources/docker_image_test.rb
  test/unit/resources/docker_plugin_test.rb
  test/unit/resources/docker_service_test.rb
  test/unit/resources/etc_group_test.rb
  test/unit/resources/etc_hosts_allow_deny_test.rb
  test/unit/resources/file_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-274: Add resource_id & unit test: wmi
  lib/inspec/resources/wmi.rb
  test/unit/resources/wmi_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-274: Add resource_id & unit test: x509_certificate
  lib/inspec/resources/x509_certificate.rb
  test/unit/resources/x509_certificate_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-274: Add resource_id & unit test: yum
  lib/inspec/resources/yum.rb
  test/unit/resources/yum_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-274: Add resource_id & unit test: zfs_dataset
  lib/inspec/resources/zfs_dataset.rb
  test/unit/resources/zfs_dataset_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-274: Add resource_id & unit test: zfs_pool
  lib/inspec/resources/zfs_pool.rb
  test/unit/resources/zfs_pool_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-266: Add resource_id & unit test: iis_site
  lib/inspec/resources/iis_site.rb
  test/unit/resources/iis_site_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-266: Add resource_id & unit test: inetd_conf
  lib/inspec/resources/inetd_conf.rb
  test/unit/resources/inetd_conf_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-266: Add resource_id & unit test: ini, json, xml, yaml
  lib/inspec/resources/json.rb
  test/unit/resources/ini_test.rb
  test/unit/resources/json_test.rb
  test/unit/resources/xml_test.rb
  test/unit/resources/yaml_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-266: Add resource_id & unit test: interface
  lib/inspec/resources/interface.rb
  test/unit/resources/interface_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-266: Add resource_id & unit test: ip6tables
  lib/inspec/resources/ip6tables.rb
  test/unit/resources/ip6tables_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team
