Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team

Fetch validation keys from GitHub if possible
  lib/inspec/iaf_file.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixed failing test and adds test for signed dependent profile
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  test/functional/inspec_exec_signed_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Adds test to execute signed profile. Fixes failing test.
  lib/inspec/iaf_file.rb
  test/functional/inspec_exec_signed_profile_test.rb
  test/unit/plugin/v2/loader_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Refactored code to use existing archive command to archive the file.
  lib/inspec/file_provider.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixed typo
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Several small bugs and usability fixes
  lib/inspec/base_cli.rb
  lib/inspec/errors.rb
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Several small bugs and usability fixes
  lib/inspec/base_cli.rb
  lib/inspec/errors.rb
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Rough draft of inspec sign documentation
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Fix failing test
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
  test/functional/inspec_exec_signed_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Add subject_alt_names property
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Modify subject_alt_names property to use existing code
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-192: Alias inspec json command to inspec export --format json
  etc/deprecations.json
  lib/inspec/cli.rb
  test/functional/inspec_export_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Daemon run for background process in unix system for parallel runs
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Added logic to cleanup daemon process'
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Review changes for background command name and windows handling
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Error raised with error handling class for options file
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Modify have_purpose matcher
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Add unit test for new matchers & properties
  test/fixtures/cmd/x509-crt-purpose
  test/helpers/mock_loader.rb
  test/unit/resources/x509_certificate_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Fix indentation
  lib/inspec/resources/x509_certificate.rb
  test/unit/resources/x509_certificate_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Extend unit test for have_purpose matcher
  test/unit/resources/x509_certificate_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Add doc for new matchers & properties
  docs-chef-io/content/inspec/resources/x509_certificate.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

CFINSPEC-191: inspec export profile in yaml format with basic information
  lib/inspec/cli.rb
  lib/inspec/utils/yaml_profile_summary.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-191: export profile in yaml format with basic information
  lib/inspec/cli.rb
  lib/inspec/utils/yaml_profile_summary.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

resolves inspec/inspec#6042
  lib/matchers/matchers.rb
  test/unit/matchers/matchers_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix to not intialise ui when background run is opted
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.15.0 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

typo fix in child reporter append logic in validator
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Changes to trap control c and exit gracefully
  lib/inspec/ui.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-90: Extend existing ipaddress property for windows to include the ipv6 addresses as well
  lib/inspec/resources/host.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-90: Add ipv4_address and ipv6_address properties
  lib/inspec/resources/host.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-90: Handle scenario when ipaddress is array of hashes in windows
  lib/inspec/resources/host.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-90: Correct existing unit test for windows to include ipv6 address
  test/fixtures/cmd/Resolve-DnsName-ipv6
  test/helpers/mock_loader.rb
  test/unit/resources/host_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-90: Add unit test for new properties
  test/unit/resources/host_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-90: Add documentation for new properties
  docs-chef-io/content/inspec/resources/host.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

UNIT_TESTS: update yaml reporter test for Ruby 3+
  test/fixtures/reporters/yaml_output_ruby3plus
  test/helper.rb
  test/unit/reporters/yaml_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add validation options for --what and --format, add (failing) tests
  lib/inspec/cli.rb
  test/fixtures/profiles/signed/profile-1.0.0.iaf
  test/functional/inspec_export_profile_test.rb
  test/functional/inspec_export_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add ability to export metadata and README
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  lib/source_readers/inspec.rb
  test/functional/inspec_export_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Update omnibus and omnibus-software in Gemfile.lock
  omnibus/Gemfile.lock
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Update omnibus and omnibus-software in Gemfile.lock
  omnibus/Gemfile.lock
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Moved ctl c handling code to command class
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners
