Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team

CFINSPEC-262 - Handle resource_id in error situation
  lib/inspec/resources/aide_conf.rb
  lib/inspec/resources/apache.rb
  lib/inspec/resources/apache_conf.rb
  lib/inspec/resources/apt.rb
  lib/inspec/resources/audit_policy.rb
  lib/inspec/resources/auditd_conf.rb
  lib/inspec/resources/bash.rb
  lib/inspec/resources/bond.rb
  lib/inspec/resources/bridge.rb
  lib/inspec/resources/cassandradb_conf.rb
  test/unit/resources/audit_policy_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-263 Adds resource_id to chocolatey_package, chrony_conf, command, cpan, cran, csv, dh_params resource and unit test for the same.
  lib/inspec/resources/chocolatey_package.rb
  lib/inspec/resources/chrony_conf.rb
  lib/inspec/resources/command.rb
  lib/inspec/resources/cpan.rb
  lib/inspec/resources/cran.rb
  lib/inspec/resources/csv.rb
  lib/inspec/resources/dh_params.rb
  test/unit/resources/chocolatey_package_test.rb
  test/unit/resources/chrony_conf_test.rb
  test/unit/resources/command_test.rb
  test/unit/resources/cpan_test.rb
  test/unit/resources/cran_test.rb
  test/unit/resources/csv_test.rb
  test/unit/resources/dh_params_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-263 Adds resource_id for cron resource and unit test for the same
  lib/inspec/resources/chocolatey_package.rb
  lib/inspec/resources/chrony_conf.rb
  lib/inspec/resources/command.rb
  lib/inspec/resources/cpan.rb
  lib/inspec/resources/cran.rb
  lib/inspec/resources/cron.rb
  lib/inspec/resources/csv.rb
  lib/inspec/resources/dh_params.rb
  test/unit/resources/chocolatey_package_test.rb
  test/unit/resources/cpan_test.rb
  test/unit/resources/cran_test.rb
  test/unit/resources/cron_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Add windows test for process without path
  test/fixtures/cmd/get-process_processes
  test/unit/resources/processes_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.11 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.12 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.13 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.14 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.15 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.16 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.17 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 4.56.26 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.17.18 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Doc edits for clarification
  docs-chef-io/content/inspec/signing.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Bump version to 5.18.0 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.18.1 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Add windows test for process without path
  test/fixtures/cmd/get-process_processes
  test/unit/resources/processes_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Fix test according to changes introduced in processes
  test/fixtures/cmd/get-process_processes
  test/helpers/mock_loader.rb
  test/unit/resources/processes_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Initial fix to consider processes without path on Windows
  lib/inspec/resources/processes.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-291: Remove byebugs and noise
  lib/inspec/resources/processes.rb
  test/helpers/mock_loader.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix for error in the verify pipeline for Windows test
  lib/inspec/resources/cassandradb_session.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix the other database resource for the argument errpr
  lib/inspec/resources/ibmdb2_session.rb
  lib/inspec/resources/mongodb_session.rb
  lib/inspec/resources/postgres_session.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixes azure connection test
  test/functional/inspec_exec_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixed Lint/DuplicateMethods: Method Inspec::Resources::Service#resource_id is defined at both
  lib/inspec/resources/service.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.18.2 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 4.56.27 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Typo
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Matchers rewrite
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Some more edits
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

heading changes
  docs-chef-io/content/inspec/cli.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Additional changes
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Update docs-chef-io/content/inspec/matchers.md
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Ian's comments fixes
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Ian's comments
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Rewrite
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Update docs-chef-io/content/inspec/matchers.md
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Update docs-chef-io/content/inspec/matchers.md
  docs-chef-io/content/inspec/matchers.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Bump version to 5.18.3 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Update docs readme
  docs-chef-io/README.md
  docs-chef-io/archetypes/default.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Update Hugo resource archetype
  docs-chef-io/archetypes/resource.md
  docs-chef-io/layouts/shortcodes/inspec_installation.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team
