Repository inspec/inspec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners, @inspec/docs-team, @chef/infra-packages, @chef/docs-team

Rename a bunch of things, remove some instance variables, always validate, and use Inspec::UI exit codes
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-96: Fix typo and modify classname appropriately
  lib/inspec/resources/zfs.rb
  test/unit/resources/zfs_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-84: Fix typo in unit test comment
  test/unit/resources/x509_private_key_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Updated to generate binary format of the signed profile
  lib/inspec/errors.rb
  lib/inspec/exceptions.rb
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  test/functional/inspec_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Adds test to execute signed profile. Fixes failing test.
  lib/inspec/iaf_file.rb
  test/functional/inspec_exec_signed_profile_test.rb
  test/unit/plugin/v2/loader_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Rework validation to be Thor-based; add logic to inject child-status reporter
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
  lib/plugins/inspec-parallel/test/fixtures/options-file-1.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-3.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-4.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-5.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-shell-1.sh
  lib/plugins/inspec-parallel/test/functional/inspec_parallel_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Linting
  lib/plugins/inspec-parallel/lib/inspec-parallel/child_status_reporter.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Refactor parent UI to make it object oriented
  lib/plugins/inspec-parallel/lib/inspec-parallel/child_status_reporter.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/base.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/text.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add a prototype 'status' super-reporter
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/base.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/status.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 4.56.24 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.14.4 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-92: Extend be_running matcher to consider sleep state to be running
  lib/inspec/resources/processes.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-166 Updated url fetcher to handle Net::OpenTimeout Exception on Windows
  lib/inspec/fetcher/url.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Refactored code to use existing archive command to archive the file.
  lib/inspec/file_provider.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

review changes
  docs-chef-io/content/inspec/resources/zfs.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

review-wip
  docs-chef-io/content/inspec/resources/zfs.md
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team

Improve status UI edge cases, add info to output, make default
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/status.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix log output, don't use temp dir
  lib/inspec/cli.rb
  lib/inspec/ui.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Look for signing and validation keys in user and source directories
  lib/inspec/exceptions.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Add a sample validation key, to be used in testing key fetching
  etc/keys/progress-2022-05-04.pem.pub
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Bump version to 5.14.5 by Chef Expeditor
  CHANGELOG.md
  VERSION
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Owners: @inspec/inspec-core-team, @inspec/docs-team, @chef/docs-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fetch validation keys from GitHub if possible
  lib/inspec/iaf_file.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixed typo
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix for test failure
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Add email property email property is an alias of subject.emailAddress property
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fixed failing test and adds test for signed dependent profile
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  test/functional/inspec_exec_signed_profile_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Add have_purpose matcher
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Add exception handling for have_purpose matcher
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-95: Alias keylength to key_length
  lib/inspec/resources/x509_certificate.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Error handling added when running bash instead of system check
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-167: Store the signed profile in binary format
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-167: Adds profile version check for signed profiles
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-183: Rename artifact commands to inspec sign
  lib/plugins/inspec-artifact/lib/inspec-artifact.rb
  lib/plugins/inspec-sign/inspec-sign.gemspec
  lib/plugins/inspec-sign/lib/inspec-sign.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  lib/plugins/inspec-sign/lib/inspec-sign/cli.rb
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Renamed the method for validating header
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Updated to generate binary format of the signed profile
  lib/inspec/errors.rb
  lib/inspec/exceptions.rb
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  test/functional/inspec_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix log output, don't use temp dir
  lib/inspec/cli.rb
  lib/inspec/ui.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Fix for test failure
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Adds class iaf_file to validate the signed profile
  lib/inspec/file_provider.rb
  lib/inspec/iaf_file.rb
  lib/inspec/verify_signature.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

Look for signing and validation keys in user and source directories
  lib/inspec/exceptions.rb
  lib/inspec/iaf_file.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

CFINSPEC-146: Enable direct execution of signed profiles
  lib/inspec/file_provider.rb
  lib/inspec/verify_signature.rb
Owners: @inspec/inspec-core-team, @chef/chef-infra-reviewers, @chef/chef-infra-approvers, @chef/chef-infra-owners

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners
docs-chef-io/**       @inspec/inspec-core-team @inspec/docs-team
.expeditor/           @chef/infra-packages
*.md                  @inspec/inspec-core-team @inspec/docs-team @chef/docs-team
