Repository inspec/inspec, pull requests merged in 2018-11, with the labels that each got.

#3553 Allow help args after Thor commands
  lib/inspec/cli.rb
  test/functional/inspec_exec_test.rb
Labels: Type: Enhancement

#3539 Fix rendering and other issues in the Style Guide
  docs/style.md
Labels: Aspect: Docs, Expeditor: Skip All

#3559 documents inspec habitat profile setup command
  docs/habitat.md
Labels: Aspect: Docs, Expeditor: Skip All

#3567 Change usage of `Dir.home` to `Inspec.config_dir`
  lib/inspec/plugin/v1/plugins.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/configuration.rb
Labels: Type: Bug

#3551 Doc typo fix
  docs/resources/docker.md.erb
  test/docker_run.rb
Labels: Aspect: Docs, Expeditor: Skip All

#3561 Fixes (some) ruby warnings related to functional tests
  lib/inspec/rule.rb
  lib/plugins/inspec-init/test/functional/inspec_init_test.rb
  test/functional/inspec_exec_test.rb
  test/functional/inspec_vendor_test.rb
Labels: Aspect: Testing

#3584 Makes whole brew command visible
  www/source/downloads.html.slim
Labels: Component: Website, Expeditor: Skip All

#3560 Silence RSpec 'should' Warning
  lib/inspec/rspec_extensions.rb
  test/functional/filter_table_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/rspec-should-deprecation/controls/explicit_should.rb
  test/unit/mock/profiles/rspec-should-deprecation/inspec.yml
Labels: Aspect: Integration, Aspect: UX, CLI: exec, Type: Bug

#3589 Fix line wrapping on homebrew button on downloads page
  www/source/downloads.html.slim
  www/source/stylesheets/_code.scss
  www/source/stylesheets/_layout.scss
Labels: Component: Website, Expeditor: Skip All

#3577 Add only_if to Inspec objects
  lib/inspec/objects/control.rb
  lib/inspec/objects/test.rb
  test/unit/dsl/objects_test.rb
Labels: Component: Code Generation, Type: Enhancement

#3583 Added xml resource support for ints, bools, and string responses
  docs/resources/xml.md.erb
  lib/resources/xml.rb
  test/unit/resources/xml_test.rb
Labels: Component: Core Resources, Type: Enhancement

#3586 Allow add_test to accept negation
  lib/inspec/objects/describe.rb
  test/unit/dsl/describe_test.rb
Labels: Component: Code Generation, Type: Enhancement

#3492 Update iis_site bindingInformation construction and add tests
  lib/resources/iis_site.rb
  test/helper.rb
  test/unit/mock/cmd/iis-default-web-site
  test/unit/resources/iis_site_test.rb
Labels: Component: Core Resources, Platform: Windows, Type: Bug

#3579 port: Correctly detect FreeBSD
  lib/resources/port.rb
Labels: Aspect: Portability, Component: Core Resources, Platform: Unix-like, Type: Bug

#3562 Add Git SSH and HTTP basic auth support to `inspec exec`
  lib/fetchers/git.rb
  lib/fetchers/url.rb
  lib/inspec/cli.rb
  test/functional/inspec_exec_test.rb
  test/unit/fetchers/git_test.rb
Labels: CLI: exec, Component: Fetchers, Type: New Feature

#3592 Adding --no-pager to service checks
  lib/resources/service.rb
  test/helper.rb
Labels: Type: Enhancement

#3604 Adds protection against zipslip vulnerability
  lib/inspec/file_provider.rb
  test/unit/file_provider_test.rb
Labels: Type: Bug

#3612 Update UUID documentation
  docs/reporters.md
Labels: Aspect: Docs, Expeditor: Skip All

#3575 Create a class to handle the plugins.json file
  lib/inspec/plugin/v2.rb
  lib/inspec/plugin/v2/config_file.rb
  lib/inspec/plugin/v2/installer.rb
  lib/inspec/plugin/v2/loader.rb
  test/functional/plugins_test.rb
  test/unit/mock/config_dirs/plugin_config_files/bad_plugin_conf_version.json
  test/unit/mock/config_dirs/plugin_config_files/basic.json
  test/unit/mock/config_dirs/plugin_config_files/corrupt.json
  test/unit/mock/config_dirs/plugin_config_files/entry_bad_installation_type.json
  test/unit/mock/config_dirs/plugin_config_files/entry_duplicate.json
  test/unit/mock/config_dirs/plugin_config_files/entry_no_name.json
  test/unit/mock/config_dirs/plugin_config_files/entry_no_path_for_path_type.json
  test/unit/mock/config_dirs/plugin_config_files/entry_not_hash.json
  test/unit/mock/config_dirs/plugin_config_files/hash_plugins_key.json
  test/unit/mock/config_dirs/plugin_config_files/missing_plugin_conf_version.json
  test/unit/mock/config_dirs/plugin_config_files/missing_plugins_key.json
  test/unit/mock/config_dirs/plugin_config_files/no_plugins.json
  test/unit/plugin/v2/installer_test.rb
  test/unit/plugin/v2/loader_test.rb
  test/unit/plugin/v2/plugin_conf_test.rb
Labels: Component: Plugins, Type: Tech Debt

#3603 Improvements to the functional helper run_inspec_process
  test/functional/helper.rb
  test/functional/plugins_test.rb
Labels: Aspect: Testing, Type: Tech Debt

#3620 Revert setting RSpec expectation syntax to 'should' mode
  lib/inspec/rspec_extensions.rb
  test/functional/filter_table_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/rspec-should-deprecation/controls/explicit_should.rb
  test/unit/mock/profiles/rspec-should-deprecation/inspec.yml
Labels: Component: DSL, Type: Regression

#3606 filesystem: improve Windows support
  lib/resources/filesystem.rb
  test/helper.rb
  test/integration/default/controls/filesystem.rb
  test/unit/mock/cmd/get-wmiobject-filesystem
  test/unit/resources/filesystem_test.rb
Labels: Aspect: Portability, Component: Core Resources, Platform: Windows, Type: Enhancement

#3623 www: remove jquery sticky on the sidebar
  www/source/javascripts/all.js
  www/source/layouts/layout.slim
Labels: Component: Website, Type: Bug

#3607 package: fix package detection on windows
  lib/resources/package.rb
  test/helper.rb
Labels: Component: Core Resources, Platform: Windows, Type: Bug

#3582 Add aws_eks_cluster resource
  docs/resources/aws_eks_cluster.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_eks_cluster.rb
  test/integration/aws/default/build/aws.tf
  test/integration/aws/default/build/ec2.tf
  test/integration/aws/default/build/eks.tf
  test/integration/aws/default/build/rds.tf
  test/integration/aws/default/verify/controls/aws_eks_cluster.rb
  test/unit/resources/aws_eks_cluster_test.rb
Labels: Platform: AWS, Type: New Resource

#3632 Add SQLcl to Oracledb_session Doc
  docs/resources/oracledb_session.md.erb
Labels: Component: Website

#3557 Plugin Type: DSLs
  docs/dev/plugins.md
  docs/plugins.md
  lib/inspec/control_eval_context.rb
  lib/inspec/dsl.rb
  lib/inspec/plugin/v1/plugin_types/resource.rb
  lib/inspec/plugin/v2/loader.rb
  lib/inspec/plugin/v2/plugin_types/dsl.rb
  lib/inspec/plugin/v2/registry.rb
  lib/inspec/rspec_extensions.rb
  test/functional/helper.rb
  test/functional/plugins_test.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test/control_dsl.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test/describe_dsl.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test/outer_profile_dsl.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test/plugin.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test/resource_dsl.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test/test_dsl.rb
  test/unit/mock/plugins/inspec-dsl-test/lib/inspec-dsl-test/version.rb
  test/unit/mock/profiles/dsl_plugins/controls/control_dsl.rb
  test/unit/mock/profiles/dsl_plugins/controls/describe_dsl.rb
  test/unit/mock/profiles/dsl_plugins/controls/outer_profile_dsl.rb
  test/unit/mock/profiles/dsl_plugins/controls/resource_dsl.rb
  test/unit/mock/profiles/dsl_plugins/controls/test_dsl.rb
  test/unit/mock/profiles/dsl_plugins/inspec.yml
  test/unit/mock/profiles/dsl_plugins/libraries/favorite_berry_resource.rb
  test/unit/plugin/v2/api_dsl_test.rb
  test/unit/plugin/v2/loader_test.rb
Labels: Component: DSL, Component: Plugins, Type: New Feature
