Repository inspec/inspec, pull requests merged in 2018-03, with the labels that each got.

#2754 Docs: Clarify Matchers page to speak about Universal matchers
  docs/matchers.md
Labels: docs

#2449 Updates language for Resource Packs
  docs/shell.md
Labels: Expeditor: Skip All, docs

#2752 mssql_session - Handling cases where the data is nil
  lib/utils/database_helpers.rb
  test/unit/utils/database_helpers_test.rb
Labels: bug, resource

#2768 command resource: Add `exist?` for Alpine Linux
  lib/resources/command.rb
Labels: Type: Bug

#2766 fixes ec2 reference
  docs/resources/aws_ec2_instance.md.erb
Labels: Expeditor: Skip All, docs

#2669 Move `TESTING_AGAINST_AWS.md` to `test/aws`
  README.md
  test/integration/aws/TESTING_AGAINST_AWS.md
Labels: Expeditor: Skip All, docs, in progress

#2761 Fix aws-iam-users pagination
  lib/resources/aws/aws_iam_users.rb
  test/unit/resources/aws_iam_users_test.rb
Labels: Type: Enhancement

#2763 Kg/az fix
  docs/resources/azure_generic_resource.md.erb
  docs/resources/azure_resource_group.md.erb
  docs/resources/azure_virtual_machine.md.erb
  docs/resources/azure_virtual_machine_data_disk.md.erb
Labels: Expeditor: Skip All, docs

#2762 AWS API Pagination fixes
  lib/resources/aws/aws_iam_access_keys.rb
  lib/resources/aws/aws_iam_groups.rb
  lib/resources/aws/aws_iam_policies.rb
  lib/resources/aws/aws_iam_policy.rb
  lib/resources/aws/aws_kms_keys.rb
Labels: Type: Enhancement

#2606 Add caution to "mode": include leading zero in file mode specifications
  docs/resources/file.md.erb
Labels: Expeditor: Skip All, docs

#2775 Removes errant articles
  docs/resources/file.md.erb
Labels: Expeditor: Skip All, docs

#2764 Corrects capitalization
  docs/dsl_inspec.md
  docs/matchers.md
  docs/ruby_usage.md
Labels: Expeditor: Skip All, docs

#2778 docs: Add `PS commands` in Usage via Docker to `README.md`
  README.md
Labels: Expeditor: Skip All, docs

#2776 docs: Add `g++` requirement to `README.md`
  README.md
Labels: Expeditor: Skip All

#2756 Fix AWS IAM access keys example
  docs/resources/aws_iam_access_keys.md.erb
Labels: Expeditor: Skip All, docs

#2552 Fixes docs for file example
  docs/resources/file.md.erb
Labels: Expeditor: Skip All, docs

#2781 update docs to non-deprecated parameter syntax from name > username
  docs/resources/aws_iam_user.md.erb
Labels: Expeditor: Skip All, docs

#2755 Usability testing fixes
  www/source/community.html.slim
  www/source/downloads.html.slim
  www/source/images/home/platform-logos.png
  www/source/images/home/platform-logos.svg
  www/source/images/home/test-logos.png
  www/source/images/home/test-logos.svg
  www/source/index.html.slim
  www/source/layouts/layout.slim
  www/source/stylesheets/_buttons.scss
  www/source/stylesheets/_code.scss
  www/source/stylesheets/_homepage.scss
  www/source/stylesheets/_layout.scss
  www/source/stylesheets/_typography.scss
  www/source/tutorials.html.slim
Labels: Expeditor: Skip All

#2607 Host resource: use bash over netcat in Linux
  lib/resources/host.rb
  test/helper.rb
  test/unit/mock/cmd/nc-example-com
  test/unit/mock/cmd/type-nc
  test/unit/resources/host_test.rb
Labels: Type: Enhancement

#2642 Update shadow resource to use FilterTable
  docs/resources/shadow.md.erb
  lib/resources/shadow.rb
  test/unit/resources/shadow_test.rb
Labels: Type: Enhancement, in progress

#2792 return 1 as exit code for commands that are not available
  lib/inspec/base_cli.rb
  test/functional/inspec_compliance_test.rb
Labels: Type: Bug

#2770 Fix http with connection error
  lib/resources/http.rb
  test/unit/resources/http_test.rb
Labels: Type: Bug

#2798 Create reporter output directory if it does not exist
  lib/inspec/reporters.rb
  test/functional/inspec_exec_test.rb
Labels: Type: Enhancement

#2797 Remove os checks from initialize
  lib/resources/aide_conf.rb
  lib/resources/crontab.rb
  lib/resources/etc_fstab.rb
  lib/resources/etc_group.rb
  lib/resources/etc_hosts.rb
  lib/resources/etc_hosts_allow_deny.rb
  lib/resources/firewalld.rb
  lib/resources/iis_app.rb
  lib/resources/postgres_hba_conf.rb
  lib/resources/postgres_ident_conf.rb
  lib/resources/powershell.rb
  lib/resources/shadow.rb
  lib/resources/vbscript.rb
  lib/resources/windows_task.rb
  lib/resources/wmi.rb
  test/unit/resources/crontab_test.rb
  test/unit/resources/shadow_test.rb
  test/unit/resources/wmi_test.rb
Labels: Type: Enhancement

#2802 Updates tutorial author last name from "Hedgepath" to "Hedgepeth"
  www/source/tutorials.html.slim
Labels: Expeditor: Skip All, www

#2801 Refine deprecated methods to be consistent with supported fields in shadow file.
  docs/resources/shadow.md.erb
  lib/resources/shadow.rb
  test/unit/resources/shadow_test.rb
Labels: Type: Enhancement

#2685 quote password when generating mysql command string
  lib/resources/mysql_session.rb
  test/unit/resources/mysql_session_test.rb
Labels: Type: Enhancement

#2619 Write version_constraints as an array for inspec.lock
  lib/inspec/dependencies/requirement.rb
  test/unit/dependencies/requirement_test.rb
Labels: Type: Bug, in progress

#2807 Updates the os resource to use dot notation for family
  docs/resources/os.md.erb
Labels: Expeditor: Skip All, docs

#2477 Add additional links to Learn Chef Rally content
  docs/matchers.md
  docs/plugin_kitchen_inspec.md
  docs/profiles.md
  docs/resources/docker.md.erb
  docs/resources/docker_container.md.erb
  docs/resources/docker_image.md.erb
  docs/shell.md
Labels: Expeditor: Skip All, docs, www

#2816 Single quotes cannot go unescaped in a single-quote-wrapped string
  docs/dsl_inspec.md
Labels: Expeditor: Skip All, docs

#2827 Pin to new Train version and update InSpec defaults
  inspec.gemspec
  lib/inspec/backend.rb
  lib/inspec/base_cli.rb
  test/unit/resources/platform_test.rb
Labels: Type: Enhancement, Version: Bump Minor

#2830 Fix mangled codeblock in README
  README.md
Labels: Expeditor: Skip All, docs

#2831 Add Info about nginx_conf param
  docs/resources/nginx_conf.md.erb
Labels: Expeditor: Skip All, docs

#2832 fix(homebrew): correct homebrew installation command
  www/source/downloads.html.slim
Labels: Expeditor: Skip All, docs

#2620 Skelatal resource: aws_s3_bucket_object
  docs/resources/aws_s3_bucket_object.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_s3_bucket_object.rb
  test/integration/aws/default/build/s3.tf
  test/unit/resources/aws_s3_bucket_object_test.rb
Labels: Type: New Resource, aws

#2841 Fix typo in some docs
  README.md
  docs/dsl_inspec.md
  docs/migration.md
  docs/reporters.md
  docs/resources/auditd.md.erb
  docs/resources/aws_sns_topic.md.erb
  docs/resources/aws_subnet.md.erb
  docs/resources/aws_subnets.md.erb
  docs/resources/azure_generic_resource.md.erb
  docs/resources/azure_resource_group.md.erb
  docs/resources/azure_virtual_machine.md.erb
  docs/resources/azure_virtual_machine_data_disk.md.erb
  docs/resources/command.md.erb
  docs/resources/crontab.md.erb
  docs/resources/elasticsearch.md.erb
  docs/resources/etc_fstab.md.erb
  docs/resources/etc_hosts.md.erb
  docs/resources/filesystem.md.erb
  docs/resources/grub_conf.md.erb
  docs/resources/package.md.erb
  docs/resources/processes.md.erb
  docs/resources/registry_key.md.erb
  docs/resources/windows_task.md.erb
  docs/resources/xinetd_conf.md.erb
  docs/resources/yum.md.erb
  examples/profile-sensitive/README.md
  lib/bundles/inspec-compliance/README.md
  lib/bundles/inspec-supermarket/README.md
Labels: Expeditor: Skip All, docs

#2845 The resource is login_defs not login_def
  docs/resources/login_defs.md.erb
Labels: Expeditor: Skip All, docs

#2851 Remove incorrect example from documentation
  docs/resources/ssh_config.md.erb
Labels: Expeditor: Skip All, docs

#2854 Add unf_ext configuration to omnibus to allow building against our forked unf_ext.
  omnibus/config/software/inspec.rb
  omnibus/config/software/unf_ext.rb
Labels: Expeditor: Skip All

#2843 Upgrade Thor to version 0.20.0.
  inspec.gemspec
  test/functional/inspec_compliance_test.rb
Labels: Type: Enhancement

#2848 Remove supports binding for generic resources
  lib/resources/csv.rb
  lib/resources/json.rb
  lib/resources/yaml.rb
Labels: Type: Enhancement

#2850 Correct support platform for audit_policy
  lib/resources/audit_policy.rb
Labels: Type: Bug

#2359 Unify method in which file content is read across all resources
  lib/resources/aide_conf.rb
  lib/resources/apache_conf.rb
  lib/resources/auditd_conf.rb
  lib/resources/bond.rb
  lib/resources/dh_params.rb
  lib/resources/etc_fstab.rb
  lib/resources/etc_group.rb
  lib/resources/etc_hosts.rb
  lib/resources/etc_hosts_allow_deny.rb
  lib/resources/grub_conf.rb
  lib/resources/inetd_conf.rb
  lib/resources/json.rb
  lib/resources/key_rsa.rb
  lib/resources/limits_conf.rb
  lib/resources/login_def.rb
  lib/resources/mysql_conf.rb
  lib/resources/nginx_conf.rb
  lib/resources/ntp_conf.rb
  lib/resources/parse_config.rb
  lib/resources/passwd.rb
  lib/resources/postgres_conf.rb
  lib/resources/postgres_hba_conf.rb
  lib/resources/postgres_ident_conf.rb
  lib/resources/rabbitmq_conf.rb
  lib/resources/service.rb
  lib/resources/shadow.rb
  lib/resources/ssh_conf.rb
  lib/resources/x509_certificate.rb
  lib/resources/xinetd.rb
  lib/utils/file_reader.rb
  test/functional/inspec_vendor_test.rb
  test/unit/resources/json_test.rb
  test/unit/resources/ssh_conf_test.rb
Labels: Type: Enhancement

#2824 Documentation: `supports` attribute of custom resource DSL
  docs/dsl_resource.md
Labels: Expeditor: Skip All, docs

#2696 New Skeletal Resource aws_sns_topics
  docs/resources/aws_sns_topics.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_sns_topics.rb
  test/integration/aws/default/verify/controls/aws_sns_topics.rb
  test/unit/resources/aws_sns_topics_test.rb
Labels: Type: New Resource, aws

#2863 Revise /etc/hosts for correctness and clarity
  lib/resources/etc_hosts.rb
  test/helper.rb
  test/unit/resources/etc_hosts_test.rb
Labels: Type: Bug

#2385 Added support for proxy_command for remote SSH connections
  lib/inspec/base_cli.rb
Labels: Type: Enhancement, ready

#2746 New Skeletal Resource aws_kms_key
  docs/resources/aws_kms_key.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_kms_key.rb
  test/integration/aws/default/build/kms.tf
  test/integration/aws/default/verify/controls/aws_kms_key.rb
  test/unit/resources/aws_kms_key_test.rb
Labels: Type: New Resource, aws

#2870 Update to newer sha for our forked unf_ext to resolve AIX builds.
  omnibus/config/software/unf_ext.rb
Labels: Expeditor: Skip All

#2641 New Skeletal Resource aws_config_delivery_channel
  docs/resources/aws_config_delivery_channel.md
  lib/resource_support/aws.rb
  lib/resources/aws/aws_config_delivery_channel.rb
  test/integration/aws/default/build/config.tf
  test/integration/aws/default/verify/controls/aws_config_delivery_channel.rb
Labels: Type: New Resource, aws

#2879 Pin concurrent-ruby to version 1.0 to fix kitchen-ansible example
  examples/kitchen-ansible/Gemfile
Labels: Type: Bug

#2874 fix logic in examples for password used
  docs/resources/aws_iam_users.md.erb
Labels: Expeditor: Skip All, docs

#2871 registry_key resource was returning an incorrect value
  lib/resources/registry_key.rb
  test/cookbooks/os_prepare/recipes/registry_key.rb
  test/helper.rb
  test/integration/default/controls/registry_key_spec.rb
Labels: Type: Enhancement

#2866 new resource: aws rds instance (singular)
  docs/resources/aws_rds_instance.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_rds_instance.rb
  test/integration/aws/default/build/rds.tf
  test/integration/aws/default/verify/controls/aws_rds_instance.rb
  test/unit/resources/aws_rds_instance_test.rb
Labels: Type: New Resource, aws

#2875 Fixes the YAML documentation
  docs/resources/yaml.md.erb
Labels: Expeditor: Skip All, docs

#2894 powershell resource: Add support other OSs
  lib/resources/powershell.rb
  test/helper.rb
  test/unit/resources/powershell_test.rb
Labels: Type: Enhancement

#2885 Change route_table_id Regular Expression for correctness
  lib/resources/aws/aws_route_table.rb
  test/unit/resources/aws_route_table_test.rb
Labels: Type: Bug
