Repository inspec/inspec, pull requests merged in 2018-02, with the labels that each got.

#2557 Add resource support declarations for Azure
  lib/resources/azure/azure_generic_resource.rb
  lib/resources/azure/azure_resource_group.rb
  lib/resources/azure/azure_virtual_machine.rb
  lib/resources/azure/azure_virtual_machine_data_disk.rb
Labels: in progress

#2601 Fix runner report and json newline
  lib/inspec/base_cli.rb
  lib/inspec/reporters.rb
  lib/inspec/reporters/base.rb
  lib/inspec/reporters/json.rb
  lib/inspec/reporters/json_min.rb
  lib/inspec/runner.rb
  lib/inspec/runner_rspec.rb
  test/unit/base_cli_test.rb
  test/unit/mock/reporters/json_min_output
  test/unit/mock/reporters/json_output
  test/unit/reporters/json_min_test.rb
  test/unit/reporters/json_test.rb
Labels: in progress

#2610 Force a default reporter for ad-hoc runners
  lib/inspec/base_cli.rb
  test/unit/runner_test.rb
Labels: in progress

#2621 Allow ad-hoc runners to use rspec formats.
  lib/inspec/runner.rb
  lib/inspec/runner_rspec.rb
  test/unit/runner_test.rb
Labels: in progress

#2618 Add json fields to schema and add tests.
  lib/inspec/reporters/json.rb
  lib/inspec/schema.rb
  test/unit/mock/reporters/cli_output
  test/unit/mock/reporters/cli_output_windows
  test/unit/mock/reporters/json_min_output
  test/unit/mock/reporters/json_output
  test/unit/mock/reporters/junit_output
  test/unit/mock/reporters/run_data.json
  test/unit/reporters/cli_test.rb
Labels: in progress

#2616 Fix the /private/var osx issue causing functional tests to fail
  test/functional/inspec_vendor_test.rb
Labels: in progress

#2623 Capture ResourceNotFound exception from Log Metric Filter
  lib/resources/aws/aws_cloudwatch_log_metric_filter.rb
Labels: in progress

#2630 Refactors the login_def resource
  docs/resources/login_def.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2629 Refactors limits_conf resource
  docs/resources/limits_conf.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2627 Refactors key_rsa resource
  docs/resources/key_rsa.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2625 Refactors kernel_parameter resource
  docs/resources/kernel_parameter.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2604 Add Ruby 2.5.0 to test matrix
  .travis.yml
  appveyor.yml
Labels: in progress

#2624 package resource: Fix Windows package detection
  lib/resources/package.rb
Labels: in progress

#2553 Fixes the docs content for the user resource
  docs/resources/user.md.erb
Labels: Expeditor: Skip All, docs

#2520 http resource: Make remote worker the default
  docs/resources/http.md.erb
  lib/resources/http.rb
Labels: in progress

#2617 Add reporters reference page
  docs/reporters.md
  www/data/docs_sidebar.yml
Labels: Expeditor: Skip All, docs, in progress, www

#2487 Update reporter with breaking inspec 2.0 changes.
  lib/inspec/formatters/base.rb
  lib/inspec/metadata.rb
  lib/inspec/reporters/cli.rb
  lib/inspec/reporters/json.rb
  lib/inspec/runner.rb
  lib/inspec/runner_rspec.rb
  lib/inspec/schema.rb
  lib/resources/platform.rb
  test/functional/inheritance_test.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_jsonmin_test.rb
  test/functional/inspec_exec_junit_test.rb
  test/functional/inspec_exec_test.rb
  test/functional/inspec_shell_test.rb
  test/functional/inspec_vendor_test.rb
  test/unit/mock/reporters/cli_output
  test/unit/mock/reporters/cli_output_windows
  test/unit/mock/reporters/json_output
  test/unit/reporters/cli_test.rb
  test/unit/reporters/json_test.rb
Labels: in progress

#2636 Catch cloud exceptions and document connection info
  README.md
  docs/platforms.md
  lib/resource_support/aws/aws_resource_mixin.rb
  lib/resources/aws/aws_ec2_instance.rb
  lib/resources/aws/aws_iam_access_key.rb
  lib/resources/aws/aws_iam_password_policy.rb
  lib/resources/aws/aws_iam_policy.rb
  lib/resources/aws/aws_iam_root_user.rb
  lib/resources/aws/aws_iam_user.rb
  lib/resources/aws/aws_s3_bucket.rb
  lib/resources/azure/azure_backend.rb
  lib/resources/azure/azure_resource_group.rb
  lib/resources/azure/azure_virtual_machine_data_disk.rb
Labels: in progress

#2637 Two deprecations in aws_ec2_instance
  docs/resources/aws_ec2_instance.md
  lib/resources/aws/aws_ec2_instance.rb
  test/unit/resources/aws_iam_password_policy_test.rb
Labels: in progress

#2638 Improvements and matcher renaming on aws_iam_password_policy
  docs/resources/aws_iam_password_policy.md
  lib/resources/aws/aws_iam_password_policy.rb
  test/aws/default/build/iam.tf
  test/aws/default/verify/controls/aws_iam_password_policy.rb
  test/aws/minimal/verify/controls/aws_iam_password_policy.rb
  test/unit/resources/aws_iam_password_policy_test.rb
Labels: in progress

#2640 Document the terminology changeup for Azure creds
  docs/platforms.md
Labels: Expeditor: Skip All, docs, in progress

#2649 Normalizes terms accross resources
  docs/resources/aide_conf.md.erb
  docs/resources/apache.md.erb
  docs/resources/auditd_conf.md.erb
  docs/resources/bash.md.erb
  docs/resources/bridge.md.erb
  docs/resources/bsd_service.md.erb
  docs/resources/cpan.md.erb
  docs/resources/cran.md.erb
  docs/resources/crontab.md.erb
  docs/resources/csv.md.erb
  docs/resources/dh_params.md.erb
  docs/resources/directory.md.erb
  docs/resources/docker_container.md.erb
  docs/resources/elasticsearch.md.erb
  docs/resources/etc_fstab.md.erb
  docs/resources/etc_group.md.erb
  docs/resources/etc_hosts.md.erb
  docs/resources/etc_hosts_allow.md.erb
  docs/resources/etc_hosts_deny.md.erb
  docs/resources/file.md.erb
  docs/resources/firewalld.md.erb
  docs/resources/http.md.erb
  docs/resources/iis_app.md.erb
  docs/resources/iis_site.md.erb
  docs/resources/inetd_conf.md.erb
  docs/resources/ini.md.erb
  docs/resources/interface.md.erb
  docs/resources/key_rsa.md.erb
  docs/resources/limits_conf.md.erb
  docs/resources/login_def.md.erb
  docs/resources/nginx.md.erb
  docs/resources/postgres_hba_conf.md.erb
  docs/resources/postgres_ident_conf.md.erb
  docs/resources/x509_certificate.md.erb
Labels: Expeditor: Skip All, docs

#2647 Formatting on XML resource
  docs/resources/xml.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2651 Add 1.x and 2.x release branches
  .expeditor/config.yml
Labels: Expeditor: Skip All, in progress

#2652 Bump version to 2.0.0
  VERSION
  lib/inspec/version.rb
Labels: Expeditor: Skip All, in progress

#2650 removes OS metadata from headers
  docs/resources/grub_conf.md.erb
  docs/resources/kernel_parameter.md.erb
  docs/resources/key_rsa.md.erb
  docs/resources/limits_conf.md.erb
  docs/resources/login_def.md.erb
Labels: Expeditor: Skip All, in progress

#2648 Fixes obvious formatting
  docs/resources/aide_conf.md.erb
  docs/resources/bridge.md.erb
  docs/resources/bsd_service.md.erb
  docs/resources/directory.md.erb
  docs/resources/docker_container.md.erb
  docs/resources/elasticsearch.md.erb
  docs/resources/etc_hosts.md.erb
  docs/resources/file.md.erb
  docs/resources/http.md.erb
  docs/resources/iis_app.md.erb
  docs/resources/iis_site.md.erb
  docs/resources/inetd_conf.md.erb
  docs/resources/ini.md.erb
  docs/resources/interface.md.erb
  docs/resources/key_rsa.md.erb
  docs/resources/limits_conf.md.erb
  docs/resources/os.md.erb
  docs/resources/parse_config_file.md.erb
  docs/resources/processes.md.erb
  docs/resources/user.md.erb
  docs/resources/windows_task.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2659 Add example properties from azure integration tests.
  docs/resources/azure_generic_resource.md.erb
  test/azure/verify/controls/generic_external_vm.rb
  test/azure/verify/controls/generic_external_vm_nic.rb
  test/azure/verify/controls/generic_internal_vm.rb
  test/azure/verify/controls/generic_internal_vm_nic.rb
  test/azure/verify/controls/generic_linux_vm_managed_os_disk.rb
  test/azure/verify/controls/generic_network_security_group.rb
  test/azure/verify/controls/generic_storage_account.rb
  test/azure/verify/controls/generic_virtual_network.rb
  test/azure/verify/controls/generic_windows_internal_vm.rb
Labels: Expeditor: Skip All, docs, in progress

#2665 Prevent resources from loading if supports check fails
  lib/inspec/plugins/resource.rb
  lib/inspec/runner.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/aws-profile/controls/aws.rb
  test/unit/mock/profiles/aws-profile/inspec.yml
  test/unit/plugins/resource_test.rb
  test/unit/resources/filesystem_test.rb
Labels: bug, in progress

#2671 Remove duplicated encryption key test.
  test/azure/verify/controls/generic_storage_account.rb
Labels: in progress

#2672 Add `Release:` to AWS `inspec detect` example
  docs/platforms.md
Labels: Expeditor: Skip All, docs, in progress

#2677 Fixes merge conflict messages
  docs/resources/aide_conf.md.erb
  docs/resources/azure_generic_resource.md.erb
  docs/resources/inetd_conf.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2670 Fix bundle exec calls
  lib/bundles/inspec-compliance/cli.rb
  lib/bundles/inspec-supermarket/cli.rb
  test/functional/inspec_supermakert_test.rb
Labels: in progress

#2673 Capture ArgumentErrors from aws.
  lib/resource_support/aws/aws_resource_mixin.rb
  test/unit/resource_supports/aws/aws_resource_mixin_test.rb
Labels: in progress

#2683 Hannah Review1
  www/source/community.html.slim
  www/source/images/community/users/Annie.png
  www/source/images/community/users/Christian.png
  www/source/images/community/users/jeremy.png
  www/source/images/community/users/noavatar.png
  www/source/index.html.slim
  www/source/layouts/layout.slim
  www/source/stylesheets/_buttons.scss
  www/source/stylesheets/_homepage.scss
  www/source/stylesheets/_layout.scss
  www/source/tutorials.html.slim
Labels: in progress

#2684 Revert download button
  www/source/index.html.slim
Labels: in progress

#2680 Add example profiles for AWS/Azure
  examples/profile-aws/controls/iam_password_policy_expiration.rb
  examples/profile-aws/controls/iam_password_policy_max_age.rb
  examples/profile-aws/controls/iam_root_user_mfa.rb
  examples/profile-aws/controls/iam_users_access_key_age.rb
  examples/profile-aws/controls/iam_users_console_users_mfa.rb
  examples/profile-aws/inspec.yml
  examples/profile-azure/controls/azure_resource_group_example.rb
  examples/profile-azure/controls/azure_vm_example.rb
  examples/profile-azure/inspec.yml
Labels: in progress

#2667 Fix legacy reporter output to file
  lib/inspec/base_cli.rb
  lib/inspec/runner_rspec.rb
  test/unit/base_cli_test.rb
Labels: bug, in progress

#2686 Updates the year to 2018
  lib/bundles/inspec-init/templates/profile/controls/example.rb
Labels: Expeditor: Skip All

#2689 Fix legacy reporter output to file (inspec-v1.x)
  .travis.yml
  appveyor.yml
  lib/inspec/base_cli.rb
  lib/inspec/runner_rspec.rb
  test/unit/base_cli_test.rb
Labels: in progress

#2692 Refactors the azure_resource_group doc
  docs/resources/azure_resource_group.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2690 Refactoring of azure generic resources doc
  docs/resources/azure_generic_resource.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2694 Fixes the deprecation warning text for report and output.
  lib/inspec/base_cli.rb
  test/unit/base_cli_test.rb
Labels: Expeditor: Skip All

#2698 www: fix sidebar stickiness
  www/source/layouts/docs.slim
  www/source/stylesheets/_sidebar.scss
Labels: in progress

#2699 HM website optimization
  tasks/docs.rb
  www/source/community.html.slim
  www/source/docs/index.html.slim
  www/source/downloads.html.slim
  www/source/fonts/fa-brands-400.eot
  www/source/fonts/fa-brands-400.svg
  www/source/fonts/fa-brands-400.ttf
  www/source/fonts/fa-brands-400.woff
  www/source/fonts/fa-brands-400.woff2
  www/source/fonts/fa-regular-400.eot
  www/source/fonts/fa-regular-400.svg
  www/source/fonts/fa-regular-400.ttf
  www/source/fonts/fa-regular-400.woff
  www/source/fonts/fa-regular-400.woff2
  www/source/fonts/fa-solid-900.eot
  www/source/fonts/fa-solid-900.svg
  www/source/fonts/fa-solid-900.ttf
  www/source/fonts/fa-solid-900.woff
  www/source/fonts/fa-solid-900.woff2
  www/source/index.html.slim
  www/source/layouts/_footer.slim
  www/source/layouts/_nav.slim
  www/source/layouts/layout.slim
  www/source/stylesheets/_buttons.scss
  www/source/stylesheets/_hero.scss
  www/source/stylesheets/_layout.scss
  www/source/stylesheets/_nav.scss
  www/source/stylesheets/_settings.scss
  www/source/stylesheets/vendor/_foundation-min.scss
  www/source/stylesheets/vendor/fontawesome.min.css
  www/tutorial/index.html
Labels: in progress

#2695 edits to platforms doc
  docs/platforms.md
Labels: Expeditor: Skip All, docs

#2705 HM Mobile IE
  www/source/community.html.slim
  www/source/docs/index.html.slim
  www/source/downloads.html.slim
  www/source/index.html.slim
  www/source/layouts/_footer.slim
  www/source/layouts/_nav.slim
  www/source/layouts/docs.slim
  www/source/layouts/layout.slim
  www/source/stylesheets/_buttons.scss
  www/source/stylesheets/_code.scss
  www/source/stylesheets/_footer.scss
  www/source/stylesheets/_homepage.scss
  www/source/stylesheets/_layout.scss
  www/source/stylesheets/_nav.scss
  www/source/stylesheets/_search.scss
  www/source/stylesheets/_settings.scss
  www/source/stylesheets/_sidebar.scss
  www/source/stylesheets/vendor/_foundation-min.scss
  www/source/tutorials.html.slim
Labels: in progress

#2703 Fixes formatting and words
  docs/resources/azure_resource_group.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2701 Refactors azure_virtual_machine_data_disk doc
  docs/resources/azure_virtual_machine_data_disk.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2702 Refactors azure_virtual_machine doc
  docs/resources/azure_virtual_machine.md.erb
Labels: Expeditor: Skip All, docs

#2704 Normalizes resource
  docs/resources/azure_generic_resource.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2706 fix mobile
  www/demo/package-lock.json
  www/source/community.html.slim
  www/source/downloads.html.slim
  www/source/images/circ-arrow.svg
  www/source/images/community/blue-web.png
  www/source/images/community/bugs.png
  www/source/images/community/contribute.png
  www/source/images/hexagon.svg
  www/source/images/home/arrow.png
  www/source/images/home/extensible.png
  www/source/images/home/free.svg
  www/source/images/home/language.png
  www/source/images/home/platform-logos.png
  www/source/images/home/platform.png
  www/source/images/home/run.png
  www/source/images/home/test-logos.png
  www/source/images/home/test.png
  www/source/images/home/web.png
  www/source/images/octagon.png
  www/source/images/open-close.svg
  www/source/images/tutorials/tutorial-icon.png
  www/source/index.html.slim
  www/source/layouts/_footer.slim
  www/source/layouts/_nav.slim
  www/source/layouts/docs.slim
  www/source/stylesheets/_homepage.scss
  www/source/stylesheets/_layout.scss
  www/source/stylesheets/_nav.scss
  www/source/stylesheets/_settings.scss
  www/source/stylesheets/_typography.scss
  www/source/tutorials.html.slim
Labels: Expeditor: Skip All, in progress

#2657 Spelling and punctuation check on Azure and AWS
  docs/resources/aws_cloudtrail_trail.md.erb
  docs/resources/aws_cloudtrail_trails.md.erb
  docs/resources/aws_cloudwatch_alarm.md.erb
  docs/resources/aws_cloudwatch_log_metric_filter.md.erb
  docs/resources/aws_ec2_instance.md.erb
  docs/resources/aws_iam_access_key.md.erb
  docs/resources/aws_iam_access_keys.md.erb
  docs/resources/aws_iam_password_policy.md.erb
  docs/resources/aws_iam_policies.md.erb
  docs/resources/aws_s3_bucket.md.erb
  docs/resources/aws_vpc.md.erb
  docs/resources/aws_vpcs.md.erb
  docs/resources/azure_generic_resource.md.erb
  docs/resources/azure_resource_group.md.erb
  docs/resources/azure_virtual_machine.md.erb
  docs/resources/azure_virtual_machine_data_disk.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2712 Update shell detect to work with platforms
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/shell.rb
  test/functional/inspec_detect_test.rb
  test/unit/base_cli_test.rb
Labels: in progress

#2716 Fix links on docs page
  www/data/docs_sidebar.yml
  www/source/docs/index.html.slim
Labels: Expeditor: Skip All

#2710 Fixes the paths for assets loading for javascript and stylesheets
  www/source/layouts/layout.slim
Labels: Expeditor: Skip All, www

#2725 InSpec SEO
  www/Gemfile
  www/config.rb
  www/source/community.html.slim
  www/source/downloads.html.slim
  www/source/index.html.slim
  www/source/layouts/_footer.slim
  www/source/layouts/_nav.slim
  www/source/layouts/layout.slim
  www/source/tutorials.html.slim
  www/source/under_construction.html.slim
Labels: in progress

#2718 remove release-2.0 branch from Travis
  .travis.yml
Labels: in progress

#2728 Update maintainers file
  MAINTAINERS.md
  MAINTAINERS.toml
Labels: in progress

#2730 package resource: Fix `brew` package detection
  lib/resources/package.rb
  test/helper.rb
  test/unit/mock/cmd/brew-info--json-v1-nginx
  test/unit/resources/package_test.rb
Labels: Type: Bug, in progress

#2679 Updates README to use function instead of alias
  README.md
Labels: Expeditor: Skip All, docs

#2721 Reword `it` block in `inspec check` tests to match actual test
  test/functional/inspec_check_test.rb
Labels: in progress

#2707 Always make sure the copyright footer has the correct year
  www/source/layouts/_footer.slim
Labels: Expeditor: Skip All, in progress, www

#2715 docs: Enhance `http` resource documentation
  docs/resources/http.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2708 Fix infrastructure code example and typo in parse_config_file reference
  lib/resources/parse_config.rb
  www/source/index.html.slim
Labels: Expeditor: Skip All, docs, in progress

#2737 Fix inspec check to work with platforms
  lib/inspec/plugins/resource.rb
  test/functional/inspec_check_test.rb
Labels: in progress

#2743 emoji in issue template
  ISSUE_TEMPLATE.md
Labels: Expeditor: Skip All, in progress

#2731 Fixes partially indented blocks and unescaped underscores
  docs/resources/auditd.md.erb
  docs/resources/aws_ec2_instance.md.erb
  docs/resources/aws_iam_policy.md.erb
  docs/resources/aws_iam_role.md.erb
  docs/resources/aws_route_table.md.erb
  docs/resources/aws_security_group.md.erb
  docs/resources/aws_security_groups.md.erb
  docs/resources/aws_sns_topic.md.erb
  docs/resources/crontab.md.erb
Labels: Expeditor: Skip All, docs

#2644 Fixes dh_params doc
  docs/resources/dh_params.md.erb
Labels: Expeditor: Skip All, docs

#2551 Refactore json docs
  docs/resources/json.md.erb
Labels: Expeditor: Skip All, docs

#2539 Refactors host docs
  docs/resources/host.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2732 Updated omnibus `postinst` script to symlink to appbundle created binstubs
  ci/verify-inspec.bat
  ci/verify-inspec.sh
  omnibus/package-scripts/inspec/postinst
Labels: in progress

#2603 virtualization_resource: Fix `NoMethodError` on `nil:NilClass`
  lib/resources/virtualization.rb
  test/unit/resources/virtualization_test.rb
Labels: in progress

#2521 WIP: Docker resource docs first commit
  docs/resources/docker.md.erb
Labels: Expeditor: Skip All, docs, in progress

#2626 Kg/k module
  docs/resources/kernel_module.md.erb
Labels: Expeditor: Skip All, docs, in progress
