Repository inspec/inspec, pull requests merged in 2018-09, with the labels that each got.

#3360 handle errors from automate report and display them to the user
  lib/inspec/reporters/automate.rb
Labels: Type: Enhancement

#3286 Harmonize vendoring (ensure archives are extracted and local paths do not vendor on exec)
  lib/fetchers/local.rb
  lib/inspec.rb
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/dependencies/cache.rb
  lib/inspec/file_provider.rb
  lib/inspec/globals.rb
  lib/inspec/profile.rb
  lib/inspec/profile_vendor.rb
  test/functional/helper.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_exec_test.rb
  test/functional/inspec_vendor_test.rb
  test/helper.rb
  test/unit/mock/profiles/archive-depends/inspec.yml
  test/unit/mock/profiles/archived-profiles/tar_profile-1.0.0.tar.gz
  test/unit/mock/profiles/archived-profiles/zip_profile-1.0.0.zip
  test/unit/mock/profiles/local-depends/inspec.yml
Labels: CLI:vendor, Release: 3.x, Type: Enhancement

#3372 Update expeditor to use subscriptions
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3366 do not show success message since its confusing
  lib/bundles/inspec-compliance/cli.rb
Labels: Aspect: UX, CLI: compliance, Type: Enhancement

#3377 Fix vendoring functional test cleanup
  test/functional/inspec_exec_test.rb
Labels: Type: Bug

#3376 enforce utf encoding for cli output
  lib/inspec/reporters/cli.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/wrong-char-profile/controls/control.rb
  test/unit/mock/profiles/wrong-char-profile/files/ascii
  test/unit/mock/profiles/wrong-char-profile/inspec.yml
Labels: Type: Bug

#3374 Fixing AWS integration tests.
  test/integration/aws/default/verify/controls/aws_iam_groups.rb
  test/integration/aws/default/verify/controls/aws_iam_role.rb
  test/integration/aws/default/verify/controls/aws_subnet.rb
  test/integration/aws/default/verify/controls/aws_subnets.rb
  test/integration/aws/default/verify/controls/aws_vpc.rb
Labels: Type: Bug

#3388 Update rubyzip to resolve a directory traversal security vulnerability.
  inspec.gemspec
Labels: Aspect: Security

#3391 Prevent logs from showing up when running inspec json
  lib/inspec/cli.rb
  test/functional/inspec_json_profile_test.rb
  test/unit/mock/profiles/warn_logs/controls/control_with_logs.rb
  test/unit/mock/profiles/warn_logs/inspec.yml
Labels: Type: Bug

#3392 Fix the compliance target error checks
  lib/bundles/inspec-compliance/target.rb
  test/unit/bundles/inspec-compliance/target_test.rb
Labels: Type: Bug

#3359 Add string impact options for controls
  examples/profile/controls/gordon.rb
  lib/inspec.rb
  lib/inspec/errors.rb
  lib/inspec/impact.rb
  lib/inspec/rule.rb
  test/functional/inspec_exec_json_test.rb
  test/helper.rb
  test/unit/impact_test.rb
Labels: Type: New Feature

#3393 Fix rendering of profiles docs
  docs/profiles.md
Labels: Component: Website

#3383 Added db_name flag
  docs/resources/mssql_session.md.erb
  lib/resources/mssql_session.rb
Labels: Type: New Feature

#3384 Plugins: Add support for 'bundles' migration
  Rakefile
  lib/inspec/plugin/v2/loader.rb
  lib/plugins/README.md
  lib/plugins/shared/core_plugin_test_helper.rb
  test/functional/plugins_test.rb
  test/helper.rb
  test/unit/plugin/v2/loader_test.rb
  test/unit/reporters/automate_test.rb
  test/unit/resources/aws_route_tables_test.rb
Labels: Component: Plugins, Type: Enhancement

#3398 adding `versions` to the `gem` resource
  docs/resources/gem.md.erb
  lib/resources/gem.rb
  test/unit/resources/gem_test.rb
Labels: Type: Enhancement

#3420 Remove load locks for cloud resources
  lib/inspec/resource.rb
Labels: Aspect: Packaging, Platform: AWS, Platform: Azure, Type: Bug

#3439 Grammar correction in error message: use "an" with attribute and unknown
  lib/inspec/attribute_registry.rb
  test/unit/attribute_registry_test.rb
Labels: Aspect: UX, Type: Bug

#3431 Add audit-cookbook integration testing
  .kitchen.yml
  .travis.yml
  Berksfile
  Rakefile
  docs/dev/integration-testing.md
  test/cookbooks/os_prepare/recipes/default.rb
  test/integration/default/controls/audit_spec.rb
  test/unit/mock/config_dirs/test-fixture-1-float/plugins.json
  test/unit/plugin/v2/api_base_test.rb
Labels: Aspect: Integration, Aspect: Testing, Type: New Feature

#3435 Remove deprecated yumrepo.
  lib/resources/yum.rb
Labels: Component: Core Resources, Type: Deprecation

#3448 Bump minor version
  README.md
Labels: Version: Bump Minor

#3356 RFC inspec style guide
  docs/dsl_inspec.md
  docs/ruby_usage.md
  docs/style.md
  www/data/docs_sidebar.yml
Labels: Aspect: Docs, Type: RFC

#3453 Update plugin gem install code
  lib/inspec/plugin/v2/installer.rb
  test/unit/plugin/v2/installer_test.rb
Labels: CLI: plugin, Type: Bug
