Repository inspec/inspec, pull requests merged in 2018-10, with the labels that each got.

#3450 Modify `cmp` matcher output to use `.inspect`
  lib/matchers/matchers.rb
Labels: Type: Enhancement

#3460 Add GCP and Azure to the docs list
  contrib/contrib.yaml
Labels: Aspect: Docs, Component: Website, Expeditor: Skip All

#3463 Fix distinct_exit cli desc to reflect reality
  lib/inspec/cli.rb
Labels: Type: Bug

#3423 Move compliance to v2 plugin
  Rakefile
  lib/bundles/inspec-compliance.rb
  lib/bundles/inspec-compliance/.kitchen.yml
  lib/bundles/inspec-compliance/api.rb
  lib/bundles/inspec-compliance/api/login.rb
  lib/bundles/inspec-compliance/bootstrap.sh
  lib/bundles/inspec-compliance/cli.rb
  lib/bundles/inspec-compliance/configuration.rb
  lib/bundles/inspec-compliance/http.rb
  lib/bundles/inspec-compliance/support.rb
  lib/bundles/inspec-compliance/target.rb
  lib/inspec/base_cli.rb
  lib/plugins/inspec-compliance/README.md
  lib/plugins/inspec-compliance/lib/inspec-compliance.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/api.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/api/login.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/configuration.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/http.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/images/cc-token.png
  lib/plugins/inspec-compliance/lib/inspec-compliance/support.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/target.rb
  lib/plugins/inspec-compliance/test/functional/inspec_compliance_test.rb
  lib/plugins/inspec-compliance/test/integration/default/cli.rb
  lib/plugins/inspec-compliance/test/unit/api/login_test.rb
  lib/plugins/inspec-compliance/test/unit/api_test.rb
  lib/plugins/inspec-compliance/test/unit/target_test.rb
  test/functional/inspec_compliance_test.rb
  test/helper.rb
  test/unit/base_cli_test.rb
  test/unit/plugin/v2/loader_test.rb
Labels: Type: Enhancement

#3469 Fix Packages Resource Docs
  docs/resources/packages.md.erb
Labels: Aspect: Docs

#3483 small fix - update to AlpinePkg Class
  lib/resources/package.rb
Labels: Type: Bug

#3477 docs: Add version to multiple descriptions doc
  docs/dsl_inspec.md
Labels: Aspect: Docs, Component: DSL

#3485 Fix error on empty attributes yaml
  lib/inspec/profile.rb
  test/functional/attributes_test.rb
  test/unit/mock/profiles/profile-with-empty-attributes/inspec.yml
Labels: Type: Bug

#3458 Plugins: Filter Plugins During Search and Install
  etc/plugin_filters.json
  lib/inspec/plugin/v2.rb
  lib/inspec/plugin/v2/filter.rb
  lib/inspec/plugin/v2/installer.rb
  lib/plugins/inspec-plugin-manager-cli/lib/inspec-plugin-manager-cli/cli_command.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/inspec-plugin_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/unit/cli_args_test.rb
  test/unit/plugin/v2/installer_test.rb
Labels: Aspect: UX, CLI: plugin, Type: Enhancement

#3493 Backport compliance namespace and add testing for A2 audit report.
  .kitchen.yml
  lib/bundles/inspec-compliance/api.rb
  lib/bundles/inspec-compliance/configuration.rb
  lib/bundles/inspec-compliance/http.rb
  lib/bundles/inspec-compliance/support.rb
  lib/bundles/inspec-compliance/target.rb
Labels: Type: Bug

#3505 Fix plugin install issues in different ruby envs
  lib/inspec/plugin/v2/installer.rb
Labels: Aspect: Packaging, CLI: plugin, Component: Plugins, Type: Bug

#3494 Change `Inspec ` to `InSpec ` where appropriate
  GITHUB_LABELS.md
  docs/dev/integration-testing.md
  docs/dev/plugins.md
  docs/resources/aws_security_group.md.erb
  docs/resources/azure_generic_resource.md.erb
  docs/resources/azure_virtual_machine.md.erb
  docs/resources/registry_key.md.erb
  examples/profile/controls/gordon.rb
  lib/bundles/inspec-supermarket/cli.rb
  lib/inspec/cli.rb
  lib/inspec/secrets/yaml.rb
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
  lib/plugins/inspec-artifact/lib/inspec-artifact/cli.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
  lib/resources/aws/aws_iam_user.rb
  lib/resources/azure/azure_generic_resource.rb
  lib/resources/azure/azure_resource_group.rb
  lib/resources/azure/azure_virtual_machine.rb
  lib/resources/azure/azure_virtual_machine_data_disk.rb
  lib/resources/chocolatey_package.rb
  test/functional/inspec_exec_json_test.rb
  test/integration/azure/build/azure.tf
  test/integration/azure/verify/controls/generic_resources.rb
  test/integration/azure/verify/controls/resource_group.rb
  test/unit/mock/config_dirs/train-test-fixture/gems/2.3.0/gems/train-test-fixture-0.1.0/train-test-fixture.gemspec
  test/unit/mock/config_dirs/train-test-fixture/gems/2.3.0/specifications/train-test-fixture-0.1.0.gemspec
  test/unit/mock/config_dirs/train-test-fixture/gems/2.4.0/gems/train-test-fixture-0.1.0/train-test-fixture.gemspec
  test/unit/mock/config_dirs/train-test-fixture/gems/2.4.0/specifications/train-test-fixture-0.1.0.gemspec
  test/unit/mock/config_dirs/train-test-fixture/gems/2.5.0/gems/train-test-fixture-0.1.0/train-test-fixture.gemspec
  test/unit/mock/config_dirs/train-test-fixture/gems/2.5.0/specifications/train-test-fixture-0.1.0.gemspec
  test/unit/plugin/v2/installer_test.rb
  test/unit/resources/aws_iam_user_test.rb
  test/unit/resources/x509_certificate_test.rb
  www/source/legal/licensing.html.slim
  www/source/legal/trademark-policy.html.slim
Labels: Aspect: Docs, Component: Website

#3514 Bump master branch to 3.0
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3481 FilterTable: allow Strings or Symbols as fields
  lib/utils/filter.rb
  test/functional/filter_table_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/filter_table/controls/validate_criteria_as_params.rb
Labels: Component: FilterTable, Type: Bug

#3517 docs: Add link to the file resource from directory
  docs/resources/directory.md.erb
Labels: Aspect: Docs, Expeditor: Skip All

#3515 docs: Fix small issues with the `file` resource
  docs/resources/file.md.erb
Labels: Aspect: Docs, Habitat: Skip Build, Omnibus: Skip Build

#3527 Minor cleanups of plugin documentation. 'Plugin' instead of 'PluginDefinition'
  docs/dev/plugins.md
  docs/plugins.md
Labels: Aspect: Docs, Type: Enhancement

#3526 Fixes corrupt plugins.json when testing a plugin outside of core
  lib/plugins/shared/core_plugin_test_helper.rb
Labels: Aspect: Testing, Component: Plugins, Type: Bug

#3405 New resource to work with Windows security identifiers (SIDs)
  appveyor.yml
  docs/resources/security_identifier.md.erb
  lib/inspec/resource.rb
  lib/resources/security_identifier.rb
  test/helper.rb
  test/integration/default/controls/security_identifier_spec.rb
  test/unit/mock/cmd/security-identifier-alice
  test/unit/mock/cmd/security-identifier-guests
  test/unit/mock/cmd/security-identifier-unknown
  test/unit/resources/security_identifier_test.rb
Labels: Component: Core Resources, Platform: Windows, Type: New Resource

#3533 Add ksh (Korn Shell) resource
  lib/inspec/resource.rb
  lib/resources/ksh.rb
  lib/utils/command_wrapper.rb
  test/unit/resources/ksh_test.rb
Labels: Type: New Resource

#3537 Correct/Enhance `cmp` matcher examples
  docs/matchers.md
Labels: Aspect: Docs, Component: Matchers, Component: Website, Expeditor: Skip All, Type: Enhancement

#3541 Update to safe navigation exit code search
  lib/inspec/runner_rspec.rb
  test/unit/runner_test.rb
Labels: Type: Bug

#3536 Add `cmp` vs `eq` to the style guide
  docs/style.md
Labels: Aspect: Docs, Component: Matchers, Component: Website, Expeditor: Skip All

#3362 ✓ adds additional checks for vendored profiles
  lib/inspec/profile.rb
  test/functional/inspec_check_test.rb
  test/unit/mock/profiles/profile-lock-insync/inspec.lock
  test/unit/mock/profiles/profile-lock-insync/inspec.yml
  test/unit/mock/profiles/profile-lock-insync/vendor/f15d94086d07cb81d2a69b2b774135b1dbfd1c1918415aec7d266658aecfb47a.zip
  test/unit/mock/profiles/profile-lock-notrequired/inspec.yml
  test/unit/mock/profiles/profile-lock-outofsync/inspec.lock
  test/unit/mock/profiles/profile-lock-outofsync/inspec.yml
  test/unit/mock/profiles/profile-lock-outofsync/vendor/f15d94086d07cb81d2a69b2b774135b1dbfd1c1918415aec7d266658aecfb47a.zip
  test/unit/mock/profiles/profile-lock-required/inspec.yml
Labels: Type: Enhancement
