Repository inspec/inspec, pull requests merged in 2018-04, with the labels that each got.

#2892 Add AWS hardware MFA matcher
  docs/resources/aws_iam_root_user.md.erb
  lib/resources/aws/aws_iam_root_user.rb
  test/integration/aws/default/verify/controls/aws_iam_root_user.rb
  test/integration/aws/minimal/verify/controls/aws_iam_root_user.rb
  test/unit/resources/aws_iam_root_user_test.rb
Labels: Type: Enhancement

#2899 Wrong matcher name in example for aws_config_recorder
  docs/resources/aws_config_recorder.md.erb
Labels: aws, docs

#2901 add systemd service for amazon linux 2
  lib/resources/service.rb
Labels: Type: Enhancement

#2904 Update example resource syntax
  docs/dsl_resource.md
  examples/profile/libraries/gordon_config.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_jsonmin_test.rb
  test/functional/inspec_exec_test.rb
Labels: docs

#2793 New Resource: Chocolatey Package
  docs/resources/chocolatey_package.md.erb
  lib/inspec/resource.rb
  lib/resources/chocolatey_package.rb
  test/helper.rb
  test/unit/mock/cmd/choco-list-nssm
  test/unit/resources/chocolatey_package_test.rb
Labels: Type: New Resource

#2653 New Skeletal Resource aws_s3_buckets
  docs/resources/aws_s3_buckets.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_s3_buckets.rb
  test/integration/aws/default/verify/controls/aws_s3_buckets.rb
  test/unit/resources/aws_s3_buckets_test.rb
Labels: Type: New Resource, aws

#2643 New Skeletal Resource aws_route_tables
  docs/resources/aws_route_tables.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_route_tables.rb
  test/integration/aws/default/build/route_table.tf
  test/integration/aws/default/verify/controls/aws_route_table.rb
  test/integration/aws/default/verify/controls/aws_route_tables.rb
  test/unit/resources/aws_route_tables_test.rb
Labels: Type: New Resource, aws

#2922 Update PowerShell requirement and add an asterisk
  README.md
Labels: Expeditor: Skip All, docs

#2888 aws_iam_group feature: test users in an iam group
  docs/resources/aws_iam_group.md.erb
  lib/resources/aws/aws_iam_group.rb
  test/integration/aws/default/build/iam.tf
  test/integration/aws/default/verify/controls/aws_iam_group.rb
  test/unit/resources/aws_iam_group_test.rb
Labels: Type: New Feature, aws

#2887 aws_cloudtrail_trail feature: test how many days ago logs were delivered
  docs/resources/aws_cloudtrail_trail.md.erb
  lib/resources/aws/aws_cloudtrail_trail.rb
  test/integration/aws/default/verify/controls/aws_cloudtrail_trail.rb
  test/unit/resources/aws_cloudtrail_trail_test.rb
Labels: Type: New Feature, aws

#2919 Fix filesystem docs typo
  docs/resources/filesystem.md.erb
Labels: Expeditor: Skip All, docs

#2927 Change its to it in aws root user docs
  docs/resources/aws_iam_root_user.md.erb
Labels: Expeditor: Skip All, Type: Bug, aws, docs

#2946 Expeditor docs are available over http
  .expeditor/config.yml
Labels: Changelog: Skip Update, Expeditor: Skip All

#2934 Add warning when returning DEFAULT_ATTRIBUTE
  lib/inspec/objects/attribute.rb
Labels: Type: Enhancement, in progress

#2941 Fixes configuration for Azure integrationt tests
  Rakefile
Labels: in progress

#2839 New attribute JUnit reporter - target
  lib/inspec/reporters/junit.rb
  test/unit/mock/reporters/junit_output
  test/unit/reporters/junit_test.rb
Labels: Type: New Feature

#2949 Document the inspec_version metadata field
  docs/profiles.md
Labels: Expeditor: Skip All, docs, in progress

#2918 Policy Statement Search capability for aws_iam_policy
  docs/resources/aws_iam_policy.md.erb
  lib/resources/aws/aws_iam_policy.rb
  test/integration/aws/default/build/iam.tf
  test/integration/aws/default/verify/controls/aws_iam_policy.rb
  test/unit/resources/aws_iam_policy_test.rb
Labels: Type: New Feature, aws

#2933 Fixed Docs asking for metric instead of metric_name
  docs/resources/aws_cloudwatch_alarm.md.erb
  lib/resources/aws/aws_cloudwatch_alarm.rb
Labels: Expeditor: Skip All, docs

#2930 Basic fields for aws_vpcs
  docs/resources/aws_vpcs.md.erb
  lib/resources/aws/aws_vpc.rb
  lib/resources/aws/aws_vpcs.rb
  test/integration/aws/default/build/ec2.tf
  test/integration/aws/default/verify/controls/aws_vpc.rb
  test/integration/aws/default/verify/controls/aws_vpcs.rb
  test/unit/resources/aws_vpc_test.rb
  test/unit/resources/aws_vpcs_test.rb
Labels: Type: New Feature, aws, in progress

#2891 Require a key attribute for the key_rsa resource
  lib/resources/key_rsa.rb
  lib/utils/pkey_reader.rb
Labels: Type: Enhancement

#2905 Add Cisco IOS `enable_password` support
  inspec.gemspec
  lib/inspec/base_cli.rb
Labels: Type: Enhancement

#2952 powershell resource: Add support line for Unix
  lib/resources/powershell.rb
Labels: in progress

#2960 updating output for aws_iam_role to match other AWS resources
  lib/resources/aws/aws_iam_role.rb
Labels: Type: Enhancement, aws, in progress

#2958 aws_iam_policy statement search fix for degenerate policies
  lib/resources/aws/aws_iam_policy.rb
  test/integration/aws/default/verify/controls/aws_iam_policy.rb
  test/unit/resources/aws_iam_policy_test.rb
Labels: Type: Bug, aws, in progress

#2961 Fixed numerous naming errors in aws_iam_vpcs integration tests
  test/integration/aws/default/build/ec2.tf
  test/integration/aws/default/verify/controls/aws_vpcs.rb
Labels: Type: Bug, aws, in progress

#2974 Fix docs: 404 in URLs for docker resourse
  docs/resources/docker.md.erb
Labels: Expeditor: Skip All, docs

#2972 updating kitchen-puppet example for the `puppet_apply` provisioner
  examples/kitchen-puppet/.kitchen.yml
  examples/kitchen-puppet/modules/.gitkeep
Labels: Type: Bug, in progress

#2970 Amazon linux service mgmt detection
  lib/resources/service.rb
  test/helper.rb
  test/unit/resources/service_test.rb
Labels: Type: Enhancement

#2968 Upgrade Terraform version pins for integration testing
  .gitignore
  Rakefile
  test/integration/aws/default/build/aws.tf
  test/integration/aws/default/build/cloudtrail.tf
  test/integration/aws/default/build/route_table.tf
  test/integration/aws/minimal/build/aws.tf
  test/integration/azure/build/azure.tf
Labels: Type: Enhancement, aws, azure, in progress

#2963 Add A2 support to the inspec-compliance toolset
  lib/bundles/inspec-compliance/README.md
  lib/bundles/inspec-compliance/api.rb
  lib/bundles/inspec-compliance/api/login.rb
  lib/bundles/inspec-compliance/cli.rb
  lib/bundles/inspec-compliance/http.rb
  lib/bundles/inspec-compliance/target.rb
  lib/fetchers/url.rb
  lib/inspec/base_cli.rb
  test/unit/bundles/inspec-compliance/api/login_test.rb
  test/unit/bundles/inspec-compliance/api_test.rb
Labels: in progress

#2954 Update Resource documentation for Users Resource
  docs/resources/users.md.erb
Labels: Expeditor: Skip All, docs

#2969 Add missing `git` to Dockerfile.
  Dockerfile
Labels: Type: Bug, in progress

#2978 Update shadow#to_s to return @path instead of hardcoded `/etc/shadow`
  lib/resources/shadow.rb
  test/unit/resources/shadow_test.rb
Labels: Type: Enhancement, in progress

#2984 Fix case where res is nil in etc_group
  lib/resources/etc_group.rb
Labels: bug, in progress

#2987 Catch exceptions in control blocks and fail the control
  docs/dev/control-eval.md
  lib/inspec/rule.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/exception-in-control/README.md
  test/unit/mock/profiles/exception-in-control/controls/01-file.rb
  test/unit/mock/profiles/exception-in-control/controls/02-sshd_config.rb
  test/unit/mock/profiles/exception-in-control/controls/03-syntax.rb
  test/unit/mock/profiles/exception-in-control/inspec.yml
Labels: Component: Loader, Type: Bug, in progress

#3000 Update Habitat plan
  habitat/plan.sh
Labels: in progress

#2996 Refactors Terraform plan to break out steps
  .gitignore
  README.md
  Rakefile
  test/integration/aws/TESTING_AGAINST_AWS.md
  test/integration/azure/TESTING_AGAINST_AZURE.md
Labels: Type: Enhancement, in progress
