Repository inspec/inspec, pull requests merged in 2018-07, with the labels that each got.

#3186 Update the node platform issues to warn severity
  lib/inspec/formatters/base.rb
Labels: Aspect: UX, CLI: exec, Type: Enhancement

#3196 Fix some issues with the vendor functional tests
  test/functional/inspec_vendor_test.rb
Labels: Aspect: Testing, Type: Bug

#3195 cli: Add `--insecure` option for `exec` and `shell`
  lib/inspec/base_cli.rb
Labels: Type: New Feature

#3180 Updating inspec with bastion options
  lib/inspec/base_cli.rb
  test/functional/inspec_exec_test.rb
Labels: Type: Enhancement

#3179 Accept regexes for --controls option to inspec exec
  lib/inspec/base_cli.rb
  lib/inspec/profile.rb
  test/functional/filter_table_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/filter_table/controls/lazy_loading_columns.rb
Labels: Aspect: UX, CLI: exec, Type: Enhancement

#3156 Overhaul shadow docs
  docs/resources/shadow.md.erb
Labels: Aspect: Docs, Component: Core Resources, Expeditor: Skip All, Platform: Unix-like

#3193 fix for apache_conf to handle quoted Includes
  lib/resources/apache_conf.rb
Labels: Type: Bug

#3170 A number of bug fixes and new features for oracledb_session resource
  docs/resources/oracledb_session.md.erb
  lib/resources/oracledb_session.rb
  lib/utils/database_helpers.rb
  test/helper.rb
Labels: Aspect: Docs, Component: Core Resources, Platform: Databases, Type: Bug, Type: New Feature

#3201 docs: Fix formatting/style on InSpec DSL page
  docs/dsl_inspec.md
Labels: Aspect: Docs

#3207 command resource: Allow redacting `#to_s`
  docs/resources/command.md.erb
  lib/resources/command.rb
  test/unit/resources/command_test.rb
Labels: Aspect: Security, Component: Core Resources, Type: New Feature

#3225 Fix shell quoting in docker example
  README.md
Labels: Aspect: Docs, Expeditor: Skip All

#3212 Add a CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ISSUE_TEMPLATE.md
  README.md
  bin/inspec
Labels: Aspect: Docs, Expeditor: Skip All

#3214 Refactor 'inspec init profile' into a reusable component.
  lib/bundles/inspec-init.rb
  lib/bundles/inspec-init/cli.rb
  lib/bundles/inspec-init/renderer.rb
  lib/inspec/base_cli.rb
Labels: Aspect: Portability, Type: Enhancement

#3229 docs: Fix first xinetd_conf example
  docs/resources/xinetd_conf.md.erb
Labels: Aspect: Docs, Expeditor: Skip All

#3231 Ensure resources fail that target something that isn't supported
  lib/inspec/plugins/resource.rb
  test/functional/inspec_exec_test.rb
  test/unit/resources/crontab_test.rb
  test/unit/resources/shadow_test.rb
  test/unit/resources/virtualization_test.rb
  test/unit/resources/wmi_test.rb
Labels: Type: Enhancement

#3230 Markdown and code fence fixes
  docs/dsl_inspec.md
  docs/glossary.md
  docs/habitat.md
  docs/inspec_and_friends.md
  docs/matchers.md
  docs/plugin_kitchen_inspec.md
  docs/profiles.md
  docs/reporters.md
  docs/ruby_usage.md
Labels: Aspect: Docs, Expeditor: Skip All, in progress

#3227 Generate describe code for an array of strings
  lib/inspec/objects/describe.rb
  test/unit/dsl/describe_test.rb
Labels: Type: Enhancement

#3216 Update docs for registry keys with period characters
  docs/resources/registry_key.md.erb
Labels: Aspect: Docs, Expeditor: Skip All

#3215 Add Alpine package provider
  lib/resources/package.rb
  test/helper.rb
  test/unit/mock/cmd/apk-info-grep-git
  test/unit/resources/package_test.rb
Labels: Type: New Feature

#3241 Update hab plan for hab 0.56+
  habitat/plan.sh
Labels: Expeditor: Skip All

#3240 Add link to cookie policy
  www/source/layouts/_footer.slim
Labels: Aspect: Docs, Expeditor: Skip All

#3239 Add extra fault checking to git fetcher
  lib/fetchers/git.rb
Labels: Type: Enhancement

#3238 alpine resource: Fix small style issues
  lib/resources/package.rb
  test/helper.rb
  test/unit/resources/package_test.rb
Labels: Type: Enhancement

#3224 windows_feature resource: Add DISM support
  docs/resources/windows_feature.md.erb
  lib/resources/windows_feature.rb
  test/helper.rb
  test/unit/mock/cmd/dism-iis-webserver
  test/unit/mock/cmd/get-windows-feature-iis-webserver
  test/unit/resources/windows_feature_test.rb
Labels: Type: New Feature

#3256 Correct `whom` usage in README.md
  CODE_OF_CONDUCT.md
Labels: Aspect: Docs, Expeditor: Skip All

#3243 Since /proc/xen is an empty dir in Amazon Linux, inspec falsely detects docker instances as platform='xen'
  lib/resources/virtualization.rb
Labels: Type: Enhancement
