Repository inspec/inspec, pull requests merged in 2018-08, with the labels that each got.

#3184 Ability to render contrib resource pack docs on main website
  .gitignore
  Gemfile
  Rakefile
  contrib/contrib.yaml
  tasks/contrib.rb
  tasks/docs.rb
  www/Gemfile
Labels: Aspect: Integration, Aspect: Packaging, Component: Website

#3260 Bump the chef client version for tests.
  .kitchen.yml
Labels: Type: Enhancement

#3259 Escaping package names for windows packages
  lib/resources/package.rb
  test/helper.rb
Labels: Type: Enhancement

#3261 Add a merged json report for A2
  lib/inspec/reporters.rb
  lib/inspec/reporters/automate.rb
  lib/inspec/reporters/json_merged.rb
  test/unit/mock/reporters/json_merged_output
  test/unit/mock/reporters/run_data_wrapper.json
  test/unit/reporters/json_merged.rb
Labels: Type: Enhancement

#3271 Doc to explain Github Labels
  GITHUB_LABELS.md
Labels: Aspect: Docs, Expeditor: Skip All

#3277 Add support in aws_route_table to allow 17 hexadecimal characters
  lib/resources/aws/aws_route_table.rb
  test/unit/resources/aws_route_table_test.rb
  test/unit/resources/aws_route_tables_test.rb
Labels: Type: Bug

#3248 Correct docs for Windows registry_key resource
  docs/resources/registry_key.md.erb
Labels: Aspect: Docs, Expeditor: Skip All

#3280 Error cleanly if a reporter errors while rendering
  lib/inspec/runner.rb
  test/functional/inspec_exec_automate.rb
Labels: Aspect: Integration, Component: Reporters, Type: Bug

#3213 Add new resource: aws_ecs_cluster
  lib/resource_support/aws.rb
  lib/resources/aws/aws_ecs_cluster.rb
  test/unit/resources/aws_ecs_cluster_test.rb
Labels: Platform: AWS, Type: New Resource

#2400 add iis_app_pool resource
  lib/inspec/resource.rb
  lib/resources/iis_app_pool.rb
  test/helper.rb
  test/unit/mock/cmd/iis-default-app-pool
  test/unit/resources/iis_app_pool_test.rb
Labels: Platform: Windows, Type: New Resource

#3282 Fix expeditor action order issue
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3279 update docs to use new platform attributes in supports
  docs/profiles.md
Labels: Aspect: Docs, Expeditor: Skip All, Type: Enhancement

#3278 Plugins API v2: Loader, Base API, and Test Harness
  docs/dev/plugins.md
  lib/bundles/inspec-artifact/cli.rb
  lib/bundles/inspec-compliance/cli.rb
  lib/bundles/inspec-habitat/cli.rb
  lib/bundles/inspec-init/cli.rb
  lib/bundles/inspec-supermarket/cli.rb
  lib/inspec.rb
  lib/inspec/cli.rb
  lib/inspec/dependencies/requirement.rb
  lib/inspec/fetcher.rb
  lib/inspec/library_eval_context.rb
  lib/inspec/plugin/v1.rb
  lib/inspec/plugin/v1/plugin_types/cli.rb
  lib/inspec/plugin/v1/plugin_types/fetcher.rb
  lib/inspec/plugin/v1/plugin_types/resource.rb
  lib/inspec/plugin/v1/plugin_types/secret.rb
  lib/inspec/plugin/v1/plugin_types/source_reader.rb
  lib/inspec/plugin/v1/plugins.rb
  lib/inspec/plugin/v1/registry.rb
  lib/inspec/plugin/v2.rb
  lib/inspec/plugin/v2/activator.rb
  lib/inspec/plugin/v2/loader.rb
  lib/inspec/plugin/v2/plugin_base.rb
  lib/inspec/plugin/v2/plugin_types/cli.rb
  lib/inspec/plugin/v2/plugin_types/mock.rb
  lib/inspec/plugin/v2/registry.rb
  lib/inspec/plugin/v2/status.rb
  lib/inspec/resource.rb
  lib/inspec/secrets.rb
  lib/inspec/source_reader.rb
  test/functional/helper.rb
  test/functional/plugins_test.rb
  test/unit/mock/config_dirs/bad_plugin_conf_version/plugins.json
  test/unit/mock/config_dirs/corrupt/plugins.json
  test/unit/mock/config_dirs/empty/.gitkeep
  test/unit/mock/config_dirs/fakehome/.inspec/plugins.json
  test/unit/mock/config_dirs/meaning_by_path/plugins.json
  test/unit/mock/config_dirs/plugin_error_on_load/plugins.json
  test/unit/mock/plugins/inspec-divide-by-zero/inspec-divide-by-zero.rb
  test/unit/mock/plugins/meaning_of_life_cli_gem_mode/gems/2.4.0/gems/inspec-meaning-of-life-cli-0.1.0/lib/inspec-meaning-of-life-cli.rb
  test/unit/mock/plugins/meaning_of_life_cli_gem_mode/gems/2.4.0/gems/inspec-meaning-of-life-cli-0.1.0/lib/inspec-meaning-of-life-cli/cli.rb
  test/unit/mock/plugins/meaning_of_life_cli_gem_mode/gems/2.4.0/gems/inspec-meaning-of-life-cli-0.1.0/lib/inspec-meaning-of-life-cli/plugin.rb
  test/unit/mock/plugins/meaning_of_life_path_mode/inspec-meaning-of-life.rb
  test/unit/mock/plugins/meaning_of_life_path_mode/inspec-meaning-of-life/mock_plugin.rb
  test/unit/mock/plugins/meaning_of_life_path_mode/inspec-meaning-of-life/plugin.rb
  test/unit/plugin/v1/plugin_test.rb
  test/unit/plugin/v1/resource_test.rb
  test/unit/plugin/v2/api_base_test.rb
  test/unit/plugin/v2/back_compat_test.rb
  test/unit/plugin/v2/loader_test.rb
Labels: Component: Plugins, Release: 3.x, Type: New Feature

#3323 Fix skip hash being passed instead of boolean value
  lib/inspec/rule.rb
Labels: Type: Bug

#3313 Infer `--sudo` when `--sudo-password` is used
  lib/inspec/base_cli.rb
  test/unit/base_cli_test.rb
Labels: Aspect: UX, Type: Enhancement

#3329 fix skip message not being passed for merge
  lib/inspec/rule.rb
Labels: Type: Bug

#3335 Fix the brew command to install inspec
  www/source/downloads.html.slim
Labels: Aspect: Docs

#3336 Fix documentation link for azure integration tests.
  docs/resources/azure_generic_resource.md.erb
Labels: Aspect: Docs, Expeditor: Skip All

#3338 Support erb rendering
  docs/profiles.md
  lib/inspec/metadata.rb
  test/unit/profiles/metadata_test.rb
Labels: Type: New Feature

#3341 Add HTTP basic auth for URL based inspec deps
  docs/profiles.md
  lib/fetchers/url.rb
  test/unit/fetchers/url_test.rb
Labels: Type: New Feature
