Repository inspec/inspec, pull requests merged in 2018-06, with the labels that each got.

#3106 Detect windows packages with trailing/leading spaces
  lib/resources/package.rb
  test/helper.rb
  test/unit/mock/cmd/get-item-property-package
  test/unit/resources/package_test.rb
Labels: Type: Enhancement

#3048 FilterTable Developer Documentation
  docs/dev/filtertable-internals.md
  docs/dev/filtertable-usage.md
Labels: Aspect: Docs, Component: FilterTable, Expeditor: Skip All

#3047 Refactor: Perform internal rename and add comments to FilterTable
  docs/dev/filtertable-internals.md
  docs/dev/filtertable-usage.md
  lib/utils/filter.rb
Labels: Component: FilterTable, Type: Tech Debt

#3045 Two fixes to FilterTable `where` criteria handling
  docs/dev/filtertable-internals.md
  lib/utils/filter.rb
  test/functional/filter_table_test.rb
  test/unit/mock/profiles/filter_table/controls/validate_criteria_as_params.rb
  test/unit/mock/profiles/filter_table/controls/where_exception_on_trace.rb
  test/unit/mock/profiles/filter_table/controls/where_iteration.rb
  test/unit/mock/profiles/filter_table/inspec.yml
  test/unit/mock/profiles/filter_table/libraries/simple_plural.rb
Labels: Component: FilterTable, Type: Bug, Version: Bump Minor

#3093 Add lazy-loading to FilterTable
  docs/dev/filtertable-internals.md
  docs/dev/filtertable-usage.md
  lib/resources/aws/aws_iam_users.rb
  lib/utils/filter.rb
  test/functional/filter_table_test.rb
  test/unit/mock/profiles/filter_table/controls/lazy_loading_columns.rb
  test/unit/mock/profiles/filter_table/libraries/lazy_loader.rb
Labels: Aspect: Performance, Component: FilterTable

#3104 Add common methods to FilterTable
  docs/dev/filtertable-internals.md
  docs/dev/filtertable-usage.md
  docs/resources/aws_iam_groups.md.erb
  lib/resources/aws/aws_iam_groups.rb
  lib/utils/filter.rb
  test/functional/filter_table_test.rb
  test/integration/aws/default/verify/controls/aws_iam_groups.rb
  test/unit/mock/profiles/filter_table/controls/default_methods.rb
  test/unit/mock/profiles/filter_table/controls/no_internals_in_raw_data.rb
  test/unit/mock/profiles/filter_table/libraries/default_methods_demo.rb
  test/unit/resources/aws_iam_groups_test.rb
  test/unit/resources/shadow_test.rb
Labels: Aspect: UX, Component: FilterTable, Type: Enhancement

#3108 Allow custom resources to access all other resources
  examples/custom-resource/README.md
  examples/custom-resource/controls/example.rb
  examples/custom-resource/inspec.yml
  examples/custom-resource/libraries/batsignal.rb
  examples/custom-resource/libraries/gordon.rb
  lib/inspec/resource.rb
  test/functional/inspec_exec_test.rb
Labels: Type: Enhancement

#3042 Update documentation for shadow resource.
  docs/resources/shadow.md.erb
Labels: Aspect: Docs, Component: Core Resources, Component: Website, Type: Bug

#2906 Adds a aws_flow_log resource with unit and integration testing.
  docs/resources/aws_flow_log.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_flow_log.rb
  test/integration/aws/TESTING_AGAINST_AWS.md
  test/integration/aws/default/build/flow_log.tf
  test/integration/aws/default/verify/controls/aws_flow_log.rb
  test/unit/resources/aws_flow_log_test.rb
Labels: Platform: AWS, Type: New Resource

#3079 Add aws_elb and aws_elbs resources
  docs/resources/aws_elb.md.erb
  docs/resources/aws_elbs.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_elb.rb
  lib/resources/aws/aws_elbs.rb
  test/integration/aws/default/build/ec2.tf
  test/integration/aws/default/verify/controls/aws_elb.rb
  test/integration/aws/default/verify/controls/aws_elbs.rb
  test/unit/resources/aws_elb_test.rb
  test/unit/resources/aws_elbs_test.rb
Labels: Platform: AWS, Type: New Resource

#3121 Trigger rebuild for 2.2.x release
  README.md
Labels: Changelog: Skip Update

#3125 Fix unit tests for ruby 2.5
  .travis.yml
  appveyor.yml
  test/unit/profiles/profile_context_test.rb
Labels: Aspect: Testing, Type: Enhancement

#3134 Fix code examples for `http` resource
  docs/resources/http.md.erb
Labels: Aspect: Docs, Expeditor: Skip All, Platform: AWS, Type: Bug

#3130 Hard code ruby path in binstub to avoid cross-ruby contamination
  habitat/plan.sh
Labels: 1.x Release, Component: Integrations

#3140 Add list properties back to shadow
  docs/resources/shadow.md.erb
  lib/resources/shadow.rb
  test/unit/resources/shadow_test.rb
Labels: Component: Core Resources, Platform: Unix-like

#3149 docs: Remove extra backticks from windows_task
  docs/resources/windows_task.md.erb
Labels: Aspect: Docs, Expeditor: Skip All

#3132 deprecate azure_generic_resource
  docs/resources/azure_generic_resource.md.erb
  lib/resources/azure/azure_generic_resource.rb
Labels: Aspect: Stability, Platform: Azure

#3153 updated skip message to reflect accurate version of audit support
  lib/resources/auditd.rb
Labels: Type: Enhancement

#3151 auditd resource: Add handling for sudo/no command
  lib/resources/auditd.rb
  test/helper.rb
Labels: Type: Enhancement

#3155 Fix control merging when overriding child controls
  lib/inspec/rule.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/wrapper-override/README.md
  test/unit/mock/profiles/wrapper-override/controls/defaut.rb
  test/unit/mock/profiles/wrapper-override/inspec.lock
  test/unit/mock/profiles/wrapper-override/inspec.yml
  test/unit/mock/profiles/wrapper-override/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/README.md
  test/unit/mock/profiles/wrapper-override/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/controls/profile1.rb
  test/unit/mock/profiles/wrapper-override/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/inspec.yml
Labels: Type: Enhancement

#3129 Accept symbols and downcased criteria in aws_iam_policy have_statement matcher
  docs/resources/aws_iam_policy.md.erb
  lib/resources/aws/aws_iam_policy.rb
  test/unit/resources/aws_iam_policy_test.rb
Labels: Aspect: Docs, Aspect: UX, Component: Core Resources, Platform: AWS

#3168 Add support for shallow link paths
  docs/resources/file.md.erb
  lib/resources/file.rb
Labels: Component: Train, Type: Bug

#3163 Detect inspec-core mode and do not attempt to load cloud resources
  lib/inspec/resource.rb
Labels: Aspect: Packaging, Component: Core Resources, Platform: AWS, Platform: Azure, Type: Bug

#3157 Add functional tests for nested attributes
  test/functional/attributes.rb
  test/unit/mock/profiles/attributes/attributes/flat.yaml
  test/unit/mock/profiles/attributes/attributes/nested.yaml
  test/unit/mock/profiles/attributes/controls/flat.rb
  test/unit/mock/profiles/attributes/controls/nested.rb
  test/unit/mock/profiles/attributes/inspec.yml
Labels: Aspect: Testing, Component: Attributes

#3142 apache_conf resource: Strip quotes from values
  lib/resources/apache_conf.rb
  test/unit/resources/apache_conf_test.rb
Labels: Type: Enhancement

#3126 Backport control-level exception catching to 1.x
  lib/inspec/rule.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/exception-in-control/README.md
  test/unit/mock/profiles/exception-in-control/controls/01-file.rb
  test/unit/mock/profiles/exception-in-control/controls/02-sshd_config.rb
  test/unit/mock/profiles/exception-in-control/controls/03-syntax.rb
  test/unit/mock/profiles/exception-in-control/inspec.yml
Labels: 1.x Release, Type: Bug

#3164 Set parent_profile field on child profiles (json report)
  lib/inspec/dependencies/dependency_set.rb
  lib/inspec/dependencies/requirement.rb
  lib/inspec/profile.rb
  lib/inspec/reporters/json.rb
  test/functional/inspec_exec_test.rb
  test/unit/dependencies/requirement_test.rb
Labels: Component: Reporters, Type: New Feature

#3117 Update core resources with filtertable API changes
  lib/resources/aide_conf.rb
  lib/resources/auditd.rb
  lib/resources/aws/aws_cloudtrail_trails.rb
  lib/resources/aws/aws_ec2_instances.rb
  lib/resources/aws/aws_iam_access_keys.rb
  lib/resources/aws/aws_iam_groups.rb
  lib/resources/aws/aws_iam_policies.rb
  lib/resources/aws/aws_iam_users.rb
  lib/resources/aws/aws_kms_keys.rb
  lib/resources/aws/aws_route_tables.rb
  lib/resources/aws/aws_s3_buckets.rb
  lib/resources/aws/aws_security_groups.rb
  lib/resources/aws/aws_sns_topics.rb
  lib/resources/aws/aws_subnets.rb
  lib/resources/aws/aws_vpcs.rb
  lib/resources/azure/azure_generic_resource.rb
  lib/resources/azure/azure_virtual_machine_data_disk.rb
  lib/resources/crontab.rb
  lib/resources/docker.rb
  lib/resources/elasticsearch.rb
  lib/resources/etc_fstab.rb
  lib/resources/etc_hosts.rb
  lib/resources/etc_hosts_allow_deny.rb
  lib/resources/firewalld.rb
  lib/resources/groups.rb
  lib/resources/nginx_conf.rb
  lib/resources/packages.rb
  lib/resources/passwd.rb
  lib/resources/port.rb
  lib/resources/postgres_hba_conf.rb
  lib/resources/postgres_ident_conf.rb
  lib/resources/processes.rb
  lib/resources/ssl.rb
  lib/resources/users.rb
  lib/resources/xinetd.rb
Labels: Component: FilterTable, Type: Enhancement

#3178 Document exit codes for 'inspec exec' and add --no-distinct-exit option
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/runner_rspec.rb
  tasks/docs.rb
  test/functional/inspec_exec_test.rb
Labels: Aspect: Docs, CLI: exec, Component: Integrations, Type: New Feature
