Repository inspec/inspec, pull requests merged in 2019-02, with the labels that each got.

#3751 Add CLI options to disable loading plugins
  lib/inspec/cli.rb
  lib/inspec/plugin/v2/loader.rb
  test/functional/plugins_test.rb
Labels: Aspect: UX, CLI: other, Component: Plugins, Type: New Feature, Version: Bump Minor

#3720 Plugins: Relocate plugin activate() method to Activator class, add simpler search method
  lib/inspec/control_eval_context.rb
  lib/inspec/dsl.rb
  lib/inspec/plugin/v1/plugin_types/resource.rb
  lib/inspec/plugin/v2/activator.rb
  lib/inspec/plugin/v2/loader.rb
  lib/inspec/plugin/v2/registry.rb
  lib/inspec/rspec_extensions.rb
  test/unit/plugin/v2/loader_test.rb
Labels: Component: Plugins, Type: Tech Debt

#3750 Formalize Config File
  Gemfile
  appveyor.yml
  etc/deprecations.json
  inspec-core.gemspec
  inspec.gemspec
  lib/bundles/inspec-supermarket/cli.rb
  lib/inspec/backend.rb
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/config.rb
  lib/inspec/dsl.rb
  lib/inspec/errors.rb
  lib/inspec/profile.rb
  lib/inspec/profile_vendor.rb
  lib/inspec/runner.rb
  lib/inspec/shell.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_exec_test.rb
  test/helper.rb
  test/unit/base_cli_test.rb
  test/unit/config_test.rb
  test/unit/dsl/control_test.rb
  test/unit/mock/config_dirs/fakehome-2/.inspec/config.json
  test/unit/mock/config_dirs/json-config/good.json
  test/unit/mock/config_dirs/json-config/invalid.json
  test/unit/mock/config_dirs/json-config/malformed.json
  test/unit/profiles/profile_test.rb
  test/unit/utils/find_files_test.rb
Labels: Component: Config, Type: Enhancement

#3781 package: Correct contradictory docs examples
  docs/resources/package.md.erb
Labels: Aspect: Docs, Component: Core Resources, Type: Bug

#3778 filesystem: Add free_kb, size_kb, type, and percent_free properties
  docs/resources/filesystem.md.erb
  etc/deprecations.json
  lib/resources/filesystem.rb
  test/helper.rb
  test/unit/mock/cmd/df
  test/unit/mock/cmd/df-t
  test/unit/mock/cmd/get-wmiobject-filesystem
  test/unit/resources/filesystem_test.rb
Labels: Component: Core Resources, Type: Bug, Type: New Feature

#3629 inspec-init plugin: generate inspec plugins
  .rubocop.yml
  lib/inspec/ui.rb
  lib/plugins/inspec-init/lib/inspec-init/cli.rb
  lib/plugins/inspec-init/lib/inspec-init/cli_plugin.rb
  lib/plugins/inspec-init/lib/inspec-init/cli_profile.rb
  lib/plugins/inspec-init/lib/inspec-init/renderer.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/Gemfile
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/LICENSE
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/README.md
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/Rakefile
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/inspec-plugin-template.gemspec
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/lib/inspec-plugin-template.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/lib/inspec-plugin-template/cli_command.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/lib/inspec-plugin-template/plugin.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/lib/inspec-plugin-template/version.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/test/fixtures/README.md
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/test/functional/README.md
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/test/functional/inspec_plugin_template_test.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/test/helper.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/test/unit/README.md
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/test/unit/cli_args_test.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/test/unit/plugin_def_test.rb
  lib/plugins/inspec-init/templates/profiles/gcp/README.md
  lib/plugins/inspec-init/templates/profiles/gcp/attributes.yml
  lib/plugins/inspec-init/templates/profiles/gcp/controls/example.rb
  lib/plugins/inspec-init/templates/profiles/gcp/inspec.yml
  lib/plugins/inspec-init/templates/profiles/gcp/libraries/.gitkeep
  lib/plugins/inspec-init/templates/profiles/os/README.md
  lib/plugins/inspec-init/templates/profiles/os/controls/example.rb
  lib/plugins/inspec-init/templates/profiles/os/inspec.yml
  lib/plugins/inspec-init/templates/profiles/os/libraries/.gitkeep
  lib/plugins/inspec-init/test/functional/inspec_init_plugin_test.rb
  lib/plugins/inspec-init/test/functional/inspec_init_profile_test.rb
  test/unit/ui_test.rb
Labels: Aspect: UX, CLI: init, Component: Plugins, Type: New Feature, Version: Bump Minor

#3784 Consolidate attribute-related test-fixture profiles
  test/functional/attributes_test.rb
  test/unit/mock/profiles/attributes/basic/controls/flat.rb
  test/unit/mock/profiles/attributes/basic/controls/nested.rb
  test/unit/mock/profiles/attributes/basic/files/flat.yaml
  test/unit/mock/profiles/attributes/basic/files/nested.yaml
  test/unit/mock/profiles/attributes/basic/inspec.yml
  test/unit/mock/profiles/attributes/global/controls/attribute_from_yml.rb
  test/unit/mock/profiles/attributes/global/controls/attribute_inheritance.rb
  test/unit/mock/profiles/attributes/global/controls/attribute_overrides.rb
  test/unit/mock/profiles/attributes/global/controls/attribute_read_scoping.rb
  test/unit/mock/profiles/attributes/global/files/attr.yml
  test/unit/mock/profiles/attributes/global/inspec.lock
  test/unit/mock/profiles/attributes/global/inspec.yml
  test/unit/mock/profiles/attributes/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/README.md
  test/unit/mock/profiles/attributes/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/controls/profile1.rb
  test/unit/mock/profiles/attributes/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/inspec.yml
  test/unit/mock/profiles/attributes/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/README.md
  test/unit/mock/profiles/attributes/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/controls/profile1.rb
  test/unit/mock/profiles/attributes/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/inspec.yml
  test/unit/mock/profiles/attributes/metadata-empty/inspec.yml
  test/unit/mock/profiles/attributes/metadata-invalid/inspec.yml
  test/unit/mock/profiles/attributes/required/inspec.yml
Labels: Aspect: Testing, Type: Chore

#3785 inspec-habitat: create mock backend properly
  lib/inspec/backend.rb
  lib/plugins/inspec-habitat/lib/inspec-habitat/profile.rb
  test/unit/backend_test.rb
Labels: Component: Config, Type: Regression

#3794 Update copyright for 2.x branch
  README.md
Labels: Aspect: Docs, Release: 2.x

#3795 Remove bundler pin from 2.x series
  Gemfile
Labels: Aspect: Packaging, Release: 2.x

#3793 inspec detect: Fix for --config trying to read from STDIN twice
  lib/inspec/config.rb
  test/functional/inspec_exec_test.rb
Labels: CLI: detect, Component: Config, Type: Regression

#3806 Add logger to train generic options
  lib/inspec/config.rb
Labels: Component: Train, Type: Regression

#3807 Subscribe only to artifacts for release branch
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3808 Only take action on 2-stable when Inspec 2.x artifacts are built/promoted
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3809 Update CONTRIBUTING for CI
  CONTRIBUTING.md
Labels: Aspect: Docs

#3796 Attributes-Inputs Rename: Move test files
  test/functional/inputs_test.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_vendor_test.rb
  test/unit/inputs/input_registry_test.rb
  test/unit/inputs/input_test.rb
  test/unit/mock/profiles/inputs/basic/controls/flat.rb
  test/unit/mock/profiles/inputs/basic/controls/nested.rb
  test/unit/mock/profiles/inputs/basic/files/flat.yaml
  test/unit/mock/profiles/inputs/basic/files/nested.yaml
  test/unit/mock/profiles/inputs/basic/inspec.yml
  test/unit/mock/profiles/inputs/global/controls/input_from_yml.rb
  test/unit/mock/profiles/inputs/global/controls/input_inheritance.rb
  test/unit/mock/profiles/inputs/global/controls/input_overrides.rb
  test/unit/mock/profiles/inputs/global/controls/input_read_scoping.rb
  test/unit/mock/profiles/inputs/global/files/inputs.yml
  test/unit/mock/profiles/inputs/global/inspec.lock
  test/unit/mock/profiles/inputs/global/inspec.yml
  test/unit/mock/profiles/inputs/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/README.md
  test/unit/mock/profiles/inputs/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/controls/profile1.rb
  test/unit/mock/profiles/inputs/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/inspec.yml
  test/unit/mock/profiles/inputs/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/README.md
  test/unit/mock/profiles/inputs/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/controls/profile1.rb
  test/unit/mock/profiles/inputs/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/inspec.yml
  test/unit/mock/profiles/inputs/metadata-empty/inspec.yml
  test/unit/mock/profiles/inputs/metadata-invalid/inspec.yml
  test/unit/mock/profiles/inputs/required/inspec.yml
  test/unit/mock/profiles/profile-with-required-inputs/controls/include.rb
  test/unit/mock/profiles/profile-with-required-inputs/inspec.yml
Labels: Aspect: Testing, Component: Attributes, Type: Chore

#3803 Attribute-Input Rename: Rename codefiles
  lib/inspec.rb
  lib/inspec/input_registry.rb
  lib/inspec/objects.rb
  lib/inspec/objects/input.rb
  lib/inspec/profile.rb
  lib/inspec/profile_context.rb
  lib/inspec/rspec_extensions.rb
  test/unit/inputs/input_registry_test.rb
  test/unit/inputs/input_test.rb
Labels: Component: Attributes, Type: Chore

#3813 Note the correct expeditor URL in the config comment
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3824 Add a deprecation group for core AWS resources
  etc/deprecations.json
  lib/resource_support/aws/aws_resource_mixin.rb
Labels: Aspect: UX, Platform: AWS, Type: Deprecation

#3811 Attribute->Input Rename: Rename Classes and Methods
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/control_eval_context.rb
  lib/inspec/errors.rb
  lib/inspec/exceptions.rb
  lib/inspec/input_registry.rb
  lib/inspec/objects.rb
  lib/inspec/objects/input.rb
  lib/inspec/profile.rb
  lib/inspec/profile_context.rb
  lib/inspec/reporters/json.rb
  lib/inspec/rspec_extensions.rb
  lib/inspec/runner.rb
  lib/inspec/schema.rb
  lib/inspec/secrets/yaml.rb
  test/functional/inheritance_test.rb
  test/functional/inputs_test.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_exec_test.rb
  test/functional/inspec_test.rb
  test/functional/inspec_vendor_test.rb
  test/integration/default/controls/audit_spec.rb
  test/unit/cached_fetcher.rb
  test/unit/inputs/input_registry_test.rb
  test/unit/inputs/input_test.rb
  test/unit/mock/profiles/inputs/basic/controls/flat.rb
  test/unit/mock/profiles/inputs/basic/controls/nested.rb
  test/unit/mock/profiles/inputs/basic/inspec.yml
  test/unit/mock/profiles/inputs/global/controls/input_from_yml.rb
  test/unit/mock/profiles/inputs/global/controls/input_inheritance.rb
  test/unit/mock/profiles/inputs/global/controls/input_read_scoping.rb
  test/unit/mock/profiles/inputs/global/inspec.yml
  test/unit/mock/profiles/profile-with-required-inputs/inspec.yml
  test/unit/plugin/v2/api_base_test.rb
  test/unit/plugin/v2/back_compat_test.rb
  test/unit/reporters/json_test.rb
  test/unit/resources/aws_billing_backend.rb
  test/unit/resources/etc_hosts_allow_deny_test.rb
  test/unit/resources/postgres_hba_conf_test.rb
  test/unit/resources/processes_test.rb
  test/unit/runner_test.rb
Labels: Component: Attributes, Type: Chore

#3832 Attribute -> Input Rename: Rename dummy value class
  lib/inspec/objects/input.rb
  lib/utils/pkey_reader.rb
  test/unit/inputs/input_registry_test.rb
  test/unit/inputs/input_test.rb
Labels: Component: Attributes

#3834 inspec compliance: Fix mocked configuration
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
Labels: Aspect: Integration, CLI: compliance, Type: Bug

#3823 v4: Support AWS SDK v3 in Core AWS Resources
  lib/inspec/plugin/v1/plugin_types/resource.rb
  lib/resource_support/aws.rb
Labels: Aspect: Packaging, Platform: AWS, Release 4.x, Type: Enhancement

#3827 add json example from http request
  docs/resources/json.md.erb
Labels: Aspect: Docs, Component: Core Resources

#3833 detect postgres 10 on centos properly
  lib/resources/postgres.rb
Labels: Aspect: Portability, Component: Core Resources, Platform: Databases, Type: Bug

#3814 Update the integration tests to use dokken-images and newer Chef technologies
  .github/ISSUE_TEMPLATE.md
  .gitignore
  .kitchen.vagrant.yml
  .travis.yml
  Berksfile
  Gemfile
  examples/kitchen-chef/recipes/nginx.rb
  kitchen.chef.yml
  kitchen.ec2.yml
  kitchen.vagrant.yml
  kitchen.yml
  test/cookbooks/os_prepare/metadata.rb
  test/cookbooks/os_prepare/recipes/_runit_service_centos.rb
  test/cookbooks/os_prepare/recipes/_upstart_service_centos.rb
  test/cookbooks/os_prepare/recipes/apache.rb
  test/cookbooks/os_prepare/recipes/apt.rb
  test/cookbooks/os_prepare/recipes/auditctl.rb
  test/cookbooks/os_prepare/recipes/default.rb
  test/cookbooks/os_prepare/recipes/docker_host.rb
  test/cookbooks/os_prepare/recipes/file.rb
  test/cookbooks/os_prepare/recipes/iptables.rb
  test/cookbooks/os_prepare/recipes/json_yaml_csv_ini_xml.rb
  test/cookbooks/os_prepare/recipes/mount.rb
  test/cookbooks/os_prepare/recipes/os_env.rb
  test/cookbooks/os_prepare/recipes/package.rb
  test/cookbooks/os_prepare/recipes/postgres.rb
  test/cookbooks/os_prepare/recipes/prep_container.rb
  test/cookbooks/os_prepare/recipes/registry_key.rb
  test/cookbooks/os_prepare/recipes/service.rb
  test/cookbooks/os_prepare/recipes/ssh.rb
  test/cookbooks/os_prepare/recipes/x509.rb
  test/cookbooks/os_prepare/templates/sv-default-svlog-run.erb
  test/integration/default/controls/x509_spec.rb
Labels: Aspect: Testing
