Repository inspec/inspec, pull requests merged in 2019-12, with the labels that each got.

#4755 Fix buildkite bundle caching
  .expeditor/buildkite/verify.sh
  .expeditor/config.yml
Labels: Expeditor: Skip All, Type: Chore

#4756 Added chef-telemetry 1.0 to dependencies.
  inspec-core.gemspec
  inspec.gemspec
Labels: Expeditor: Skip All

#4757 Split lint to its own step and let all the others just run tests.
  .expeditor/buildkite/verify.sh
  .expeditor/verify.pipeline.yml
  Rakefile
Labels: Expeditor: Skip All

#4736 Make fetchers fail consistently
  lib/inspec/fetcher/git.rb
  lib/inspec/fetcher/local.rb
  lib/inspec/fetcher/url.rb
  test/fixtures/profiles/fetcher-failures/child/inspec.yml
  test/fixtures/profiles/fetcher-failures/git-bad/inspec.yml
  test/fixtures/profiles/fetcher-failures/local-bad/inspec.yml
  test/fixtures/profiles/fetcher-failures/url-bad/inspec.yml
  test/functional/fetchers_test.rb
  test/unit/fetchers/url_test.rb
Labels: Component: Fetchers

#4765 Refactor BK verify script so we can reuse bundle caching across projects easily.
  .expeditor/buildkite/cache_support.sh
  .expeditor/buildkite/verify.sh
Labels: Expeditor: Skip All

#4768 Wire up backend to rspec metadata, allowing for example groups to use resources
  inspec.gemspec
  lib/inspec/rspec_extensions.rb
  lib/inspec/runner.rb
  lib/inspec/runner_rspec.rb
Labels: Component: Core Resources, Component: DSL, Type: New Feature

#4776 something wonky going on with /tmp, lets debug
  .expeditor/buildkite/verify.sh
Labels: Expeditor: Skip All

#4779 Fixed against broken master
  .expeditor/buildkite/verify.sh
Labels: Expeditor: Skip All

#4781 yamllint to fix config maybe?
  .expeditor/config.yml
Labels: Expeditor: Skip All

#4785 Fixed expeditor ignore_labels for habitat and omnibus.
  .expeditor/config.yml
Labels: Expeditor: Skip All

#4784 sum-coverage doesnt have -t
  .expeditor/buildkite/coverage.sh
Labels: Expeditor: Skip All

#4791 Reflect the correct status of the project.
  www/source/docs/index.html.slim
Labels: Expeditor: Skip All

#4792 This should fix the mocha deprecations.
  test/helper.rb
Labels: Expeditor: Skip All

#4797 Update the kitchen vagrant contents
  kitchen.vagrant.yml
Labels: Expeditor: Skip All

#4800 powershell doesnt care if 'regular executables' fail
  .expeditor/buildkite/artifact.habitat.test.ps1
Labels: Expeditor: Skip All

#4808 Remove circular require between fetcher and compliance plugin w/ autoloads.
  lib/inspec/fetcher.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance.rb
  test/unit/profiles/profile_test.rb
Labels: Expeditor: Skip All

#4819 Set test skip bomb date to end of 2020Q1
  test/helper.rb
Labels: Aspect: Testing

#4816 Get on official ruby 2.7.0
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All
