Repository inspec/inspec, pull requests merged in 2019-04, with the labels that each got.

#3906 automate reporter: Add top-level 'passthrough' field
  lib/inspec/reporters/automate.rb
  lib/inspec/reporters/json_automate.rb
  test/functional/inspec_exec_automate_test.rb
Labels: Aspect: Integration, Component: Reporters, Type: New Feature, Version: Bump Minor

#3913 Version bump for including train-habitat
  README.md
Labels: Changelog: Skip Update, Version: Bump Minor

#3914 Migrate to using the buildkite-based Habitat build pipelines
  .expeditor/build.habitat.yml
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3917 Create omnibus buildkite pipelines
  .expeditor/config.yml
  .expeditor/release.omnibus.yml
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#3907 Fix broken links in migration docs.
  docs/migration.md
Labels: Aspect: Docs, Component: Website, Habitat: Skip Build, Omnibus: Skip Build, Version: Skip Bump

#3918 Fix PATH env var in new omnibus test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#3915 apt: correct docs to clarify that it matches repositories not packages
  docs/resources/apt.md.erb
Labels: Aspect: Docs, Component: Core Resources, Platform: Unix-like

#3924 Add -y to all apt-get update commands in integration tests
  kitchen.yml
Labels: Aspect: Testing, Expeditor: Skip All, Type: Bug

#3879 Attribute->Input Rename: Rename cli option
  lib/inspec/base_cli.rb
  lib/inspec/objects/input.rb
  lib/inspec/runner.rb
  test/functional/inheritance_test.rb
  test/functional/inputs_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/runner_test.rb
Labels: CLI: exec, Component: Attributes

#3926 Disable warnings for functional tests
  Rakefile
Labels: Aspect: Testing, Expeditor: Skip All

#3925 Freeze version to appease rubocop
  lib/inspec/version.rb
Labels: Aspect: Testing, Expeditor: Skip All

#3927 Fix winrm no-such-transport test
  test/functional/inspec_exec_test.rb
Labels: Aspect: Testing, Component: Train, Habitat: Skip Build, Omnibus: Skip Build, Platform: Windows, Version: Skip Bump

#3928 Telemetry Object Model
  lib/inspec.rb
  lib/inspec/utils/telemetry.rb
  lib/inspec/utils/telemetry/collector.rb
  lib/inspec/utils/telemetry/data_series.rb
  lib/inspec/utils/telemetry/global_methods.rb
  test/unit/utils/telemetry/collector_test.rb
  test/unit/utils/telemetry/data_series_test.rb
  test/unit/utils/telemetry/global_methods_test.rb
Labels: Component: Telemetry, Type: New Feature

#3938 Telemetry Object model - backport to 3.x
  lib/inspec.rb
  lib/inspec/utils/telemetry.rb
  lib/inspec/utils/telemetry/collector.rb
  lib/inspec/utils/telemetry/data_series.rb
  lib/inspec/utils/telemetry/global_methods.rb
  test/unit/utils/telemetry/collector_test.rb
  test/unit/utils/telemetry/data_series_test.rb
  test/unit/utils/telemetry/global_methods_test.rb
Labels: Component: Telemetry, Type: New Feature

#3935 Add license acceptance to InSpec v4
  Rakefile
  inspec-core.gemspec
  inspec.gemspec
  lib/inspec/cli.rb
  lib/inspec/ui.rb
  test/functional/license_test.rb
  test/unit/mock/config_dirs/fakehome-2/.chef/accepted_licenses/inspec
Labels: Component: Licensing, Type: New Feature

#3941 Add inspec-habitat resources to website docs
  contrib/contrib.yaml
  tasks/docs.rb
Labels: Aspect: Docs, Aspect: Integration, Component: Website, Habitat: Skip Build, Omnibus: Skip Build, Type: Enhancement, Version: Skip Bump

#3895 file: add `more_permissive_than?(mode)` matcher
  docs/resources/file.md.erb
  lib/resources/file.rb
  test/unit/resources/file_test.rb
Labels: Component: Core Resources, Type: New Feature, Version: Bump Minor

#3948 Improve omnibus test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#3952 Use deprecation everywhere (v3 port)
  .gitignore
  docs/dev/deprecation.md
  etc/deprecations.json
  lib/inspec/base_cli.rb
  lib/inspec/config.rb
  lib/inspec/metadata.rb
  lib/matchers/matchers.rb
  lib/resources/apache.rb
  lib/resources/apt.rb
  lib/resources/aws/aws_iam_user.rb
  lib/resources/azure/azure_generic_resource.rb
  lib/resources/file.rb
  lib/resources/filesystem.rb
  lib/resources/host.rb
  lib/resources/iis_site.rb
  lib/resources/kernel_parameter.rb
  lib/resources/mssql_session.rb
  lib/resources/oracledb_session.rb
  lib/resources/powershell.rb
  lib/resources/processes.rb
  lib/resources/registry_key.rb
  lib/resources/shadow.rb
  lib/resources/users.rb
  lib/resources/wmi.rb
  lib/utils/deprecation/deprecator.rb
  lib/utils/deprecation/global_method.rb
  lib/utils/parser.rb
  support/list_deprecation_groups.sh
  test/helper.rb
  test/unit/resources/powershell_test.rb
  test/unit/resources/processes_test.rb
  test/unit/resources/shadow_test.rb
  test/unit/resources/user_test.rb
  test/unit/utils/deprecation_test.rb
Labels: Aspect: Testing, Type: Chore

#3956 Use deprecation facility everywhere - v4 port
  .gitignore
  docs/dev/deprecation.md
  etc/deprecations.json
  lib/inspec/base_cli.rb
  lib/inspec/config.rb
  lib/inspec/metadata.rb
  lib/matchers/matchers.rb
  lib/resources/apache.rb
  lib/resources/apt.rb
  lib/resources/aws/aws_iam_user.rb
  lib/resources/azure/azure_generic_resource.rb
  lib/resources/file.rb
  lib/resources/filesystem.rb
  lib/resources/host.rb
  lib/resources/iis_site.rb
  lib/resources/kernel_parameter.rb
  lib/resources/mssql_session.rb
  lib/resources/oracledb_session.rb
  lib/resources/powershell.rb
  lib/resources/processes.rb
  lib/resources/registry_key.rb
  lib/resources/shadow.rb
  lib/resources/users.rb
  lib/resources/wmi.rb
  lib/utils/deprecation/deprecator.rb
  lib/utils/deprecation/global_method.rb
  lib/utils/parser.rb
  support/list_deprecation_groups.sh
  test/helper.rb
  test/unit/resources/powershell_test.rb
  test/unit/resources/processes_test.rb
  test/unit/resources/shadow_test.rb
  test/unit/resources/user_test.rb
  test/unit/utils/deprecation_test.rb
Labels: Aspect: Testing, Type: Enhancement

#3965 Use the upstream unf_ext again
  Gemfile
  omnibus/config/software/inspec.rb
  omnibus/config/software/unf_ext.rb
Labels: Aspect: Packaging, Type: Chore

#3962 Improve ss parsing code for IPv6 addresses
  lib/resources/port.rb
  test/unit/resources/port_linuxports_test.rb
Labels: Component: Core Resources, Platform: Unix-like, Type: Bug

#3978 Update plugin test fixtures for Ruby 2.6 and remove for 2.3
  support/rebuild_inspec_test_fixture_plugin.sh
  test/unit/mock/config_dirs/test-fixture-1-float/gems/2.3.0/specifications/inspec-test-fixture-0.1.0.gemspec
  test/unit/mock/config_dirs/test-fixture-1-float/gems/2.6.0/gems/inspec-test-fixture-0.1.0/inspec-test-fixture.gemspec
  test/unit/mock/config_dirs/test-fixture-1-float/gems/2.6.0/gems/inspec-test-fixture-0.1.0/lib/inspec-test-fixture.rb
  test/unit/mock/config_dirs/test-fixture-1-float/gems/2.6.0/gems/inspec-test-fixture-0.1.0/lib/inspec-test-fixture/mock_plugin.rb
  test/unit/mock/config_dirs/test-fixture-1-float/gems/2.6.0/gems/inspec-test-fixture-0.1.0/lib/inspec-test-fixture/plugin.rb
  test/unit/mock/config_dirs/test-fixture-1-float/gems/2.6.0/gems/inspec-test-fixture-0.1.0/lib/inspec-test-fixture/version.rb
  test/unit/mock/config_dirs/test-fixture-1-float/gems/2.6.0/specifications/inspec-test-fixture-0.1.0.gemspec
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.3.0/gems/inspec-test-fixture-0.2.0/lib/inspec-test-fixture.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.3.0/gems/ordinal_array-0.2.0/ordinal_array.gemspec
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.3.0/specifications/inspec-test-fixture-0.2.0.gemspec
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.3.0/specifications/ordinal_array-0.2.0.gemspec
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/inspec-test-fixture-0.2.0/inspec-test-fixture.gemspec
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/inspec-test-fixture-0.2.0/lib/inspec-test-fixture.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/inspec-test-fixture-0.2.0/lib/inspec-test-fixture/mock_plugin.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/inspec-test-fixture-0.2.0/lib/inspec-test-fixture/plugin.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/inspec-test-fixture-0.2.0/lib/inspec-test-fixture/version.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/ordinal_array-0.2.0/README.rdoc
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/ordinal_array-0.2.0/lib/ordinal_array.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/ordinal_array-0.2.0/lib/ordinal_array/ordinal.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/ordinal_array-0.2.0/lib/ordinal_array/ordinal_constants.rb
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/gems/ordinal_array-0.2.0/ordinal_array.gemspec
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/specifications/inspec-test-fixture-0.2.0.gemspec
  test/unit/mock/config_dirs/test-fixture-2-float/gems/2.6.0/specifications/ordinal_array-0.2.0.gemspec
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/LICENSE
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/README.md
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/lib/train-test-fixture.rb
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/lib/train-test-fixture/connection.rb
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/lib/train-test-fixture/platform.rb
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/lib/train-test-fixture/transport.rb
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/lib/train-test-fixture/version.rb
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/gems/train-test-fixture-0.1.0/train-test-fixture.gemspec
  test/unit/mock/config_dirs/train-test-fixture/gems/2.6.0/specifications/train-test-fixture-0.1.0.gemspec
Labels: Aspect: Packaging, Aspect: Testing

#3961 update 'low' impact value to align with CVSS 3.0
  lib/inspec/impact.rb
  test/unit/impact_test.rb
Labels: Aspect: Correctness, Component: DSL, Type: Bug

#3980 Bump appveyor.yml to build on 2.6 for unit-tests-ruby-2.6.
  appveyor.yml
Labels: Aspect: Testing

#3973 Update deprecation settings for v4
  etc/deprecations.json
  test/functional/filter_table_test.rb
  test/functional/helper.rb
  test/functional/inspec_check_test.rb
  test/functional/inspec_vendor_test.rb
  test/unit/mock/profiles/inputs/metadata-invalid/inspec.yml
Labels: Aspect: Testing, Type: Deprecation

#3985 Use a updated OS Image in Appveyor
  appveyor.yml
Labels: Aspect: Testing

#3875 Internal overhaul of Inputs system
  lib/inspec/control_eval_context.rb
  lib/inspec/dependencies/requirement.rb
  lib/inspec/dependencies/resolver.rb
  lib/inspec/dsl.rb
  lib/inspec/input_registry.rb
  lib/inspec/objects/input.rb
  lib/inspec/profile.rb
  lib/inspec/profile_context.rb
  lib/inspec/rspec_extensions.rb
  lib/inspec/runner.rb
  test/functional/helper.rb
  test/functional/inputs_test.rb
  test/unit/helper.rb
  test/unit/inputs/events_test.rb
  test/unit/inputs/input_registry_test.rb
  test/unit/inputs/input_test.rb
  test/unit/inputs/validation_test.rb
  test/unit/mock/profiles/inputs/basic/controls/flat.rb
  test/unit/mock/profiles/inputs/global/controls/input_from_yml.rb
  test/unit/mock/profiles/inputs/global/controls/input_inheritance.rb
  test/unit/mock/profiles/inputs/global/controls/input_overrides.rb
  test/unit/mock/profiles/inputs/global/controls/input_read_scoping.rb
  test/unit/mock/profiles/inputs/global/files/inputs.yml
  test/unit/mock/profiles/inputs/global/inspec.lock
  test/unit/mock/profiles/inputs/global/inspec.yml
  test/unit/mock/profiles/inputs/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/README.md
  test/unit/mock/profiles/inputs/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/controls/profile1.rb
  test/unit/mock/profiles/inputs/global/vendor/e39eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/inspec.yml
  test/unit/mock/profiles/inputs/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/README.md
  test/unit/mock/profiles/inputs/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/controls/profile1.rb
  test/unit/mock/profiles/inputs/global/vendor/f24eb85366b272bae98e5eecdfac9f84c50a9ae9dd625fba2ce847268a6c3477/inspec.yml
  test/unit/mock/profiles/inputs/inheritance/child-01/controls/child-01-controls.rb
  test/unit/mock/profiles/inputs/inheritance/child-01/inspec.yml
  test/unit/mock/profiles/inputs/inheritance/child-02/controls/child-02-controls.rb
  test/unit/mock/profiles/inputs/inheritance/child-02/inspec.yml
  test/unit/mock/profiles/inputs/inheritance/wrapper/controls/wrapper-controls.rb
  test/unit/mock/profiles/inputs/inheritance/wrapper/inspec.yml
  test/unit/mock/profiles/inputs/metadata-required/controls/mention-required.rb
  test/unit/mock/profiles/inputs/metadata-required/inspec.yml
  test/unit/mock/profiles/inputs/scoping/controls/scoping-controls.rb
  test/unit/mock/profiles/inputs/scoping/inspec.yml
  test/unit/plugin/v2/back_compat_test.rb
  test/unit/runner_test.rb
Labels: Component: Attributes, Type: New Feature, Type: Tech Debt, Version: Bump Minor

#3982 Package inspec executable as a separate gem
  .expeditor/config.yml
  .expeditor/update_version.sh
  Dockerfile
  Gemfile
  Rakefile
  habitat/plan.sh
  inspec-bin/Gemfile
  inspec-bin/LICENSE
  inspec-bin/README.md
  inspec-bin/bin/inspec
  inspec-bin/inspec-bin.gemspec
  inspec-bin/lib/inspec-bin/version.rb
  inspec-core.gemspec
  inspec.gemspec
  lib/plugins/shared/core_plugin_test_helper.rb
  omnibus/config/software/inspec.rb
  test/functional/helper.rb
Labels: Aspect: Packaging, Type: Deprecation, Version: Bump Minor

#3994 Update to Ruby 2.6.2 and Rubygems 3.0.3
  omnibus/.gitignore
  omnibus/Gemfile
  omnibus/README.md
  omnibus/config/projects/inspec.rb
  omnibus/files/openssl-customization/windows/ssl_env_hack.rb
  omnibus/kitchen.yml
  omnibus/omnibus.rb
  omnibus_overrides.rb
Labels: Aspect: Packaging, Aspect: Security, Type: Enhancement
