Repository inspec/inspec, pull requests merged in 2019-07, with the labels that each got.

#4238 Add CLI target examples for Windows domain users
  README.md
  docs/shell.md
Labels: Aspect: Docs, CLI: exec, Component: Website, Type: Enhancement, Version: Skip Bump

#4233 Debian service detection for Buster
  lib/inspec/resources/service.rb
  test/helpers/mock_loader.rb
  test/unit/resources/service_test.rb
Labels: Component: Core Resources, Platform: Unix-like, Type: Bug

#4259 Update azure_resource_group.md.erb
  docs/resources/azure_resource_group.md.erb
Labels: Aspect: Docs, Component: Core Resources, Component: Website, Platform: Azure, Version: Skip Bump

#4262 properly declare environment variable
  .expeditor/config.yml
Labels: Version: Skip Bump

#4263 maintainer_group is deprecated
  .expeditor/config.yml
Labels: Version: Skip Bump

#4264 Add test coverage to pipeline
  .expeditor/config.yml
  .expeditor/coverage.pipeline.yml
Labels: Version: Skip Bump

#4265 yamllint on main expeditor config
  .expeditor/config.yml
Labels: Version: Skip Bump

#4267 Use correct indentation levels in .expeditor/config.yml
  .expeditor/config.yml
Labels: Version: Skip Bump

#4266 skip lint, just run tests
  .expeditor/coverage.pipeline.yml
Labels: Version: Skip Bump

#4256 Automated chefstyle application for rubocop 0.72 compatibility
  lib/inspec/config.rb
  lib/inspec/plugin/v2/installer.rb
  lib/inspec/plugin/v2/status.rb
  lib/inspec/profile.rb
  lib/inspec/resources/apt.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/inspec-plugin_test.rb
  test/unit/dsl/describe_test.rb
  test/unit/dsl/objects_test.rb
  test/unit/plugin/v2/installer_test.rb
  test/unit/resources/aws_elb_test.rb
  test/unit/resources/aws_elbs_test.rb
  test/unit/resources/aws_iam_user_test.rb
  test/unit/resources/aws_iam_users_test.rb
  test/unit/resources/etc_group_test.rb
  test/unit/resources/groups_test.rb
  test/unit/resources/processes_test.rb
Labels: Aspect: Testing, Expeditor: Skip All

#4236 Add ip6tables resource
  docs/resources/ip6tables.md.erb
  lib/inspec/resources.rb
  lib/inspec/resources/ip6tables.rb
  lib/matchers/matchers.rb
  test/cookbooks/os_prepare/recipes/default.rb
  test/cookbooks/os_prepare/recipes/iptables.rb
  test/helpers/mock_loader.rb
  test/integration/default/controls/ip6tables_spec.rb
  test/integration/default/controls/iptables_spec.rb
  test/unit/mock/cmd/ip6tables-s
  test/unit/resources/ip6tables_test.rb
Labels: Component: Core Resources, Platform: Unix-like, Type: New Resource, Version: Bump Minor

#4272 chefstyle recent pr
  test/cookbooks/os_prepare/recipes/iptables.rb
Labels: Version: Skip Bump

#4293 Push back test time limit by one month
  test/helper.rb
Labels: Aspect: Testing

#4295 Un-deprecate the be_running matcher on service resource
  lib/matchers/matchers.rb
Labels: Component: Matchers, Type: Deprecation

#4286 Suppress gem docs when installing plugins
  lib/inspec/plugin/v2/installer.rb
  test/unit/plugin/v2/installer_test.rb
Labels: CLI: plugin, Component: Plugins, Type: Bug

#4314 Add SHA512 password example to `shadow` resource
  docs/resources/shadow.md.erb
Labels: Aspect: Docs, Component: Website

#4320 Transition the Habitat plugin to use scaffolding
  docs/habitat.md
  lib/plugins/inspec-habitat/lib/inspec-habitat/profile.rb
  lib/plugins/inspec-habitat/templates/habitat/config/inspec_exec_config.json.erb
  lib/plugins/inspec-habitat/templates/habitat/default.toml.erb
  lib/plugins/inspec-habitat/templates/habitat/hooks/run.erb
  lib/plugins/inspec-habitat/templates/habitat/plan.sh.erb
  lib/plugins/inspec-habitat/test/functional/inspec_habitat_test.rb
Labels: Aspect: Integration, CLI: habitat, Type: New Feature, Version: Bump Minor

#4242 windows_task: Fix handling of multiple triggers
  lib/inspec/resources/windows_task.rb
  test/helpers/mock_loader.rb
  test/unit/mock/cmd/schtasks-success-multiple-triggers
  test/unit/mock/cmd/schtasks-success-single-trigger
  test/unit/resources/windows_task_test.rb
Labels: Aspect: Correctness, Component: Core Resources, Platform: Windows

#4337 Removed lib/inspec/utils/latest_version.rb and associated code.
  lib/inspec/cli.rb
  lib/inspec/utils/latest_version.rb
  test/functional/inspec_test.rb
Labels: Aspect: Testing, CLI: other, Type: Deprecation

#4251 Permit plugin to be in path with git ref
  lib/plugins/inspec-plugin-manager-cli/lib/inspec-plugin-manager-cli/cli_command.rb
Labels: Component: Plugins, Type: New Feature, Version: Bump Minor
