Repository inspec/inspec, pull requests merged in 2019-08, with the labels that each got.

#4358 [ci] Add artifactory to omnibus/Gemfile
  omnibus/Gemfile
Labels: Expeditor: Skip All

#4359 [ci] Add artifactory to omnibus gemfile
  omnibus/Gemfile
Labels: Expeditor: Skip All

#4370 Fixed syntax errors in wmi doco.
  docs/resources/wmi.md.erb
Labels: Aspect: Docs, Component: Website, Platform: Windows, Type: Bug

#4363 Add startuser windows service
  lib/inspec/resources/service.rb
  test/helpers/mock_loader.rb
  test/unit/mock/cmd/get-service-dhcp
  test/unit/resources/service_test.rb
Labels: Component: Core Resources, Platform: Windows, Type: New Feature, Version: Bump Minor

#4343 group resource: Modified DarwinGroup to collect all users properly on macos
  lib/inspec/resources/command.rb
  lib/inspec/resources/groups.rb
  lib/inspec/runner.rb
  test/helper.rb
  test/unit/resources/group_test.rb
Labels: Component: Core Resources, Platform: macOS, Type: Bug

#4373 Fix Docker builds
  .expeditor/update_dockerfile.sh
  Dockerfile
Labels: Expeditor: Skip All

#4375 README: Add platform detail to support info in runtime list
  README.md
Labels: Aspect: Docs

#4381 Moved the osx? guard below minitest/autorun.
  test/helper.rb
Labels: Aspect: Testing

#4355 Add deps on train 3 and train-winrm 0.2
  inspec-core.gemspec
  inspec.gemspec
Labels: Aspect: Integration, Aspect: Packaging, Component: Train, Platform: Windows, Version: Bump Minor

#4378 Add a Postfix-specific configuration testing resource
  docs/resources/postfix_conf.md.erb
  lib/inspec/resources.rb
  lib/inspec/resources/postfix_conf.rb
  test/helpers/mock_loader.rb
  test/unit/mock/files/main.cf
  test/unit/resources/postfix_conf_test.rb
Labels: Component: Core Resources, Platform: Unix-like, Type: New Resource, Version: Bump Minor

#4376 Refactor lib/source_readers/inspec.rb
  lib/source_readers/inspec.rb
Labels: Type: Tech Debt

#4366 Ensure that resources are always initialized in all cases
  lib/inspec/plugin/v1/plugin_types/resource.rb
Labels: Type: Bug, Type: Tech Debt

#4391 Deprecate platforms for 3-stable branch
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip All

#4389 Ignore .swp files
  .gitignore
Labels: Habitat: Skip Build, Omnibus: Skip Build, Type: Enhancement, Version: Skip Bump

#4214 Fixed file resource raising UndefinedMethod on source_path
  lib/inspec/plugin/v1/plugin_types/resource.rb
  lib/inspec/resources/platform.rb
  test/functional/inspec_exec_test.rb
Labels: Aspect: Correctness, Type: Bug
