Repository inspec/inspec, pull requests merged in 2019-03, with the labels that each got.

#3858 Force omnibus to link to train 1.7.4
  omnibus_overrides.rb
Labels: Aspect: Packaging, Type: Bug

#3818 Rewrite inspec-habitat plugin
  lib/plugins/inspec-habitat/Berksfile
  lib/plugins/inspec-habitat/README.md
  lib/plugins/inspec-habitat/kitchen.yml
  lib/plugins/inspec-habitat/lib/inspec-habitat/cli.rb
  lib/plugins/inspec-habitat/lib/inspec-habitat/profile.rb
  lib/plugins/inspec-habitat/templates/habitat/config/inspec_exec_config.json.erb
  lib/plugins/inspec-habitat/templates/habitat/default.toml.erb
  lib/plugins/inspec-habitat/templates/habitat/hooks/run.erb
  lib/plugins/inspec-habitat/templates/habitat/plan.sh.erb
  lib/plugins/inspec-habitat/test/cookbooks/inspec_habitat_fixture/Berksfile
  lib/plugins/inspec-habitat/test/cookbooks/inspec_habitat_fixture/README.md
  lib/plugins/inspec-habitat/test/cookbooks/inspec_habitat_fixture/files/hab_setup.exp
  lib/plugins/inspec-habitat/test/cookbooks/inspec_habitat_fixture/metadata.rb
  lib/plugins/inspec-habitat/test/cookbooks/inspec_habitat_fixture/recipes/default.rb
  lib/plugins/inspec-habitat/test/functional/inspec_habitat_test.rb
  lib/plugins/inspec-habitat/test/integration/default/inspec_habitat/README.md
  lib/plugins/inspec-habitat/test/integration/default/inspec_habitat/controls/inspec_habitat.rb
  lib/plugins/inspec-habitat/test/integration/default/inspec_habitat/inspec.yml
  lib/plugins/inspec-habitat/test/support/example_profile/README.md
  lib/plugins/inspec-habitat/test/support/example_profile/controls/example.rb
  lib/plugins/inspec-habitat/test/support/example_profile/inspec.yml
  lib/plugins/inspec-habitat/test/unit/profile_test.rb
Labels: Aspect: Integration, CLI: habitat, Component: Plugins

#3816 Adds a v4 release to the expeditor config
  .expeditor/config.yml
Labels: Aspect: Packaging, Type: Chore

#3843 http resource: Add fallback to `#to_s`
  lib/resources/http.rb
Labels: Aspect: UX, Component: Core Resources, Platform: Windows, Type: Bug

#3842 iis_app_pool: Fix PowerShell JSON parsing error
  lib/resources/iis_app_pool.rb
  test/helper.rb
Labels: Aspect: Correctness, Component: Core Resources, Platform: Windows, Type: Bug

#3860 Move all gem installation to Gemfile/bundle install
  Gemfile
  omnibus/config/software/inspec.rb
  omnibus/config/software/unf_ext.rb
Labels: Aspect: Packaging, Aspect: Stability, Type: Enhancement

#3831 Update AWS profile generation for InSpec 4 to depend on the new resou…
  lib/plugins/inspec-init/templates/profiles/aws/README.md
  lib/plugins/inspec-init/templates/profiles/aws/controls/example.rb
  lib/plugins/inspec-init/templates/profiles/aws/inspec.yml
Labels: CLI: init, Platform: AWS, Type: Enhancement

#3509 Allow http resource to follow redirects
  docs/resources/http.md.erb
  inspec-core.gemspec
  lib/resources/http.rb
  test/helper.rb
  test/unit/mock/cmd/http-remote-max-redirs
  test/unit/resources/http_test.rb
Labels: Component: Core Resources, Type: Enhancement

#3890 Repair anchor links to use dashes instead of underscores
  docs/glossary.md
Labels: Aspect: Docs, Component: Website, Habitat: Skip Build, Omnibus: Skip Build, Type: Bug, Version: Skip Bump

#3889 Decoupling test profiles from example profiles
  test/functional/helper.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/mock/profiles/old-examples/custom-resource/README.md
  test/unit/mock/profiles/old-examples/custom-resource/controls/example.rb
  test/unit/mock/profiles/old-examples/custom-resource/inspec.yml
  test/unit/mock/profiles/old-examples/custom-resource/libraries/batsignal.rb
  test/unit/mock/profiles/old-examples/custom-resource/libraries/gordon.rb
  test/unit/mock/profiles/old-examples/inheritance/README.md
  test/unit/mock/profiles/old-examples/inheritance/controls/example.rb
  test/unit/mock/profiles/old-examples/inheritance/inspec.yml
  test/unit/mock/profiles/old-examples/meta-profile/README.md
  test/unit/mock/profiles/old-examples/meta-profile/controls/example.rb
  test/unit/mock/profiles/old-examples/meta-profile/inspec.yml
  test/unit/mock/profiles/old-examples/profile-attribute.yml
  test/unit/mock/profiles/old-examples/profile-attribute/README.md
  test/unit/mock/profiles/old-examples/profile-attribute/controls/example.rb
  test/unit/mock/profiles/old-examples/profile-attribute/inspec.yml
  test/unit/mock/profiles/old-examples/profile-aws/controls/iam_password_policy_expiration.rb
  test/unit/mock/profiles/old-examples/profile-aws/controls/iam_password_policy_max_age.rb
  test/unit/mock/profiles/old-examples/profile-aws/controls/iam_root_user_mfa.rb
  test/unit/mock/profiles/old-examples/profile-aws/controls/iam_users_access_key_age.rb
  test/unit/mock/profiles/old-examples/profile-aws/controls/iam_users_console_users_mfa.rb
  test/unit/mock/profiles/old-examples/profile-aws/inspec.yml
  test/unit/mock/profiles/old-examples/profile-azure/controls/azure_resource_group_example.rb
  test/unit/mock/profiles/old-examples/profile-azure/controls/azure_vm_example.rb
  test/unit/mock/profiles/old-examples/profile-azure/inspec.yml
  test/unit/mock/profiles/old-examples/profile-sensitive/README.md
  test/unit/mock/profiles/old-examples/profile-sensitive/controls/sensitive-failures.rb
  test/unit/mock/profiles/old-examples/profile-sensitive/controls/sensitive.rb
  test/unit/mock/profiles/old-examples/profile-sensitive/inspec.yml
  test/unit/mock/profiles/old-examples/profile/README.md
  test/unit/mock/profiles/old-examples/profile/controls/example.rb
  test/unit/mock/profiles/old-examples/profile/controls/gordon.rb
  test/unit/mock/profiles/old-examples/profile/controls/meta.rb
  test/unit/mock/profiles/old-examples/profile/inspec.yml
  test/unit/mock/profiles/old-examples/profile/libraries/gordon_config.rb
Labels: Aspect: Testing, Habitat: Skip Build, Omnibus: Skip Build, Type: Enhancement, Version: Skip Bump

#3873 Add caching to Inspec::Config
  lib/inspec/config.rb
  test/unit/config_test.rb
Labels: Component: Config, Type: Enhancement

#3902 Re-add a bespoke unf_ext to our omnibus build
  Gemfile
  omnibus/config/software/inspec.rb
  omnibus/config/software/unf_ext.rb
Labels: Aspect: Packaging, Type: Bug
