Repository inspec/inspec, pull requests merged in 2019-09, with the labels that each got.

#4440 update LCR Roadtrip announcement to 13 cities
  www/source/index.html.slim
Labels: Component: Website

#4449 Build omnibus and habitat packages only if version was bumped
  .expeditor/config.yml
Labels: Expeditor: Skip All

#4447 Clean up our use of SecureRandom in Rakefile.
  Rakefile
Labels: Type: Refactoring, Version: Skip Bump

#4446 Rework activator plugin to be more idiomatic.
  lib/inspec/config.rb
  lib/inspec/plugin/v2/activator.rb
  lib/inspec/plugin/v2/loader.rb
Labels: Type: Refactoring

#3844 json resource: Add handling for `command:` error
  lib/inspec/resources/json.rb
  test/unit/resources/json_test.rb
Labels: Aspect: Correctness, Aspect: UX, Component: Core Resources

#4469 Fix broken unit test by adding require
  lib/inspec/rule.rb
Labels: Aspect: Testing, Type: Bug

#4488 Update codeowners to get better automatic review requests
  .github/CODEOWNERS
Labels: Expeditor: Skip All

#4487 Tweak expeditor configuration for PR template and auto assignment
  .expeditor/config.yml
Labels: Expeditor: Skip All

#4388 Expand sys_info resource functionality
  docs/resources/sys_info.md.erb
  lib/inspec/resources/sys_info.rb
Labels: Component: Core Resources, Platform: Unix-like, Version: Bump Minor

#4434 Resolve issue where the Inspec::Tag to_ruby method outputs invalid Ruby
  lib/inspec/objects/tag.rb
  test/unit/dsl/objects_test.rb
Labels: Component: Code Generation, Priority: High, Type: Bug

#4476 Use File.realpath in Loader#plugin_gem_path to resolve all symlinks.
  lib/inspec/plugin/v2/loader.rb
Labels: CLI: plugin, Priority: Medium, Type: Bug

#4490 Split and parallelize some tests to make them faster
  .expeditor/config.yml
  lib/plugins/inspec-plugin-manager-cli/test/functional/help_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/helper.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/inspec-plugin_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/install_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/list_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/search_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/uninstall_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/update_test.rb
  test/functional/inputs_test.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_check_test.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_jsonmin_test.rb
  test/functional/inspec_exec_junit_test.rb
  test/functional/inspec_exec_test.rb
  test/functional/inspec_json_profile_test.rb
  test/functional/inspec_shell_test.rb
  test/functional/inspec_vendor_test.rb
  test/functional/plugins_test.rb
  test/functional/ui_test.rb
Labels: Aspect: Performance, Aspect: Testing, Priority: Low

#4515 Fix issue 4514 - update header z-index preventing header overlaying main navigation
  www/source/stylesheets/_homepage.scss
Labels: Component: Website, Type: Bug

#4538 Add resource stub for sshd_config
  lib/inspec/resources/sshd_config.rb
Labels: Component: Core Resources, Component: DSL, Type: Bug

#4537 Add missing resource stubs for 'group' resource
  lib/inspec/resources/group.rb
Labels: Component: Core Resources, Component: DSL, Type: Bug, Type: Regression
