Repository inspec/inspec, pull requests merged in 2019-06, with the labels that each got.

#4171 Creating and Publishing InSpec Team Working Agreement
  inspec_team-working_agreement.md
Labels: Aspect: Docs

#4173 Fix two misrendering hyperlinks in resource docs
  docs/resources/apache.md.erb
  docs/resources/azure_generic_resource.md.erb
Labels: Component: Website, Habitat: Skip Build, Omnibus: Skip Build, Type: Bug, Version: Skip Bump

#4172 Replace jsonschema with json-schema
  Gemfile
  inspec-core.gemspec
  inspec.gemspec
  test/functional/inspec_check_test.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_jsonmin_test.rb
Labels: Type: Chore, Type: Deprecation

#4177 Turn off parallel testing (for now?)
  test/functional/helper.rb
  test/helper.rb
  test/unit/profiles/control_eval_context_test.rb
Labels: Aspect: Testing, Type: Tech Debt

#4182 oops. sorry. cleaned test output.
  test/functional/inputs_test.rb
Labels: Expeditor: Skip All, Version: Skip Bump

#4132 Changed version check network timeout from 1 to 3 seconds.
  .gitignore
  lib/inspec/cli.rb
  lib/inspec/utils/latest_version.rb
Labels: Aspect: Stability, Aspect: Testing

#4186 Copyediting for Input docs
  docs/glossary.md
  docs/inputs.md
Labels: Aspect: Docs

#4019 New plugin type: Input
  .codeclimate.yml
  .mdlrc
  .rubocop.yml
  docs/dev/plugins.md
  lib/inspec/control_eval_context.rb
  lib/inspec/input_registry.rb
  lib/inspec/plugin/v2/plugin_base.rb
  lib/inspec/plugin/v2/plugin_types/input.rb
  test/functional/inputs_test.rb
  test/functional/plugins_test.rb
  test/unit/mock/config_dirs/input_plugin/plugins.json
  test/unit/mock/plugins/inspec-input-test-fixture/README.md
  test/unit/mock/plugins/inspec-input-test-fixture/lib/inspec-input-test-fixture.rb
  test/unit/mock/plugins/inspec-input-test-fixture/lib/inspec-input-test-fixture/input.rb
  test/unit/mock/plugins/inspec-input-test-fixture/lib/inspec-input-test-fixture/plugin.rb
  test/unit/mock/plugins/inspec-input-test-fixture/lib/inspec-input-test-fixture/version.rb
  test/unit/mock/profiles/inputs/plugin/controls/plugin_controls.rb
  test/unit/mock/profiles/inputs/plugin/inspec.yml
  test/unit/plugin/v2/api_base_test.rb
  test/unit/plugin/v2/api_input.rb
  test/unit/plugin/v2/loader_test.rb
Labels: Component: Inputs, Component: Plugins, Type: New Feature, Version: Bump Minor

#4189 Close at 400 days, with a message.
  .github/stale.yml
Labels: Omnibus: Skip Build, Version: Skip Bump

#4009 Add inspec-core-bin as a gem
  .expeditor/config.yml
  inspec-bin/Gemfile
  inspec-bin/inspec-core-bin.gemspec
Labels: Aspect: Packaging, Habitat: Skip Build, Omnibus: Skip Build, Type: Enhancement

#4193 Speed up inspec
  .travis.yml
  inspec-bin/bin/inspec
  lib/fetchers/mock.rb
  lib/inspec/backend.rb
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/fetcher.rb
  lib/inspec/file_provider.rb
  lib/inspec/input_registry.rb
  lib/inspec/metadata.rb
  lib/inspec/plugin/v1/plugin_types/resource.rb
  lib/inspec/profile.rb
  lib/inspec/resource.rb
  lib/inspec/resources.rb
  lib/inspec/resources/command.rb
  lib/inspec/runner.rb
  lib/inspec/runner_rspec.rb
  lib/inspec/ui.rb
  lib/inspec/ui_table_helper.rb
  lib/inspec/utils/pkey_reader.rb
  lib/plugins/inspec-habitat/test/unit/profile_test.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_exec_test.rb
  test/functional/ui_test.rb
  test/helpers/mock_loader.rb
  test/unit/config_test.rb
  test/unit/dependencies/lockfile_test.rb
  test/unit/dsl/control_test.rb
  test/unit/fetchers/git_test.rb
  test/unit/fetchers/local_test.rb
  test/unit/fetchers/source_reader_test.rb
  test/unit/fetchers/url_test.rb
  test/unit/file_provider_test.rb
  test/unit/plugin/v1/resource_test.rb
  test/unit/profiles/control_eval_context_test.rb
  test/unit/profiles/profile_test.rb
  test/unit/source_readers/flat_test.rb
  test/unit/source_readers/inspec_test.rb
  test/unit/ui_test.rb
Labels: Aspect: Correctness, Aspect: Performance, Aspect: Testing

#4185 Create Inputs documentation page
  docs/glossary.md
  docs/inputs.md
  docs/profiles.md
  www/data/docs_sidebar.yml
Labels: Aspect: Docs, Component: Website, Habitat: Skip Build, Omnibus: Skip Build, Version: Skip Bump

#4192 Update test code to rename attribute() to input() in DSL
  examples/profile-attribute/controls/example.rb
  kitchen.yml
  test/integration/aws/default/verify/controls/aws_cloudtrail_trail.rb
  test/integration/aws/default/verify/controls/aws_cloudwatch_alarm.rb
  test/integration/aws/default/verify/controls/aws_cloudwatch_log_metric_filter.rb
  test/integration/aws/default/verify/controls/aws_config_delivery_channel.rb
  test/integration/aws/default/verify/controls/aws_config_recorder.rb
  test/integration/aws/default/verify/controls/aws_ec2_instance.rb
  test/integration/aws/default/verify/controls/aws_ec2_instances.rb
  test/integration/aws/default/verify/controls/aws_eks_cluster.rb
  test/integration/aws/default/verify/controls/aws_elb.rb
  test/integration/aws/default/verify/controls/aws_elbs.rb
  test/integration/aws/default/verify/controls/aws_flow_log.rb
  test/integration/aws/default/verify/controls/aws_iam_access_key.rb
  test/integration/aws/default/verify/controls/aws_iam_access_keys.rb
  test/integration/aws/default/verify/controls/aws_iam_group.rb
  test/integration/aws/default/verify/controls/aws_iam_groups.rb
  test/integration/aws/default/verify/controls/aws_iam_policy.rb
  test/integration/aws/default/verify/controls/aws_iam_root_user.rb
  test/integration/aws/default/verify/controls/aws_iam_user.rb
  test/integration/aws/default/verify/controls/aws_iam_users.rb
  test/integration/aws/default/verify/controls/aws_kms_key.rb
  test/integration/aws/default/verify/controls/aws_rds_instance.rb
  test/integration/aws/default/verify/controls/aws_route_table.rb
  test/integration/aws/default/verify/controls/aws_route_tables.rb
  test/integration/aws/default/verify/controls/aws_s3_bucket.rb
  test/integration/aws/default/verify/controls/aws_s3_buckets.rb
  test/integration/aws/default/verify/controls/aws_security_group.rb
  test/integration/aws/default/verify/controls/aws_security_groups.rb
  test/integration/aws/default/verify/controls/aws_sns_subscription.rb
  test/integration/aws/default/verify/controls/aws_sns_topic.rb
  test/integration/aws/default/verify/controls/aws_sns_topics.rb
  test/integration/aws/default/verify/controls/aws_sqs_queue.rb
  test/integration/aws/default/verify/controls/aws_subnet.rb
  test/integration/aws/default/verify/controls/aws_subnets.rb
  test/integration/aws/default/verify/controls/aws_vpc.rb
  test/integration/aws/default/verify/controls/aws_vpcs.rb
  test/integration/aws/minimal/verify/controls/aws_iam_root_user.rb
  test/integration/default/controls/audit_spec.rb
  test/unit/inputs/input_test.rb
  test/unit/mock/profiles/inputs/basic/controls/flat.rb
  test/unit/mock/profiles/inputs/basic/controls/nested.rb
  test/unit/mock/profiles/inputs/inheritance/child-01/controls/child-01-controls.rb
  test/unit/mock/profiles/inputs/inheritance/child-02/controls/child-02-controls.rb
  test/unit/mock/profiles/inputs/inheritance/wrapper/controls/wrapper-controls.rb
  test/unit/mock/profiles/inputs/metadata-required/controls/mention-required.rb
  test/unit/mock/profiles/inputs/plugin/controls/plugin_controls.rb
  test/unit/mock/profiles/inputs/undeclared/controls/undeclared.rb
  test/unit/mock/profiles/old-examples/profile-attribute/controls/example.rb
  test/unit/mock/profiles/profile-with-required-inputs/controls/include.rb
Labels: Aspect: Testing, Type: Chore

#4017 Rename attributes -> inputs in profile metadata files
  etc/deprecations.json
  lib/inspec/input_registry.rb
  test/functional/inputs_test.rb
  test/unit/mock/profiles/inputs/metadata-basic/controls/metadata_controls.rb
  test/unit/mock/profiles/inputs/metadata-basic/inspec.yml
  test/unit/mock/profiles/inputs/metadata-legacy/controls/metadata_controls.rb
  test/unit/mock/profiles/inputs/metadata-legacy/inspec.yml
Labels: Component: Inputs, Type: New Feature, Version: Bump Minor

#4205 Fix Expeditor Version Bump Script
  .expeditor/update_version.sh
  inspec-bin/lib/inspec-bin/version.rb
  lib/inspec/version.rb
Labels: Aspect: Packaging, Type: Bug

#4207 Remove clean-static-libs from omnibus build
  omnibus/config/projects/inspec.rb
Labels: Aspect: Packaging, Type: Bug

#4215 nginx_conf: Fix commented/empty file parsing
  lib/inspec/resources/nginx_conf.rb
  test/helpers/mock_loader.rb
  test/unit/mock/cmd/find-nginx-confd-multiple-conf
  test/unit/mock/files/nginx_confd_comments_only.conf
  test/unit/mock/files/nginx_confd_empty.conf
  test/unit/resources/nginx_conf_test.rb
Labels: Component: Core Resources, Platform: Unix-like, Type: Bug

#4219 `chefstyle -a` after merging #4156
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
Labels: Expeditor: Skip All

#4226 [master] Use new omnibus-toolchain scripts in omnibus-test.* scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#4227 [3-stable] Use new omnibus-toolchain scripts in omnibus-test.* scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#4223 Set the umask on travis in before_install so that file resource permission matcher can be tested
  .travis.yml
  test/unit/resources/file_test.rb
Labels: Aspect: Testing, Component: Continuous Delivery, Habitat: Skip Build, Omnibus: Skip Build, Type: Bug
