Repository inspec/inspec, pull requests merged in 2019-01, with the labels that each got.

#3696 Stabilize profile export functional test
  test/functional/inspec_json_profile_test.rb
  test/unit/mock/profiles/export-json/empty-wrapper/controls/includes.rb
  test/unit/mock/profiles/export-json/empty-wrapper/inspec.yml
  test/unit/mock/profiles/export-json/simple-profile/controls/basic.rb
  test/unit/mock/profiles/export-json/simple-profile/inspec.yml
Labels: Aspect: Stability, Aspect: Testing, CLI: other, Version: Skip Bump

#2838 Add resources for aws_billing_report and aws_billing_reports.
  docs/resources/aws_billing_report.md.erb
  docs/resources/aws_billing_reports.md.erb
  lib/resource_support/aws.rb
  lib/resources/aws/aws_billing_report.rb
  lib/resources/aws/aws_billing_reports.rb
  test/unit/resources/aws_billing_backend.rb
  test/unit/resources/aws_billing_report_test.rb
  test/unit/resources/aws_billing_reports_test.rb
Labels: Platform: AWS, Type: New Resource, Version: Bump Minor

#3692 Update CONTRIBUTING.md release information
  CONTRIBUTING.md
Labels: Aspect: Docs, Aspect: Packaging, Expeditor: Skip All

#3717 Fix extra '&&' in windows functional tests, add diagnostics
  test/functional/helper.rb
Labels: Aspect: Testing, Type: Enhancement

#3718 Allow empty opts to functional test helper run_inspec_process
  test/functional/helper.rb
Labels: Aspect: Testing, Changelog: Skip Update, Version: Skip Bump

#3613 Support cran packages for non-utf8 locales
  lib/resources/cran.rb
Labels: Component: Core Resources, Type: Enhancement

#3690 Centralized Deprecation Facility
  docs/dev/deprecation.md
  etc/deprecations.json
  lib/inspec.rb
  lib/inspec/cli.rb
  lib/inspec/ui.rb
  lib/utils/deprecation.rb
  lib/utils/deprecation/config_file.rb
  lib/utils/deprecation/deprecator.rb
  lib/utils/deprecation/errors.rb
  lib/utils/deprecation/global_method.rb
  test/functional/logging_test.rb
  test/unit/mock/profiles/deprecation/bare/README.md
  test/unit/mock/profiles/deprecation/bare/controls/bare.rb
  test/unit/mock/profiles/deprecation/bare/inspec.yml
  test/unit/mock/profiles/deprecation/resource_pack/README.md
  test/unit/mock/profiles/deprecation/resource_pack/inspec.yml
  test/unit/mock/profiles/deprecation/resource_pack/libraries/deprecation_tester.rb
  test/unit/mock/profiles/deprecation/typical/README.md
  test/unit/mock/profiles/deprecation/typical/controls/typical.rb
  test/unit/mock/profiles/deprecation/typical/inspec.yml
  test/unit/utils/deprecation_test.rb
Labels: Aspect: UX, Type: New Feature

#3728 Promote Hab package alongside Omnibus package
  .expeditor/config.yml
Labels: Expeditor: Skip All

#3744 Fix SSL tests by allowing multiple cipher counts
  test/unit/resources/ssl_test.rb
Labels: Aspect: Testing, Type: Bug

#3729 Allow 'Proprietary' as a valid license term.
  lib/inspec/metadata.rb
  test/unit/mock/profiles/license-proprietary/inspec.yml
  test/unit/profiles/profile_test.rb
Labels: CLI: check, Type: Enhancement

#3736 habitat package: Prevent world-writable files in gems
  habitat/plan.sh
Labels: Aspect: Packaging, Aspect: Security, Type: Bug

#3743 Clean up unit test output
  test/helper.rb
  test/unit/fetchers/url_test.rb
  test/unit/profiles/profile_context_test.rb
  test/unit/resources/apt_test.rb
  test/unit/resources/chocolatey_package_test.rb
  test/unit/resources/nginx_conf_test.rb
  test/unit/resources/processes_test.rb
  test/unit/resources/shadow_test.rb
  test/unit/resources/user_test.rb
  test/unit/resources/virtualization_test.rb
  test/unit/runner_test.rb
Labels: Aspect: Testing, Type: Chore

#3740 iis_app_pool: Fixes error with 'should not exist'
  lib/resources/iis_app_pool.rb
  test/helper.rb
  test/unit/resources/iis_app_pool_test.rb
Labels: Component: Core Resources, Platform: Windows, Type: Bug

#3755 Update train pin so inspec builds may succeed
  inspec.gemspec
Labels: Aspect: Packaging

#3759 Allow :value in addition to :default for setting attribute values
  docs/profiles.md
  etc/deprecations.json
  examples/profile-attribute/controls/example.rb
  lib/inspec/objects/attribute.rb
  test/unit/attributes/attribute_test.rb
  test/unit/mock/profiles/attributes/controls/flat.rb
  test/unit/mock/profiles/attributes/controls/nested.rb
Labels: Aspect: Docs, Aspect: UX, Component: Attributes, Type: New Feature, Version: Bump Minor

#3758 tests: Fix profile_context_test NameError
  lib/inspec/dsl.rb
  lib/inspec/plugin/v2/plugin_types/cli.rb
Labels: Aspect: Testing, Type: Bug

#3757 Add `--help` to CLI plugin activation criteria
  lib/inspec/plugin/v2/loader.rb
  test/functional/inspec_test.rb
  test/functional/plugins_test.rb
Labels: Aspect: UX, CLI: other, Type: Bug

#3770 More meaningful error when including controls from a missing dependency
  lib/inspec/dsl.rb
  test/functional/inspec_check_test.rb
  test/unit/mock/profiles/invalid-include-controls/controls/example.rb
  test/unit/mock/profiles/invalid-include-controls/inspec.yml
Labels: Aspect: UX, Component: Loader, Type: Bug
