Repository inspec/inspec, pull requests merged in 2019-11, with the labels that each got.

#4662 incorporate changes from chef hab plan
  habitat/plan.ps1
Labels: Omnibus: Skip Build, Platform: Habitat, Platform: Windows

#4622 WIP - Update the path to our test scripts, and make sure it has the execute bit.
  .expeditor/artifact.habitat.yml
  .expeditor/buildkite/artifact.habitat.install.sh
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
Labels: Aspect: Testing, Expeditor: Skip All, Platform: Habitat

#4516 Add startuser systemd service v2
  lib/inspec/resources/service.rb
  test/unit/mock/cmd/systemctl-show-all-dbus
  test/unit/resources/service_test.rb
Labels: Component: Core Resources, Type: New Feature

#4666 Make input() work in describe.one
  lib/inspec/describe_base.rb
  lib/inspec/input_dsl_helpers.rb
  lib/inspec/rspec_extensions.rb
  test/functional/inputs_test.rb
  test/unit/mock/profiles/inputs/describe-one/controls/describe-one.rb
  test/unit/mock/profiles/inputs/describe-one/inspec.yml
Labels: Component: DSL, Component: Inputs, Type: Bug

#4675 Get artifact/habitat starting tests on both Windows and Linux
  .expeditor/buildkite/artifact.habitat.install.sh
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
  test/artifact/inspec_detect_test.rb
Labels: Expeditor: Skip All, Platform: Habitat

#4548 Fix for invocation when calling npm under sudo
  lib/inspec/resources/npm.rb
  test/helpers/mock_loader.rb
Labels: Component: Core Resources, Type: Bug

#4390 Fix windows testing
  .expeditor/buildkite/verify.ps1
  Gemfile
  Rakefile
  lib/inspec/file_provider.rb
  lib/inspec/metadata.rb
  lib/inspec/rule.rb
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
  lib/plugins/inspec-artifact/test/functional/inspec_artifact_test.rb
  lib/plugins/inspec-init/test/functional/inspec_init_plugin_test.rb
  lib/plugins/shared/core_plugin_test_helper.rb
  test/fixtures/profiles/control_metadata/controls/example.rb
  test/fixtures/profiles/dependencies/profile_a/controls/example.rb
  test/fixtures/profiles/dependencies/profile_b/controls/example.rb
  test/fixtures/profiles/dependencies/profile_c/controls/example.rb
  test/fixtures/profiles/dependencies/profile_d/controls/example.rb
  test/fixtures/profiles/export-json/simple-profile/controls/basic.rb
  test/fixtures/profiles/failures/controls/failures.rb
  test/fixtures/profiles/incompatible_resource_for_transport.rb
  test/fixtures/profiles/old-examples/profile/controls/example-tmp.rb
  test/fixtures/profiles/profile-with-bad-metadata/controls/example.rb
  test/fixtures/profiles/simple-inheritance/controls/simple-inheritance.rb
  test/fixtures/profiles/unsupported_dependencies/wrapper-profile/controls/controls.rb
  test/fixtures/profiles/warn_logs/controls/control_with_logs.rb
  test/functional/helper.rb
  test/functional/inputs_test.rb
  test/functional/inspec_artifact_test.rb
  test/functional/inspec_exec_automate_test.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_jsonmin_test.rb
  test/functional/inspec_exec_junit_test.rb
  test/functional/inspec_exec_test.rb
  test/functional/inspec_json_profile_test.rb
  test/functional/inspec_shell_test.rb
  test/functional/license_test.rb
  test/unit/plugin/v2/installer_test.rb
Labels: Aspect: Portability, Aspect: Testing, Platform: Windows, Priority: Medium

#4713 Correct filesystem resource docs for windows example
  docs/resources/filesystem.md.erb
Labels: Aspect: Docs, Component: Core Resources, Platform: Windows

#4678 Add several tests to our artifact suite
  .expeditor/artifact.habitat.yml
  .expeditor/buildkite/artifact.habitat.install.sh
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
  .expeditor/config.yml
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  test/artifact/artifact_helper.rb
  test/artifact/artifact_installation_test.rb
  test/artifact/inspec_archive_test.rb
  test/artifact/inspec_check_test.rb
  test/artifact/inspec_compliance_test.rb
  test/artifact/inspec_detect_test.rb
  test/artifact/inspec_env_test.rb
  test/artifact/inspec_exec_test.rb
  test/artifact/inspec_habitat_test.rb
  test/artifact/inspec_help_test.rb
  test/artifact/inspec_init_test.rb
  test/artifact/inspec_json_test.rb
  test/artifact/inspec_plugin_test.rb
  test/artifact/inspec_shell_test.rb
  test/artifact/inspec_supermarket_test.rb
  test/artifact/inspec_vendor_test.rb
  test/artifact/inspec_version_test.rb
Labels: Expeditor: Skip All, Platform: Habitat

#4734 Move lib/fetchers to lib/inspec/fetchers and re-namspace
  lib/bundles/inspec-supermarket/target.rb
  lib/inspec/cached_fetcher.rb
  lib/inspec/fetcher.rb
  lib/inspec/fetcher/git.rb
  lib/inspec/fetcher/local.rb
  lib/inspec/fetcher/mock.rb
  lib/inspec/fetcher/url.rb
  lib/inspec/plugin/v1/plugin_types/fetcher.rb
  lib/inspec/runner.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/target.rb
  test/helper.rb
  test/unit/dsl/control_test.rb
  test/unit/fetchers/fetchers_test.rb
  test/unit/fetchers/git_test.rb
  test/unit/fetchers/local_test.rb
  test/unit/fetchers/mock_test.rb
  test/unit/fetchers/url_test.rb
  test/unit/runner_test.rb
Labels: Type: Tech Debt

#4735 Team working agreement - Estimation
  inspec_team-working_agreement.md
Labels: Aspect: Docs, Expeditor: Skip All

#4742 Update expeditor to skip with new labels
  .expeditor/config.yml
Labels: Expeditor: Skip All, Type: Chore
