Repository inspec/inspec, pull requests merged in 2019-05, with the labels that each got.

#4014 Update software names in readme
  README.md
Labels: Aspect: Docs

#4018 Add inspec-*-bin to the plugin filter list
  etc/plugin_filters.json
Labels: Aspect: Packaging, Component: Plugins, Type: Enhancement

#4007 Improve testing on inputs that do not have values
  test/functional/inputs_test.rb
  test/unit/mock/profiles/inputs/undeclared/controls/undeclared.rb
  test/unit/mock/profiles/inputs/undeclared/inspec.yml
Labels: Aspect: Testing, Component: Inputs, Habitat: Skip Build, Omnibus: Skip Build, Type: Enhancement, Version: Skip Bump

#4022 Bump website from 3.0 to 4.
  www/source/downloads.html.slim
  www/source/index.html.slim
  www/source/layouts/_footer.slim
  www/source/layouts/layout.slim
Labels: Component: Website, Expeditor: Skip All, Type: Enhancement

#3942 OSS Rollout Updates
  .github/CODEOWNERS
  README.md
Labels: Aspect: Docs, Expeditor: Skip All

#4036 Add missing tests for DataSeries#enabled? #disable
  test/unit/utils/telemetry/data_series_test.rb
Labels: Aspect: Testing, Component: Telemetry, Type: Enhancement

#4050 Remove more magic comments
  examples/plugins/inspec-resource-lister/inspec-resource-lister.gemspec
  inspec.gemspec
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/inspec-plugin-template.gemspec
Labels: Aspect: Testing, Type: Tech Debt

#4071 Include info about Chef License Requirements
  README.md
  www/source/docs/index.html.slim
Labels: Aspect: Docs

#4001 inspec check: Send log to STDERR when running with --format json
  lib/inspec/cli.rb
  test/functional/logging_test.rb
  test/unit/mock/profiles/deprecation/check/inspec.yml
Labels: CLI: check, Component: Logging, Type: Bug

#4158 Minor changes to omnibus-test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#4157 Minor changes to omnibus-test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#4164 Update sunset messages on 2 resources
  docs/resources/apache.md.erb
  docs/resources/azure_generic_resource.md.erb
Labels: Aspect: Docs, Component: Website, Habitat: Skip Build, Omnibus: Skip Build, Type: Deprecation, Version: Skip Bump

#4163 Mention inspec-bin gem in installation instructions
  README.md
  www/source/downloads.html.slim
Labels: Aspect: Docs, Component: Website
