Repository inspec/inspec, pull requests merged in 2019-10, with the labels that each got.

#4565 Fix problem in method_missing in rspec extensions when backend unavailable.
  lib/inspec/dsl.rb
  lib/inspec/rspec_extensions.rb
Labels: Component: Internals, Type: Bug

#4553 Remove unused polyfill.rb file adding to_h to Struct
  lib/inspec/polyfill.rb
Labels: Aspect: Correctness

#4509 Notes on compliance CLI subcommand
  docs/dev/compliance.md
Labels: Aspect: Docs, CLI: compliance, Expeditor: Skip All, Type: Enhancement

#4576 Pin RSpec to 3.8.6 to avoid test failures for now
  inspec-core.gemspec
  inspec.gemspec
Labels: Aspect: Testing, Priority: High

#4545 Replace input to_hash method, and add unit test for it
  lib/inspec/input.rb
  test/unit/inputs/input_test.rb
Labels: Component: Code Generation, Component: Inputs, Type: Bug

#4569 Telemetry: add chef-core
  inspec-core.gemspec
  inspec.gemspec
Labels: Component: Telemetry

#4501 Habitat plan for Windows
  habitat/plan.ps1
  inspec-bin/Rakefile
  test/artifact/README.md
  test/artifact/Rakefile
  test/artifact/inspec_detect_test.rb
Labels: Aspect: Packaging, Aspect: Portability, Expeditor: Skip All, Platform: Habitat

#4599 Add habitat/test pipeline for testing our habitat builds.
  .bldr.toml
  .expeditor/buildkite/habitat_test.ps1
  .expeditor/buildkite/habitat_test.sh
  .expeditor/config.yml
  .expeditor/habitat_test.yml
Labels: Aspect: Testing, Expeditor: Skip All, Platform: Habitat

#4610 Empty resources yml until I build it.
  .expeditor/verify.resources.yml
Labels: Aspect: Testing

#4608 Fixing hamburger and unclickable download buttons / search boxen.
  www/source/stylesheets/_homepage.scss
  www/source/stylesheets/_nav.scss
Labels: Expeditor: Skip All

#4617 Stop using reserved pipelines with default triggers.
  .expeditor/artifact.habitat.yml
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
  .expeditor/config.yml
  .expeditor/integration.resources.yml
Labels: Aspect: Testing, Expeditor: Skip All

#4619 Fix TarProvider when the tarball has empty files in it.
  lib/inspec/file_provider.rb
  test/fixtures/contains-empty-file-0.1.0.tar.gz
  test/unit/file_provider_test.rb
Labels: CLI: archive, Type: Bug

#4600 Add ruby 2.7 preview
  .expeditor/verify.pipeline.yml
Labels: Aspect: Testing

#4603 Let codeclimate ignore included inspec profiles
  .codeclimate.yml
Labels: Aspect: Testing, Expeditor: Skip All, Type: Chore

#4636 iis_app_pool better handling of non-existent pools.
  lib/inspec/resources/iis_app_pool.rb
Labels: Component: Core Resources, Platform: Windows, Type: Bug

#4637 Fix filesystem resource when device has long name
  lib/inspec/resources/filesystem.rb
  test/helpers/mock_loader.rb
  test/unit/mock/cmd/df-PT
  test/unit/resources/filesystem_test.rb
Labels: Component: Core Resources, Platform: Unix-like, Type: Bug

#4638 Add #to_s to etc_hosts_allow, and add tests
  lib/inspec/resources/etc_hosts_allow_deny.rb
  test/unit/resources/etc_hosts_allow_deny_test.rb
Labels: Component: Core Resources, Type: Bug

#4568 Improve testing for yum.repo in CentOS 8
  lib/inspec/resources/yum.rb
  test/helpers/mock_loader.rb
  test/unit/mock/cmd/yum-centos8-repolist-all
  test/unit/resources/yum_test.rb
Labels: Aspect: Correctness, Priority: Low, Type: Bug

#4654 oracledb_session fixes
  lib/inspec/resources/oracledb_session.rb
  test/unit/resources/oracledb_session_test.rb
Labels: Component: Core Resources, Platform: Databases

#4657 Remove LCR Roadtrip announcement on homepage
  www/source/index.html.slim
Labels: Expeditor: Skip All

#4650 Fix config reference in `compliance exec`
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
Labels: CLI: compliance, Type: Bug

#4653 Nginx Resource: Add parsing support for wildcard, dot prefix, and regex
  lib/inspec/utils/nginx_parser.rb
  test/unit/utils/nginx_parser_test.rb
Labels: Component: Core Resources
