Repository inspec/inspec, pull requests merged in 2020-08, with the labels that each got.

#5184 Try to finish pipeline for 4.22.8 and update cdn purge step
  .expeditor/config.yml
  .expeditor/purge-cdn.sh
Labels: Expeditor: Skip Changelog, Expeditor: Skip Version Bump

#5084 Convert JUnit Reporter to a Plugin
  lib/inspec/config.rb
  lib/inspec/reporters.rb
  lib/plugins/inspec-reporter-junit/README.md
  lib/plugins/inspec-reporter-junit/lib/inspec-reporter-junit.rb
  lib/plugins/inspec-reporter-junit/lib/inspec-reporter-junit/reporter.rb
  lib/plugins/inspec-reporter-junit/lib/inspec-reporter-junit/version.rb
  test/unit/reporters/junit_test.rb
Labels: Component: Reporters, Type: Refactoring

#5085 A more correct JUnit reporter
  Gemfile
  docs/reporters.md
  lib/plugins/inspec-reporter-junit/README.md
  lib/plugins/inspec-reporter-junit/lib/inspec-reporter-junit.rb
  lib/plugins/inspec-reporter-junit/lib/inspec-reporter-junit/reporter.rb
  lib/plugins/inspec-reporter-junit/test/fixtures/schema/JUnit-162a883.xsd
  test/functional/inspec_exec_junit_test.rb
Labels: Aspect: Correctness, Component: Reporters, Type: Bug

#5054 RunData Filters; sensitive inputs; suppress diff; sorted output
  docs/dev/plugins.md
  docs/inputs.md
  lib/inspec/base_cli.rb
  lib/inspec/config.rb
  lib/inspec/input.rb
  lib/inspec/input_registry.rb
  lib/inspec/plugin/v2/plugin_types/reporter.rb
  lib/inspec/reporters/base.rb
  lib/inspec/run_data/profile.rb
  lib/inspec/utils/run_data_filters.rb
  test/fixtures/profiles/diff-output/controls/diff-output.rb
  test/fixtures/profiles/diff-output/inspec.yml
  test/fixtures/profiles/inputs/metadata-sensitive/controls/sensitive.rb
  test/fixtures/profiles/inputs/metadata-sensitive/inspec.yml
  test/fixtures/profiles/sorted-results/sort-me-1/controls/a-uvw.rb
  test/fixtures/profiles/sorted-results/sort-me-1/controls/b-xyz.rb
  test/fixtures/profiles/sorted-results/sort-me-1/controls/c-rst.rb
  test/fixtures/profiles/sorted-results/sort-me-1/inspec.yml
  test/functional/inputs_test.rb
  test/functional/inspec_exec_json_test.rb
Labels: Component: CLI: exec, Documentation, Expeditor: Bump Minor Version, Type: New Feature, Type: Refactoring

#5169 Update docs for known expeditor issues and resolutions
  RELEASE_PROCESS.md
Labels: Aspect: Docs, Expeditor: Skip All
