Repository inspec/inspec, pull requests merged in 2020-05, with the labels that each got.

#4995 Fix for warning when input is provided
  lib/inspec/input.rb
  test/fixtures/profiles/inputs/required/controls/required.rb
  test/fixtures/profiles/inputs/required/files/inputs.yaml
  test/fixtures/profiles/inputs/required/inspec.yml
  test/fixtures/profiles/inputs/undeclared/controls/undeclared.rb
  test/functional/inputs_test.rb
Labels: Aspect: UI-UX, Component: Inputs, Type: Bug

#5009 Push Windows test skipping for 2 more months
  test/helper.rb
Labels: Expeditor: Skip Changelog, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#5010 Updating automate reporter example config to valid json
  docs/reporters.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#4993 Updates README.md to clarify running InSpec local
  README.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#4994 Reporter options to truncate message and suppress stacktrace
  lib/inspec/base_cli.rb
  lib/inspec/config.rb
  lib/inspec/reporters/base.rb
  test/fixtures/profiles/failures/controls/failures.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_test.rb
Labels: Component: Reporters, Type: Enhancement

#5016 Remove Windows skips from test/functional/inspec_exec_jsonmin_test.rb
  test/functional/inspec_exec_jsonmin_test.rb
Labels: Expeditor: Skip Changelog, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#5019 Include homebrew-chef in release process
  RELEASE_PROCESS.md
Labels: Expeditor: Skip All

#5041 Add website push to release process guide
  RELEASE_PROCESS.md
Labels: Expeditor: Skip All

#5017 Stores output of `inspec json` to archive and artifact
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  lib/inspec/utils/json_profile_summary.rb
  lib/plugins/inspec-artifact/lib/inspec-artifact/base.rb
  lib/plugins/inspec-artifact/test/functional/inspec_artifact_test.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_json_profile_test.rb
  test/functional/inspec_vendor_test.rb
  test/unit/json_profile_summary_test.rb
Labels: Component: CLI: archive, Type: New Feature

#5007 Reporters as Plugins
  docs/dev/plugins.md
  docs/plugins.md
  lib/inspec/config.rb
  lib/inspec/plugin/v2/plugin_types/reporter.rb
  lib/inspec/reporters.rb
  lib/inspec/run_data.rb
  lib/inspec/run_data/control.rb
  lib/inspec/run_data/profile.rb
  lib/inspec/run_data/result.rb
  lib/inspec/run_data/statistics.rb
  lib/plugins/inspec-init/lib/inspec-init/cli_plugin.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/lib/inspec-plugin-template/plugin.rb
  lib/plugins/inspec-init/templates/plugins/inspec-plugin-template/lib/inspec-plugin-template/reporter.rb
  test/fixtures/config_dirs/reporter_plugin/plugins.json
  test/fixtures/plugins/inspec-reporter-test-fixture/README.md
  test/fixtures/plugins/inspec-reporter-test-fixture/lib/inspec-reporter-test-fixture.rb
  test/fixtures/plugins/inspec-reporter-test-fixture/lib/inspec-reporter-test-fixture/plugin.rb
  test/fixtures/plugins/inspec-reporter-test-fixture/lib/inspec-reporter-test-fixture/reporter.rb
  test/fixtures/plugins/inspec-reporter-test-fixture/lib/inspec-reporter-test-fixture/version.rb
  test/functional/plugins_test.rb
  test/unit/plugin/v2/api_reporter_test.rb
Labels: Component: Plugins, Component: Reporters, Expeditor: Bump Minor Version, Type: New Feature

#5044 Fix expeditor minor bump config, bump to 4.19
  .expeditor/config.yml
Labels: Expeditor: Bump Minor Version

#5049 Innocuous change to allow expeditor bump
  MAINTAINERS.md
Labels: Expeditor: Bump Minor Version
