Repository inspec/inspec, pull requests merged in 2020-03, with the labels that each got.

#4932 Add functional tests that try each of the cloud resource packs
  test/fixtures/profiles/cloud/test-aws/README.md
  test/fixtures/profiles/cloud/test-aws/attributes.yml
  test/fixtures/profiles/cloud/test-aws/controls/example.rb
  test/fixtures/profiles/cloud/test-aws/inspec.yml
  test/fixtures/profiles/cloud/test-azure/README.md
  test/fixtures/profiles/cloud/test-azure/controls/example.rb
  test/fixtures/profiles/cloud/test-azure/inspec.yml
  test/fixtures/profiles/cloud/test-gcp/README.md
  test/fixtures/profiles/cloud/test-gcp/attributes.yml
  test/fixtures/profiles/cloud/test-gcp/controls/example.rb
  test/fixtures/profiles/cloud/test-gcp/inspec.yml
  test/functional/inspec_exec_test.rb
Labels: Aspect: Testing, Type: Enhancement

#4938 Explicitly require the compliance fetcher
  lib/inspec/fetcher.rb
Labels: Component: Fetchers

#4939 Update rake deps for security issue
  examples/kitchen-ansible/Gemfile
  examples/kitchen-chef/Gemfile
  examples/kitchen-puppet/Gemfile
Labels: Aspect: Security, Type: Chore

#4934 Fix platform detection on hab
  lib/inspec/resources/platform.rb
Labels: Component: Core Resources, Platform: Habitat

#4942 remove beta language and fix usage string order
  docs/waivers.md
Labels: Aspect: Docs, Component: Website, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#4944 removed beta from waivers link in sidebar nav
  www/data/docs_sidebar.yml
Labels: Component: Website, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#4955 Fix deprecation warning on auditd test
  test/unit/resources/auditd_test.rb
Labels: Aspect: Testing, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump, Type: Enhancement

#4957 Document describe.one usage
  docs/dsl_inspec.md
Labels: Aspect: Docs, Component: DSL, Documentation, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump
