Repository inspec/inspec, pull requests merged in 2020-12, with the labels that each got.

#5321 Drop EOL Ruby 2.4 from testing, Fix Ruby 2.5 Gem build
  .expeditor/verify.pipeline.yml
  Gemfile
Labels: Aspect: Packaging, Aspect: Testing, Component: Continuous Delivery, Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#5318 Reenabling Docker image builds using Dobi
  .expeditor/build.docker.yml
  .expeditor/config.yml
  dobi.yaml
Labels: Expeditor: Bump Minor Version

#5331 Remove kitchen-ec2 dep + add lower floor to other kitchen deps
  Gemfile
Labels: Aspect: Testing

#5341 Remove 'integration' group from Gemfile
  Gemfile
Labels: Aspect: Testing

#5363 Re-Enable Omnibus Builds on MacOS 10.13
  .expeditor/release.omnibus.yml
Labels: Aspect: Packaging

#5342 Loosen RSpec pin to ~> 3.10
  inspec-core.gemspec
  test/functional/inspec_exec_test.rb
Labels: Aspect: Packaging, Aspect: Testing

#5364 Remove windows test skip timebomb
  test/helper.rb
Labels: Aspect: Testing

#5366 Updated Supported Platforms for MSSQL_SESSION
  lib/inspec/resources/mssql_session.rb
Labels: Component: Core Resources, Platform: Databases, Type: Enhancement
