Repository inspec/inspec, pull requests merged in 2020-04, with the labels that each got.

#4966 Revert to Github for fetching ruby devkit
  .expeditor/buildkite/artifact.habitat.test.ps1
  omnibus/omnibus-test.ps1
  test/helper.rb
Labels: Expeditor: Skip All

#4970 Fixes for tests under ruby 2.7
  .expeditor/verify.pipeline.yml
  lib/plugins/inspec-plugin-manager-cli/test/functional/helper.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/install_test.rb
  lib/plugins/inspec-plugin-manager-cli/test/functional/update_test.rb
Labels: Aspect: Testing, Type: Bug

#4975 Use Expeditor's built in Bash helper to post release announcement
  .expeditor/announce-release.sh
Labels: Expeditor: Skip All

#4974 Release process documentation
  RELEASE_PROCESS.md
Labels: Aspect: Docs, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#4969 Add Ubuntu 20.04 x86_64 support
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip Changelog

#4983 Docs fix - config.json example missing indentation and closing brace
  docs/config.md
Labels: Expeditor: Skip Changelog

#4992 Bumps method_source dependency version
  inspec-core.gemspec
  lib/inspec/shell.rb
Labels: Expeditor: Skip Changelog, Type: Bug
