Repository inspec/inspec, pull requests merged in 2020-06, with the labels that each got.

#5060 Pin ffi to 1.12.2 due to Windows crash
  Gemfile
Labels: Platform: Windows, Type: Bug

#5011 Boolean, Numeric, and Structured CLI inputs
  docs/inputs.md
  lib/inspec/base_cli.rb
  lib/inspec/input_registry.rb
  test/fixtures/profiles/inputs/cli/controls/cli.rb
  test/fixtures/profiles/inputs/cli/inspec.yml
  test/functional/inputs_test.rb
Labels: Component: Inputs, Type: New Feature

#5053 Fix unmatched backticks in docs
  docs/resources/file.md.erb
  docs/style.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#5026 CLI Option to silence deprecations
  lib/inspec/base_cli.rb
  lib/inspec/utils/deprecation/config_file.rb
  test/functional/logging_test.rb
Labels: Expeditor: Bump Minor Version

#5038 Expand docs and tests for only_if
  docs/dsl_inspec.md
  test/fixtures/profiles/only_if/skip-control/controls/skip-control.rb
  test/fixtures/profiles/only_if/skip-control/inspec.yml
  test/fixtures/profiles/only_if/skip-file/controls/normal.rb
  test/fixtures/profiles/only_if/skip-file/controls/skippy.rb
  test/fixtures/profiles/only_if/skip-file/inspec.yml
  test/functional/inspec_exec_test.rb
Labels: Aspect: Docs, Component: DSL

#5062 Make the JSON-min Reporter into Plugin
  lib/inspec/config.rb
  lib/inspec/reporters.rb
  lib/inspec/reporters/json_min.rb
  lib/inspec/run_data.rb
  lib/plugins/inspec-reporter-json-min/README.md
  lib/plugins/inspec-reporter-json-min/lib/inspec-reporter-json-min.rb
  lib/plugins/inspec-reporter-json-min/lib/inspec-reporter-json-min/reporter.rb
  lib/plugins/inspec-reporter-json-min/lib/inspec-reporter-json-min/version.rb
  test/fixtures/reporters/run_data.json
  test/unit/reporters/json_min_test.rb
Labels: Component: Reporters, Type: Refactoring

#4907 Telemetry - determine run context from stack introspection
  Berksfile
  kitchen.chef.yml
  kitchen.run_context.yml
  kitchen.vagrant.yml
  kitchen.yml
  lib/inspec/cli.rb
  lib/inspec/utils/telemetry/run_context_probe.rb
  test/functional/telemetry_test.rb
  test/integration/run-context-after-audit/controls/after-audit.rb
  test/integration/run-context-after-audit/inspec.yml
  test/integration/run-context-tk/controls/during-verify.rb
  test/integration/run-context-tk/inspec.yml
  test/kitchen/cookbooks/install_inspec/files/.gitkeep
  test/kitchen/cookbooks/install_inspec/metadata.rb
  test/kitchen/cookbooks/install_inspec/recipes/default.rb
  test/kitchen/cookbooks/os_prepare/metadata.rb
  test/kitchen/cookbooks/os_prepare/recipes/default.rb
Labels: Component: Telemetry, Type: New Feature

#5100 Revert "Make CLI reporter into a plugin"
  lib/inspec/config.rb
  lib/inspec/reporters.rb
  lib/inspec/reporters/cli.rb
  lib/plugins/inspec-reporter-cli/README.md
  lib/plugins/inspec-reporter-cli/lib/inspec-reporter-cli.rb
  lib/plugins/inspec-reporter-cli/lib/inspec-reporter-cli/version.rb
  test/unit/reporters/cli_test.rb
Labels: Type: Bug

#5045 Improved HTML Reporter
  Gemfile
  docs/reporters.md
  lib/plugins/inspec-reporter-html2/README.md
  lib/plugins/inspec-reporter-html2/lib/inspec-reporter-html2.rb
  lib/plugins/inspec-reporter-html2/lib/inspec-reporter-html2/reporter.rb
  lib/plugins/inspec-reporter-html2/lib/inspec-reporter-html2/version.rb
  lib/plugins/inspec-reporter-html2/templates/body.html.erb
  lib/plugins/inspec-reporter-html2/templates/control.html.erb
  lib/plugins/inspec-reporter-html2/templates/default.css
  lib/plugins/inspec-reporter-html2/templates/default.js
  lib/plugins/inspec-reporter-html2/templates/profile.html.erb
  lib/plugins/inspec-reporter-html2/templates/result.html.erb
  lib/plugins/inspec-reporter-html2/templates/selector.html.erb
  lib/plugins/inspec-reporter-html2/test/fixtures/alternate.css
  lib/plugins/inspec-reporter-html2/test/fixtures/alternate.js
  lib/plugins/inspec-reporter-html2/test/fixtures/config.json
  lib/plugins/inspec-reporter-html2/test/functional/inspec_reporter_html2_test.rb
  lib/plugins/inspec-reporter-html2/test/unit/plugin_def_test.rb
  lib/plugins/inspec-reporter-html2/test/unit/reporter_api_test.rb
  test/unit/plugin/v2/loader_test.rb
Labels: Component: Reporters, Expeditor: Bump Minor Version, Type: New Feature

#5036 Additions to the interface resource
  docs/resources/interface.md.erb
  docs/resources/interfaces.md.erb
  lib/inspec/resources/interface.rb
  lib/inspec/resources/interfaces.rb
  test/fixtures/cmd/Get-NetAdapter-Name
  test/fixtures/cmd/ifconfig-a
  test/fixtures/cmd/ifconfig-em0
  test/fixtures/cmd/ifconfig-en0
  test/fixtures/cmd/ifconfig-lo0
  test/fixtures/cmd/ls-sys-class-net
  test/helpers/mock_loader.rb
  test/unit/resources/interface_test.rb
  test/unit/resources/interfaces_test.rb
Labels: Aspect: Docs, Component: Core Resources, Platform: macOS, Type: Enhancement
