Repository inspec/inspec, pull requests merged in 2020-11, with the labels that each got.

#5298 Update Codeowners file for Docs
  .github/CODEOWNERS
Labels: Aspect: Docs, Documentation

#5308 Don't reload plugins if load_all is called repeatedly
  lib/inspec/plugin/v2/loader.rb
Labels: Aspect: Performance, Component: Plugins, Type: Bug

#5241 InSpec Cloud: Reporting by Resource
  dev-docs/plugins.md
  lib/inspec/formatters/base.rb
  lib/inspec/reporters/json.rb
  lib/inspec/resource.rb
  lib/inspec/run_data.rb
  lib/inspec/run_data/result.rb
  lib/inspec/schema.rb
  test/fixtures/reporters/json_merged_output
  test/fixtures/reporters/json_output
  test/fixtures/reporters/yaml_output
  test/functional/inspec_exec_json_test.rb
  test/unit/reporters/json_automate_test.rb
  test/unit/reporters/json_test.rb
Labels: Component: Reporters, Type: New Feature
