Repository inspec/inspec, pull requests merged in 2020-01, with the labels that each got.

#4821 Found and fixed more mocha/setup deprecations.
  lib/plugins/inspec-compliance/test/unit/api/login_test.rb
  lib/plugins/inspec-compliance/test/unit/api_test.rb
  lib/plugins/inspec-compliance/test/unit/target_test.rb
  test/unit/plugin/v1/plugin_test.rb
Labels: Aspect: Testing, Type: Chore

#4828 Fix broken link to Azure testing instructions
  README.md
Labels: Expeditor: Skip All

#4823 updates file resource doc to add example for sticky bit with leading …
  docs/resources/file.md.erb
Labels: Aspect: Docs

#4834 upstream is basic_auth_only not basic_auth
  lib/inspec/base_cli.rb
Labels: Component: Train, Platform: Windows, Type: Bug

#4737 Install and Uninstall doc
  docs/install.md
  www/data/docs_sidebar.yml
  www/source/index.html.slim
  www/source/layouts/_nav.slim
Labels: Aspect: Docs, Expeditor: Skip All

#4805 Update for Chef InSpec Resource Code Examples
  docs/resources/ntp_conf.md.erb
  docs/resources/sshd_config.md.erb
Labels: Aspect: Docs, Expeditor: Skip All

#4841 Windows 7 EOL Docs Update
  README.md
Labels: Aspect: Docs

#4845 Add: certificate content x509_certificate
  docs/resources/x509_certificate.md.erb
  lib/inspec/resources/x509_certificate.rb
  test/unit/resources/x509_certificate_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Type: New Feature

#4849 Refactor some of resources/service.rb
  lib/inspec/resources/service.rb
Labels: Component: Core Resources, Type: Refactoring

#4837 Point to our updated kitchen/cookbooks path.
  Berksfile
Labels: Expeditor: Skip All

#4840 Start forming resource-core
  Berksfile
  kitchen.vagrant.yml
Labels: Expeditor: Skip All

#4852 Missing end quote in oracledb_session
  lib/inspec/resources/oracledb_session.rb
Labels: Component: Core Resources, Platform: Databases, Type: Bug

#4806 Use an archive if possible when fetching fails and --airgap is provided
  lib/inspec/base_cli.rb
  lib/inspec/cached_fetcher.rb
  lib/inspec/cli.rb
  lib/inspec/config.rb
  lib/inspec/dependencies/requirement.rb
  lib/inspec/dependencies/resolver.rb
  lib/inspec/fetcher/git.rb
  lib/inspec/fetcher/url.rb
  lib/inspec/file_provider.rb
  lib/inspec/plugin/v1/plugin_types/fetcher.rb
  lib/inspec/profile_vendor.rb
  lib/plugins/inspec-habitat/lib/inspec-habitat/profile.rb
  lib/plugins/inspec-habitat/test/unit/profile_test.rb
  lib/source_readers/inspec.rb
  test/fixtures/profiles/fetcher-failures/auto-dep-on-missing-0.1.0.tar.gz
  test/fixtures/profiles/fetcher-failures/auto-dep-on-missing/controls/auto-dep-on-missing.rb
  test/fixtures/profiles/fetcher-failures/auto-dep-on-missing/controls/include-missing.rb
  test/fixtures/profiles/fetcher-failures/auto-dep-on-missing/inspec.yml
  test/fixtures/profiles/fetcher-failures/auto-missing/controls/include-basic.rb
  test/fixtures/profiles/fetcher-failures/auto-missing/controls/missing.rb
  test/fixtures/profiles/fetcher-failures/auto-missing/inspec.yml
  test/fixtures/profiles/fetcher-failures/basic/controls/basic.rb
  test/fixtures/profiles/fetcher-failures/basic/inspec.yml
  test/fixtures/profiles/fetcher-failures/git-deps-on-missing-0.1.0.tar.gz
  test/fixtures/profiles/fetcher-failures/git-deps-on-missing/controls/dep-on-missing.rb
  test/fixtures/profiles/fetcher-failures/git-deps-on-missing/controls/include-missing.rb
  test/fixtures/profiles/fetcher-failures/git-deps-on-missing/inspec.yml
  test/fixtures/profiles/fetcher-failures/inspec-test-profile-missing-moved/README.md
  test/fixtures/profiles/fetcher-failures/inspec-test-profile-missing-moved/controls/include-basic.rb
  test/fixtures/profiles/fetcher-failures/inspec-test-profile-missing-moved/controls/missing.rb
  test/fixtures/profiles/fetcher-failures/inspec-test-profile-missing-moved/inspec.yml
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-auto-archive/controls/include-archive.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-auto-archive/controls/local-dep-on-bad-archive.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-auto-archive/inspec.yml
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-git-archive/controls/include-git-dep.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-git-archive/controls/local-dep.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-git-archive/inspec.yml
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-local-archive/controls/include-bad.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-local-archive/controls/local-dep-on-bad.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-local-archive/inspec.yml
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-url-archive/controls/include-url-dep.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-url-archive/controls/local-dep.rb
  test/fixtures/profiles/fetcher-failures/local-dep-on-bad-url-archive/inspec.yml
  test/fixtures/profiles/fetcher-failures/local-deps-on-missing-0.1.0.tar.gz
  test/fixtures/profiles/fetcher-failures/local-deps-on-missing/controls/deps-on-missing.rb
  test/fixtures/profiles/fetcher-failures/local-deps-on-missing/controls/missing.rb
  test/fixtures/profiles/fetcher-failures/local-deps-on-missing/inspec.yml
  test/fixtures/profiles/fetcher-failures/url-deps-on-missing-0.1.0.tar.gz
  test/fixtures/profiles/fetcher-failures/url-deps-on-missing/controls/deps-on-missing.rb
  test/fixtures/profiles/fetcher-failures/url-deps-on-missing/controls/include-missing.rb
  test/fixtures/profiles/fetcher-failures/url-deps-on-missing/inspec.yml
  test/functional/fetchers_test.rb
Labels: Component: Fetchers, Expeditor: Bump Minor Version, Type: New Feature

#4861 Fix windows plugin functional tests
  test/functional/plugins_test.rb
Labels: Aspect: Testing, Platform: Windows

#4818 replaced instances of `have_protocols` with `have_protocol` in docume…
  docs/resources/iis_app.md.erb
  lib/inspec/resources/iis_app.rb
  test/kitchen/policies/default/controls/iis_site_spec.rb
Labels: Expeditor: Skip All

#4827 Move parsers under Utils
  lib/inspec/resources/aide_conf.rb
  lib/inspec/resources/crontab.rb
  lib/inspec/resources/etc_fstab.rb
  lib/inspec/resources/etc_group.rb
  lib/inspec/resources/etc_hosts.rb
  lib/inspec/resources/etc_hosts_allow_deny.rb
  lib/inspec/resources/file.rb
  lib/inspec/resources/mount.rb
  lib/inspec/resources/passwd.rb
  lib/inspec/resources/port.rb
  lib/inspec/resources/users.rb
  lib/inspec/resources/xinetd_conf.rb
  lib/inspec/utils/parser.rb
  lib/inspec/utils/simpleconfig.rb
  test/unit/utils/bsd_mount_parser_test.rb
  test/unit/utils/passwd_parser_test.rb
  test/unit/utils/solaris_netstat_parser_test.rb
Labels: Expeditor: Skip All, Type: Chore

#4848 Remove the references to the core/cacerts so customers can specify it
  habitat/plan.ps1
  habitat/plan.sh
Labels: Aspect: Packaging, Type: Enhancement
