Repository inspec/inspec, pull requests merged in 2020-09, with the labels that each got.

#5246 autoload pry
  lib/inspec/shell.rb
Labels: Aspect: Performance

#5244 Cw/reporter plugin junit
  Gemfile
  docs-chef-io/content/inspec/reporters.md
  lib/plugins/inspec-reporter-junit/README.md
  lib/plugins/inspec-reporter-junit/lib/inspec-reporter-junit.rb
  lib/plugins/inspec-reporter-junit/lib/inspec-reporter-junit/reporter.rb
  lib/plugins/inspec-reporter-junit/test/fixtures/schema/JUnit-162a883.xsd
  test/functional/inspec_exec_junit_test.rb
  test/unit/reporters/junit_test.rb
Labels: Component: Reporters

#5259 Update documentation for junit plugins
  lib/plugins/inspec-reporter-junit/README.md
Labels: Aspect: Docs, Documentation
