Repository inspec/inspec, pull requests merged in 2020-02, with the labels that each got.

#4864 Added --inspect option to inspect shell command.
  lib/inspec/cli.rb
  lib/inspec/plugin/v1/plugin_types/resource.rb
  lib/inspec/rspec_extensions.rb
  lib/matchers/matchers.rb
  test/functional/inspec_exec_test.rb
Labels: Aspect: UI-UX, Component: CLI: shell, Expeditor: Bump Minor Version, Type: New Feature

#4860 Remove skips from windows testing in 'inputs' and 'archive' functional tests
  test/functional/inputs_test.rb
  test/functional/inspec_archive_test.rb
Labels: Aspect: Testing, Platform: Windows, Type: Chore

#4883 issue 4807: test for inputs in profiles
  test/unit/profiles/profile_test.rb
Labels: Aspect: Testing, Component: Inputs, Type: Enhancement

#4885 Habitat builds blow up enough that we should try again.
  .expeditor/artifact.habitat.yml
  .expeditor/build.habitat.yml
Labels: Aspect: Packaging, Expeditor: Skip All, Type: Enhancement

#4884 Please stop warning about mocha.
  test/unit/plugin/v2/installer_test.rb
  test/unit/plugin/v2/loader_test.rb
  test/unit/shell_detector_test.rb
Labels: Aspect: Testing, Expeditor: Skip All, Type: Chore

#4876 Fix up indentation of .expeditor config according to yamllint.
  .expeditor/artifact.habitat.yml
  .expeditor/verify.pipeline.yml
Labels: Aspect: Packaging, Expeditor: Skip All, Type: Chore

#4887 Pull Ruby installer for windows from S3 not GitHub
  .expeditor/buildkite/artifact.habitat.test.ps1
  omnibus/omnibus-test.ps1
Labels: Expeditor: Skip All, Type: Chore

#4892 Don't try to fool Thor's option type checker for --airgap on archive
  lib/inspec/cli.rb
Labels: Component: CLI: archive, Type: Bug

#4856 Detect install type via install path
  lib/inspec/globals.rb
  lib/inspec/utils/install_context.rb
  test/unit/utils/install_context_test.rb
Labels: Component: Telemetry, Type: New Feature

#4905 Fix artifact-habitat testing for inspec.
  .expeditor/buildkite/artifact.habitat.test.sh
  .expeditor/config.yml
  Rakefile
  habitat/plan.ps1
  inspec-bin/Rakefile
  inspec.gemspec
  test/artifact/artifact_helper.rb
  test/artifact/artifact_installation_test.rb
  test/artifact/inspec_habitat_test.rb
Labels: Platform: Habitat, Platform: Windows, Type: Bug

#4898 Distinguish between user plugin gems and system gems and load system gems normally.
  lib/inspec/plugin/v2/loader.rb
Labels: Component: Plugins, Type: Bug

#4878 With the release version 1.5.0 of habitat, lets not worry about <0.85
  habitat/plan.ps1
Labels: Aspect: Packaging, Type: Chore

#4665 Fix auditd resource processing of action and list
  lib/inspec/resources/auditd.rb
  test/fixtures/cmd/auditctl
  test/unit/resources/auditd_test.rb
Labels: Component: Core Resources, Type: Bug
