Repository inspec/inspec, pull requests merged in 2020-10, with the labels that each got.

#5251 Remove thread requires as this is built in now
  Rakefile
Labels: Aspect: Correctness

#5278 Ensure that we populate information about waiver expiration regardless of `run: true/false`
  lib/inspec/rule.rb
  test/functional/waivers_test.rb
Labels: Aspect: Correctness, Component: Waivers

#5290 Fix links on plugins docs page.
  docs-chef-io/content/inspec/plugins.md
Labels: Aspect: Docs, Documentation
