Repository inspec/inspec, pull requests merged in 2021-02, with the labels that each got.

#5399 Fix dead links
  docs-chef-io/content/inspec/migration.md
  docs-chef-io/content/inspec/resources/aws_nat_gateways.md
Labels: Aspect: Docs, Documentation

#5407 Fix another link
  docs-chef-io/content/inspec/resources/aws_nat_gateway.md
Labels: Aspect: Docs, Documentation

#5411 Skip controls deeply
  lib/inspec/profile_context.rb
  test/fixtures/profiles/dependencies/deep-skip-inner/controls/controls-inner.rb
  test/fixtures/profiles/dependencies/deep-skip-inner/inspec.yml
  test/fixtures/profiles/dependencies/deep-skip-mid/controls/controls-mid.rb
  test/fixtures/profiles/dependencies/deep-skip-mid/inspec.yml
  test/fixtures/profiles/dependencies/deep-skip-outer/controls/controls-outer.rb
  test/fixtures/profiles/dependencies/deep-skip-outer/inspec.yml
  test/functional/inspec_exec_json_test.rb
Labels: Type: Bug

#5408 Document the json-automate reporter
  docs-chef-io/content/inspec/reporters.md
Labels: Aspect: Docs

#5414 Use first value of repeated settings in ssh_config and sshd_config
  lib/inspec/resources/ssh_config.rb
  test/fixtures/files/ssh_config
  test/unit/resources/ssh_conf_test.rb
Labels: Aspect: Correctness, Type: Bug

#5418 Don't pass -u on AIX in crontab command
  lib/inspec/resources/crontab.rb
Labels: Component: Core Resources, Platform: AIX, Type: Bug
