Repository inspec/inspec, pull requests merged in 2021-03, with the labels that each got.

#5420 Add git to Docker build
  Dockerfile
Labels: Component: Fetchers, Platform: Docker, Type: Bug

#5425 Fixes #5373 : Add option to filter empty profiles from report
  docs-chef-io/content/inspec/cli.md
  lib/inspec/base_cli.rb
  lib/inspec/utils/run_data_filters.rb
  test/fixtures/profiles/dependencies/resource-pack/inspec.yml
  test/fixtures/profiles/dependencies/resource-pack/libraries/.gitkeep
  test/fixtures/profiles/dependencies/resource-pack/libraries/example_config.rb
  test/fixtures/profiles/dependencies/uses-resource-pack/controls/example.rb
  test/fixtures/profiles/dependencies/uses-resource-pack/inspec.yml
  test/fixtures/profiles/dependencies/uses-resource-pack/libraries/.gitkeep
  test/functional/inspec_exec_json_test.rb
Labels: Component: Reporters, Expeditor: Bump Minor Version, Type: Enhancement

#5266 Support 'clear_cache'
  lib/inspec/cli.rb
  lib/inspec/runner_rspec.rb
  test/functional/inspec_clear_cache_test.rb
Labels: Expeditor: Bump Minor Version, Type: New Feature

#5434 Fix for -controls option is not working as expected.
  lib/inspec/control_eval_context.rb
  lib/inspec/profile.rb
  test/fixtures/profiles/controls-option-test/controls/example.rb
  test/fixtures/profiles/controls-option-test/inspec.yml
  test/fixtures/profiles/inputs/cli/inspec.yml
  test/functional/inspec_exec_test.rb
Labels: Aspect: Performance, Component: CLI: exec, Type: Bug

#5430 Move Passthrough Config from Automate to JSON Reporter
  docs-chef-io/content/inspec/reporters.md
  lib/inspec/reporters/json.rb
  lib/inspec/reporters/json_automate.rb
  test/functional/inspec_exec_automate_test.rb
  test/functional/inspec_exec_json_test.rb
Labels: Component: Reporters, Expeditor: Bump Minor Version

#5439 Improve resource page menu titles
  docs-chef-io/content/inspec/resources/aws_ecr_image.md
  docs-chef-io/content/inspec/resources/aws_internet_gateway.md
Labels: Aspect: Docs, Documentation

#5438 Fix for executing git profiles independent of the name of the default branch
  lib/inspec/fetcher/git.rb
  test/functional/git_fetcher_test.rb
  test/unit/fetchers/git_test.rb
Labels: Component: Fetchers, Type: Bug

#5432 Add m1 support to MacOS build list
  .expeditor/release.omnibus.yml
  omnibus_overrides.rb
Labels: Platform: macOS
