Repository inspec/inspec, pull requests merged in 2021-01, with the labels that each got.

#5372 Truncate code_desc when truncating reports
  lib/inspec/base_cli.rb
  lib/inspec/utils/run_data_filters.rb
  test/functional/inspec_exec_json_test.rb
Labels: Aspect: Performance, Component: Reporters, Type: Enhancement

#5375 Avoid ffi 1.14.2
  Gemfile
Labels: Aspect: Packaging, Platform: Windows, Type: Bug

#5378 Add ENV var to skip live net tests in plugin installer unit tests
  test/unit/plugin/v2/installer_test.rb
Labels: Aspect: Testing, Platform: Windows

#5362 Switch Docker build to be omnibus-based
  Dockerfile
  dobi.yaml
Labels: Aspect: Packaging

#5386 Build arm packages for Debian/SLES/Ubuntu
  .expeditor/release.omnibus.yml
Labels: Aspect: Packaging, Expeditor: Bump Minor Version

#5388 Revert conditional require of Thor
  lib/inspec/base_cli.rb
Labels: Type: Bug

#5193 Update oracledb_session.rb
  lib/inspec/resources/oracledb_session.rb
  test/unit/resources/oracledb_session_test.rb
Labels: Component: Core Resources

#5391 Add faraday_middleware to gemspec
  inspec-core.gemspec
Labels: Aspect: Packaging, Type: Bug

#5285 Add method_missing to nginx_conf
  docs-chef-io/content/inspec/resources/nginx_conf.md
  lib/inspec/resources/nginx_conf.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Type: Enhancement

#5394 Pin back parslet to avoid conflict with toml in chef infra
  inspec-core.gemspec
Labels: Aspect: Packaging
