Repository inspec/inspec, pull requests merged in 2021-09, with the labels that each got.

#5650 Replace deprecated --without flag with bundle config
  .expeditor/buildkite/verify.ps1
  .expeditor/buildkite/verify.sh
  .expeditor/buildkite/wwwrelease.sh
  omnibus/Gemfile
  omnibus/README.md
  omnibus/config/software/inspec.rb
Labels: Expeditor: Skip All

#5655 Add labeler workflow with docs label
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Documentation

#5654 Docs edits
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/resources/apache_conf.md
  docs-chef-io/content/inspec/resources/security_policy.md
Labels: Documentation

#5660 Fix branch name in docs makefile
  docs-chef-io/Makefile
Labels: Documentation

#5617 Update inspec check docs for --format option
  docs-chef-io/content/inspec/cli.md
  lib/inspec/cli.rb
Labels: Aspect: Docs, Documentation

#5574 Add support for Mssql Conf resource
  docs-chef-io/content/inspec/resources/mssql_sys_conf.md
  lib/inspec/resources.rb
  lib/inspec/resources/mssql_sys_conf.rb
Labels: Platform: Databases, Expeditor: Bump Minor Version, Documentation

#5561 Add support for Sybase databases
  docs-chef-io/content/inspec/resources/sybase_conf.md
  docs-chef-io/content/inspec/resources/sybase_session.md
  lib/inspec/resources/sybase_conf.rb
  lib/inspec/resources/sybase_session.rb
Labels: Type: New Feature, Component: Core Resources, Platform: Databases, Expeditor: Bump Minor Version, Documentation

#5614 Add ibmdb2_conf and ibmdb2_session resource
  docs-chef-io/content/inspec/resources/ibmdb2_conf.md
  docs-chef-io/content/inspec/resources/ibmdb2_session.md
  lib/inspec/resources.rb
  lib/inspec/resources/ibmdb2_conf.rb
  lib/inspec/resources/ibmdb2_session.rb
  test/fixtures/cmd/ibmdb2_conf_output
  test/fixtures/cmd/ibmdb2_query_output
  test/helpers/mock_loader.rb
  test/unit/resources/ibmdb2_conf_test.rb
  test/unit/resources/ibmdb2_session_test.rb
Labels: Type: New Feature, Platform: Databases, Expeditor: Bump Minor Version, Documentation

#5573 Add support for Oracle Configuration Resources (Oracle Db Conf & Oracle Listener Conf)
  docs-chef-io/content/inspec/resources/oracledb_conf.md
  docs-chef-io/content/inspec/resources/oracledb_listener_conf.md
  lib/inspec/resources.rb
  lib/inspec/resources/oracle.rb
  lib/inspec/resources/oracledb_conf.rb
  lib/inspec/resources/oracledb_listener_conf.rb
  test/fixtures/cmd/env
  test/fixtures/cmd/fetch-oracle-listener-in-windows
  test/fixtures/files/listener.ora
  test/helpers/mock_loader.rb
  test/unit/resources/command_test.rb
  test/unit/resources/oracledb_listener_conf_test.rb
Labels: Platform: Databases, Expeditor: Bump Minor Version, Documentation

#5589 adds chrony_conf InSpec resource
  docs-chef-io/content/inspec/resources/chrony_conf.md
  lib/inspec/resources/chrony_conf.rb
  test/fixtures/files/chrony.conf
  test/helpers/mock_loader.rb
  test/unit/resources/chrony_conf_test.rb
Labels: Type: New Feature, Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5634 Added missing cli commands in cli doc
  docs-chef-io/content/inspec/cli.md
Labels: Aspect: Docs, Documentation

#5426 Fix google_project_alert_policy Examples in the docs
  docs-chef-io/content/inspec/resources/google_project_alert_policy.md
Labels: Documentation

#5662 Minor docs fixes.
  docs-chef-io/content/inspec/resources/chrony_conf.md
  docs-chef-io/content/inspec/resources/google_project_alert_policy.md
Labels: Documentation

#5669 Fix main in expeditor script
  .expeditor/buildkite/artifact.habitat.test.sh
  .expeditor/update_dockerfile.sh
Labels: Type: Bug, Documentation

#5665 Add csv without headers support in csv resource
  docs-chef-io/content/inspec/resources/csv.md
  lib/inspec/resources/csv.rb
  test/unit/resources/csv_test.rb
Labels: Type: Enhancement, Documentation

#5657 Fix --tags filter for dependent profiles
  lib/inspec/control_eval_context.rb
  lib/inspec/dsl.rb
  test/fixtures/profiles/dependencies/profile_a/controls/example.rb
  test/fixtures/profiles/dependencies/profile_b/controls/example.rb
  test/fixtures/profiles/dependencies/profile_c/controls/example.rb
  test/functional/inspec_exec_test.rb
Labels: Type: Bug, Component: Loader, Component: CLI: exec

#5673 Specify promotion actions in .expeditor/config.yml
  .expeditor/config.yml
Labels: Expeditor: Skip All

#5671 Fix opa_cli and opa_api resource unable to verify empty result {}
  docs-chef-io/content/inspec/resources/opa_api.md
  docs-chef-io/content/inspec/resources/opa_cli.md
  lib/inspec/resources/opa.rb
  test/fixtures/cmd/opa-api-empty-result
  test/fixtures/cmd/opa-empty-result
  test/helpers/mock_loader.rb
  test/unit/resources/opa_api_test.rb
  test/unit/resources/opa_cli_test.rb
Labels: Documentation
