Repository inspec/inspec, pull requests merged in 2021-05, with the labels that each got.

#5204 Reinstate resource testing on supported platforms using Test-Kitchen
  .expeditor/config.yml
  .expeditor/integration.resources.yml
  Gemfile
  Rakefile
  dev-docs/integration-testing.md
  kitchen.dokken.yml
  kitchen.yml
  test/kitchen/cookbooks/install_inspec/recipes/default.rb
  test/kitchen/cookbooks/os_prepare/recipes/default.rb
  test/kitchen/cookbooks/os_prepare/recipes/iptables.rb
  test/kitchen/policies/default/controls/_debug_spec.rb
  test/kitchen/policies/default/controls/audit_spec.rb
Labels: Aspect: Testing, Component: Continuous Delivery, Type: Enhancement

#5501 Fixes for the integration-resources pipeline
  .expeditor/buildkite/bk_linux_exec.sh
  .expeditor/integration.resources.yml
  test/kitchen/cookbooks/os_prepare/recipes/iptables.rb
  test/kitchen/policies/default/controls/ip6tables_spec.rb
Labels: Component: Continuous Delivery

#5498 Fix bad link
  docs-chef-io/content/inspec/shell.md
Labels: Documentation

#5482 Remove pipeline-specific logic from test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#5481 Remove pipeline-specific logic from test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#5502 Fix : windows_firewall_rule fails to validate more than 1 rule depending on how it's executed
  lib/inspec/resources/windows_firewall_rule.rb
Labels: Component: Core Resources, Platform: Windows, Type: Bug

#5500 Remove coverage testing
  .expeditor/buildkite/coverage.sh
  .expeditor/config.yml
  .expeditor/coverage.pipeline.yml
  test/helper.rb
Labels: Component: Continuous Delivery, Type: Chore

#5490 Added alias command `automate` for `inspec compliance`
  README.md
  dev-docs/compliance.md
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/plugin_kitchen_inspec.md
  lib/inspec/cli.rb
  lib/inspec/plugin/v2/loader.rb
  lib/plugins/inspec-compliance/README.md
  lib/plugins/inspec-compliance/lib/inspec-compliance.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/api.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/api/login.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
  lib/plugins/inspec-compliance/lib/inspec-compliance/target.rb
  lib/plugins/inspec-compliance/test/functional/inspec_compliance_test.rb
Labels: Aspect: UI-UX, Component: CLI: compliance, Expeditor: Bump Minor Version

#5514 Add basic docs for toml resource
  docs-chef-io/content/inspec/resources/toml.md
Labels: Aspect: Docs

#5489 Add CI-CD docs
  dev-docs/ci-cd.md
Labels: Aspect: Docs, Component: Continuous Delivery

#5522 Fix for port resource performance: adding more specific search while using ss command
  lib/inspec/resources/port.rb
  test/helpers/mock_loader.rb
  test/unit/resources/port_test.rb
Labels: Aspect: Performance, Component: Core Resources, Type: Enhancement

#5517 Added Common Errors page doc
  docs-chef-io/content/inspec/troubleshooting.md
Labels: Documentation

#5532 Drop EOL Ubuntu 16.04, build on 18.04
  .expeditor/release.omnibus.yml
Labels: Aspect: Packaging, Component: Continuous Delivery

#5533 Add Ubuntu to list of FIPS platforms
  .expeditor/release.omnibus.yml
Labels: Aspect: Packaging
