Repository inspec/inspec, pull requests merged in 2021-04, with the labels that each got.

#5449 Update inputs.md
  docs-chef-io/content/inspec/inputs.md
Labels: Aspect: Docs, Documentation

#5443 Add timeout option to command resource
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/resources/command.md
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/resources/command.rb
  test/fixtures/profiles/timeouts/controls/inline-timeout.rb
  test/fixtures/profiles/timeouts/inspec.yml
  test/functional/inspec_exec_test.rb
  test/unit/resources/json_test.rb
Labels: Aspect: Performance, Component: CLI: exec, Component: Core Resources, Expeditor: Bump Minor Version

#5442 Update platforms doc
  docs-chef-io/content/inspec/platforms.md
Labels: Aspect: Docs

#5446 Bug fix for loading hashmap inputs consistently
  lib/inspec/input_registry.rb
  test/fixtures/profiles/inputs/hashmap/controls/hashmap_input.rb
  test/fixtures/profiles/inputs/hashmap/files/inputs.yml
  test/fixtures/profiles/inputs/hashmap/inspec.yml
  test/fixtures/profiles/inputs/via-runner/controls/via-runner.rb
  test/functional/inputs_test.rb
Labels: Aspect: Correctness, Component: Inputs

#5445 Add --docker-url CLI option
  docs-chef-io/content/inspec/cli.md
  lib/inspec/base_cli.rb
Labels: Component: CLI: exec, Expeditor: Bump Minor Version, Platform: Docker, Type: New Feature

#5455 Use default command timeout value if timeout is 0
  lib/inspec/resources/command.rb
Labels: Component: Core Resources, Type: Bug

#5452 Added ability to pass inputs to InSpec shell using input file and cli
  docs-chef-io/content/inspec/shell.md
  lib/inspec/cli.rb
  test/functional/inspec_shell_test.rb
Labels: Component: CLI: shell, Component: Inputs, Expeditor: Bump Minor Version, Type: New Feature

#5467 Update tests to handle local omnibus packages from Buildkite artifacts api
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#5468 Update tests to handle local omnibus packages from Buildkite artifacts api
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#5473 Update Dobi annotations to address tagging bug
  dobi.yaml
Labels: Expeditor: Skip All

#5465 Optionally include controls source code in CLI reporter
  docs-chef-io/content/inspec/cli.md
  lib/inspec/base_cli.rb
  lib/inspec/reporters/cli.rb
  test/functional/inspec_exec_test.rb
Labels: Component: CLI: exec, Component: Reporters, Expeditor: Bump Minor Version, Type: New Feature

#5472 Remove default of 3600 seconds for command timeout
  docs-chef-io/content/inspec/cli.md
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/resources/command.rb
  test/unit/resources/json_test.rb
Labels: Component: CLI: exec, Component: CLI: shell

#5458 Add selinux resource with basic feature support
  docs-chef-io/content/inspec/resources/selinux.md
  lib/inspec/resources.rb
  lib/inspec/resources/selinux.rb
  test/fixtures/cmd/sestatus
  test/fixtures/files/selinux_conf
  test/helpers/mock_loader.rb
  test/unit/resources/selinux_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Type: New Feature

#5466 New input option `pattern` added for DSL and metadata inputs
  docs-chef-io/content/inspec/inputs.md
  lib/inspec/input.rb
  lib/inspec/input_registry.rb
  lib/inspec/objects/input.rb
  lib/inspec/rule.rb
  test/fixtures/profiles/inputs/dsl/controls/dsl.rb
  test/fixtures/profiles/inputs/dsl/inspec.yml
  test/fixtures/profiles/inputs/metadata-pattern/controls/pattern.rb
  test/fixtures/profiles/inputs/metadata-pattern/inspec.yml
  test/functional/inputs_test.rb
  test/unit/inputs/input_test.rb
Labels: Component: Inputs, Expeditor: Bump Minor Version, Type: New Feature

#5463 Add selinux resource support for modules and booleans
  docs-chef-io/content/inspec/resources/selinux.md
  lib/inspec/resources/selinux.rb
  test/fixtures/cmd/semanage-boolean
  test/fixtures/cmd/semodule-lfull
  test/helpers/mock_loader.rb
  test/unit/resources/selinux_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Platform: UNIX, Type: Enhancement

#5486 updating Gemfile to support environment variables
  omnibus/Gemfile
Labels: Expeditor: Skip All

#5483 Group & Groups doc updated - about using local and etc groups
  docs-chef-io/content/inspec/resources/group.md
  docs-chef-io/content/inspec/resources/groups.md
Labels: Aspect: Docs

#5470 Fix for group resource when member does not exist
  lib/inspec/resources/groups.rb
  test/fixtures/files/etcgroup
  test/unit/resources/etc_group_test.rb
  test/unit/resources/group_test.rb
  test/unit/resources/groups_test.rb
Labels: Component: Core Resources, Type: Bug
