Repository inspec/inspec, pull requests merged in 2021-07, with the labels that each got.

#5584 Remove default port for mssql_session, allowing named connections
  lib/inspec/resources/mssql_session.rb
  test/unit/resources/mssql_session_test.rb
Labels: Platform: Databases, Type: Enhancement

#5576 Update postgresql resources to normalize it for platform supports
  lib/inspec/resources/postgres.rb
  lib/inspec/resources/postgres_conf.rb
  lib/inspec/resources/postgres_hba_conf.rb
  lib/inspec/resources/postgres_ident_conf.rb
  lib/inspec/resources/postgres_session.rb
  test/helpers/mock_loader.rb
  test/unit/resources/postgres_ident_conf_test.rb
  test/unit/resources/postgres_session_test.rb
Labels: Platform: Databases, Type: Enhancement

#5592 Add support for OPA: add resource opa_cli and opa_api
  docs-chef-io/content/inspec/resources/opa_api.md
  docs-chef-io/content/inspec/resources/opa_cli.md
  lib/inspec/resources.rb
  lib/inspec/resources/opa.rb
  lib/inspec/resources/opa_api.rb
  lib/inspec/resources/opa_cli.rb
  test/fixtures/cmd/opa-api-result
  test/fixtures/cmd/opa-result
  test/helpers/mock_loader.rb
  test/unit/resources/opa_api_test.rb
  test/unit/resources/opa_cli_test.rb
Labels: Component: Core Resources, Documentation, Expeditor: Bump Minor Version, Type: New Feature

#5572 Add mongodb_session resource and docs.
  docs-chef-io/content/inspec/resources/mongodb_conf.md
  docs-chef-io/content/inspec/resources/mongodb_session.md
  inspec.gemspec
  lib/inspec/resources.rb
  lib/inspec/resources/mongodb_session.rb
  test/unit/resources/mongodb_session_test.rb
Labels: Documentation, Expeditor: Bump Minor Version, Platform: Databases

#5596 Filter active controls in profile by tags
  docs-chef-io/content/inspec/cli.md
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/control_eval_context.rb
  lib/inspec/profile.rb
  lib/inspec/runner.rb
  test/fixtures/profiles/control-tags/controls/example.rb
  test/fixtures/profiles/control-tags/inspec.yml
  test/functional/inspec_exec_test.rb
Labels: Component: CLI: exec, Documentation, Expeditor: Bump Minor Version
