Repository inspec/inspec, pull requests merged in 2021-12, with the labels that each got.

#5749 Implemented CLI option for executing private supermarket profiles
  docs-chef-io/content/inspec/cli.md
  lib/bundles/inspec-supermarket/README.md
  lib/bundles/inspec-supermarket/cli.rb
  lib/bundles/inspec-supermarket/target.rb
  lib/inspec/base_cli.rb
  lib/inspec/plugin/v1/registry.rb
  test/functional/inspec_exec_test.rb
  test/functional/inspec_supermarket_test.rb
Labels: Type: New Feature, Expeditor: Bump Minor Version, Documentation

#5746 Fix docs to make property listing in the website docs more useful.
  docs-chef-io/content/inspec/resources/http.md
  docs-chef-io/content/inspec/resources/iis_app.md
  docs-chef-io/content/inspec/resources/interface.md
  docs-chef-io/content/inspec/resources/key_rsa.md
  docs-chef-io/content/inspec/resources/limits_conf.md
  docs-chef-io/content/inspec/resources/mysql_conf.md
  docs-chef-io/content/inspec/resources/ntp_conf.md
  docs-chef-io/content/inspec/resources/oneget.md
  docs-chef-io/content/inspec/resources/opa_api.md
  docs-chef-io/content/inspec/resources/opa_cli.md
  docs-chef-io/content/inspec/resources/package.md
  docs-chef-io/content/inspec/resources/packages.md
  docs-chef-io/content/inspec/resources/passwd.md
  docs-chef-io/content/inspec/resources/pip.md
  docs-chef-io/content/inspec/resources/port.md
  docs-chef-io/content/inspec/resources/postgres_conf.md
  docs-chef-io/content/inspec/resources/postgres_hba_conf.md
  docs-chef-io/content/inspec/resources/postgres_ident_conf.md
  docs-chef-io/content/inspec/resources/postgres_session.md
  docs-chef-io/content/inspec/resources/powershell.md
  docs-chef-io/content/inspec/resources/security_identifier.md
  docs-chef-io/content/inspec/resources/security_policy.md
  docs-chef-io/content/inspec/resources/ssl.md
  docs-chef-io/content/inspec/resources/sys_info.md
  docs-chef-io/content/inspec/resources/toml.md
  docs-chef-io/content/inspec/resources/user.md
  docs-chef-io/content/inspec/resources/users.md
  docs-chef-io/content/inspec/resources/xinetd_conf.md
  docs-chef-io/content/inspec/resources/zfs_pool.md
Labels: Documentation

#5763 Fix a bunch of docs formatting problems
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/dsl_resource.md
  docs-chef-io/content/inspec/glossary.md
  docs-chef-io/content/inspec/habitat.md
  docs-chef-io/content/inspec/inputs.md
  docs-chef-io/content/inspec/install.md
  docs-chef-io/content/inspec/matchers.md
  docs-chef-io/content/inspec/migration.md
  docs-chef-io/content/inspec/platforms.md
  docs-chef-io/content/inspec/profiles.md
  docs-chef-io/content/inspec/resources/aws_config_recorder.md
  docs-chef-io/content/inspec/resources/aws_ebs_volumes.md
  docs-chef-io/content/inspec/resources/azurerm_ad_user.md
  docs-chef-io/content/inspec/resources/azurerm_cosmosdb_database_account.md
  docs-chef-io/content/inspec/resources/azurerm_load_balancer.md
  docs-chef-io/content/inspec/resources/azurerm_management_groups.md
  docs-chef-io/content/inspec/resources/azurerm_role_definitions.md
  docs-chef-io/content/inspec/resources/azurerm_webapp.md
  docs-chef-io/content/inspec/resources/etc_hosts.md
  docs-chef-io/content/inspec/resources/google_compute_region.md
  docs-chef-io/content/inspec/resources/google_compute_regions.md
  docs-chef-io/content/inspec/resources/habitat_service.md
Labels: Documentation

#5757 Add proxy parameter to http resource
  docs-chef-io/content/inspec/resources/http.md
  lib/inspec/resources/http.rb
  test/helpers/mock_loader.rb
Labels: Type: New Feature, Expeditor: Bump Minor Version, Documentation

#5759 Add option to set ssh config file path for ssh transport
  docs-chef-io/content/inspec/cli.md
  lib/inspec/base_cli.rb
Labels: Type: New Feature, Component: CLI: exec, Expeditor: Bump Minor Version, Documentation

#5762 Adds tls1.3 support in ssl resource.
  docs-chef-io/content/inspec/resources/ssl.md
  lib/inspec/resources/ssl.rb
  test/unit/resources/ssl_test.rb
Labels: Documentation

#5780 Bump Hugo to 0.91.2
  docs-chef-io/netlify.toml
Labels: Aspect: Docs, Documentation
