Repository inspec/inspec, pull requests merged in 2021-11, with the labels that each got.

#5718 Updates habitat test for windows to match install logic for linux
  .expeditor/buildkite/artifact.habitat.test.ps1
Labels: Type: Bug, Aspect: Testing, Platform: Habitat

#5697 Add Windows support for http resource.
  docs-chef-io/content/inspec/resources/http.md
  lib/inspec/resources/http.rb
  test/fixtures/cmd/http-windows-remote-head
  test/fixtures/cmd/http-windows-remote-no-options
  test/helpers/mock_loader.rb
  test/unit/resources/http_test.rb
Labels: Type: New Feature, Platform: Windows, Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5732 Move rake and cookstyle deps out of inspec core gemspec
  inspec-core.gemspec
  inspec.gemspec
Labels: Aspect: Packaging

#5639 Remove license note + update resource count in main docs page
  docs-chef-io/content/inspec/_index.md
Labels: Aspect: Docs, Documentation

#5692 Fix typos and improve code highlighting in docs
  docs-chef-io/content/inspec/config.md
  docs-chef-io/content/inspec/inspec_and_friends.md
  docs-chef-io/content/inspec/profiles.md
  docs-chef-io/content/inspec/resources/aws_alb.md
  docs-chef-io/content/inspec/resources/aws_sqs_queue.md
  docs-chef-io/content/inspec/resources/aws_sqs_queues.md
  docs-chef-io/content/inspec/resources/aws_sts_caller_identity.md
  docs-chef-io/content/inspec/resources/azure_virtual_machine.md
  docs-chef-io/content/inspec/resources/azurerm_ad_user.md
  docs-chef-io/content/inspec/resources/azurerm_ad_users.md
  docs-chef-io/content/inspec/resources/azurerm_aks_cluster.md
  docs-chef-io/content/inspec/resources/azurerm_aks_clusters.md
  docs-chef-io/content/inspec/resources/azurerm_subscription.md
  docs-chef-io/content/inspec/resources/gem.md
  docs-chef-io/content/inspec/resources/google_cloudfunctions_cloud_function.md
  docs-chef-io/content/inspec/resources/google_compute_instances.md
  docs-chef-io/content/inspec/resources/google_runtime_config_config_iam_policy.md
  docs-chef-io/content/inspec/resources/google_service_account.md
  docs-chef-io/content/inspec/resources/google_storage_bucket.md
  docs-chef-io/content/inspec/resources/google_storage_bucket_iam_bindings.md
  docs-chef-io/content/inspec/resources/google_storage_bucket_objects.md
  docs-chef-io/content/inspec/resources/google_storage_buckets.md
  docs-chef-io/content/inspec/resources/mongodb_conf.md
  docs-chef-io/content/inspec/resources/mongodb_session.md
  docs-chef-io/content/inspec/resources/passwd.md
  docs-chef-io/content/inspec/resources/shadow.md
  docs-chef-io/content/inspec/resources/user.md
Labels: Documentation

#5721 Update dsl_inspec.md
  docs-chef-io/content/inspec/dsl_inspec.md
Labels: Documentation

#5677 Fix docs to make property listing in the website docs more useful.
  docs-chef-io/content/inspec/resources/aide_conf.md
  docs-chef-io/content/inspec/resources/bash.md
  docs-chef-io/content/inspec/resources/bond.md
  docs-chef-io/content/inspec/resources/bridge.md
  docs-chef-io/content/inspec/resources/bsd_service.md
  docs-chef-io/content/inspec/resources/dh_params.md
  docs-chef-io/content/inspec/resources/docker_plugin.md
  docs-chef-io/content/inspec/resources/elasticsearch.md
  docs-chef-io/content/inspec/resources/etc_fstab.md
  docs-chef-io/content/inspec/resources/etc_group.md
  docs-chef-io/content/inspec/resources/etc_hosts.md
  docs-chef-io/content/inspec/resources/etc_hosts_allow.md
  docs-chef-io/content/inspec/resources/etc_hosts_deny.md
  docs-chef-io/content/inspec/resources/filesystem.md
  docs-chef-io/content/inspec/resources/firewalld.md
  docs-chef-io/content/inspec/resources/gem.md
  docs-chef-io/content/inspec/resources/group.md
  docs-chef-io/content/inspec/resources/host.md
  docs-chef-io/content/inspec/resources/http.md
  docs-chef-io/content/inspec/resources/iis_app.md
Labels: Documentation

#5739 Fixes some minor docs formatting problems
  docs-chef-io/content/inspec/resources/aws_cloudformation_stack.md
  docs-chef-io/content/inspec/resources/aws_cloudtrail_trail.md
  docs-chef-io/content/inspec/resources/aws_cloudwatch_log_metric_filter.md
  docs-chef-io/content/inspec/resources/aws_ecr.md
  docs-chef-io/content/inspec/resources/aws_efs_file_system.md
  docs-chef-io/content/inspec/resources/aws_iam_access_key.md
  docs-chef-io/content/inspec/resources/aws_rds_clusters.md
  docs-chef-io/content/inspec/resources/aws_ssm_parameter.md
  docs-chef-io/content/inspec/resources/aws_transit_gateway.md
  docs-chef-io/content/inspec/resources/azurerm_subnets.md
  docs-chef-io/content/inspec/resources/google_bigquery_dataset.md
  docs-chef-io/content/inspec/resources/interface.md
  docs-chef-io/content/inspec/resources/oneget.md
Labels: Documentation

#5742 Fix ibmdb2_session resource : Added double quotes around the IBM db2 query
  lib/inspec/resources/ibmdb2_session.rb
  test/helpers/mock_loader.rb
Labels: Type: Bug, Component: Core Resources, Platform: Databases

#5744 Target support for Alpine Linux
  README.md
  lib/inspec/resources/auditd.rb
  lib/inspec/resources/packages.rb
  lib/inspec/resources/service.rb
  test/fixtures/cmd/apk-info
  test/helpers/mock_loader.rb
  test/unit/resources/packages_test.rb
  test/unit/resources/service_test.rb
Labels: Type: New Feature, Expeditor: Bump Minor Version
