Repository inspec/inspec, pull requests merged in 2022-04, with the labels that each got.

#5960 AliCloud Platform Instructions
  docs-chef-io/content/inspec/platforms.md
Labels: Documentation

#5959 CFINSPEC-94: Enhance user resource
  docs-chef-io/content/inspec/resources/user.md
  lib/inspec/resources/user.rb
  lib/inspec/resources/users.rb
  test/fixtures/cmd/authorized-keys-mock
  test/fixtures/cmd/getent-shadow-mock
  test/helpers/mock_loader.rb
  test/unit/resources/user_test.rb
Labels: Component: Core Resources, Documentation

#5961 CFINSPEC-80: Add mail alias resource
  docs-chef-io/content/inspec/resources/mail_alias.md
  lib/inspec/resources/mail_alias.rb
  test/fixtures/cmd/mail-alias
  test/helpers/mock_loader.rb
  test/unit/resources/mail_alias_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5972 CFINSPEC-83: Add routing table resource
  docs-chef-io/content/inspec/resources/routing_table.md
  lib/inspec/resources/routing_table.rb
  test/fixtures/cmd/netstat-rn-linux
  test/helpers/mock_loader.rb
  test/unit/resources/routing_table_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5969 Move shortcodes from chef-web-docs to inspec repo
  docs-chef-io/Makefile
  docs-chef-io/content/inspec/_index.md
  docs-chef-io/layouts/shortcodes/inspec_count_resources.md
  docs-chef-io/layouts/shortcodes/inspec_filter_table.md
  docs-chef-io/layouts/shortcodes/inspec_matchers_link.md
  docs-chef-io/layouts/shortcodes/inspec_resources.html
  docs-chef-io/layouts/shortcodes/inspec_resources_filter.html
Labels: Documentation

#5979 CFINSPEC-75: Add default_gateway resource
  docs-chef-io/content/inspec/resources/default_gateway.md
  lib/inspec/resources/default_gateway.rb
  test/unit/resources/default_gateway_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5986 CFINSPEC-87: Enhance `file` resource
  docs-chef-io/content/inspec/resources/file.md
  lib/inspec/resources/file.rb
  test/fixtures/cmd/lsattr-output
  test/helpers/mock_loader.rb
  test/unit/resources/file_test.rb
Labels: Component: Core Resources, Documentation

#5981 CFINSPEC-93: Enhance `service` resource
  docs-chef-io/content/inspec/resources/service.md
  lib/inspec/resources/service.rb
  test/fixtures/cmd/monit-summary
  test/helpers/mock_loader.rb
  test/unit/resources/service_test.rb
Labels: Component: Core Resources, Documentation

#5987 CFINSPEC-89: Enhance `group` resource
  docs-chef-io/content/inspec/resources/group.md
  lib/inspec/resources/groups.rb
  test/unit/resources/group_test.rb
Labels: Component: Core Resources, Documentation

#5988 CFINSPEC-78: Add `linux_audit_system` resource
  docs-chef-io/content/inspec/resources/linux_audit_system.md
  lib/inspec/resources/linux_audit_system.rb
  test/fixtures/cmd/auditctl-l
  test/fixtures/cmd/auditctl-s-enabled
  test/fixtures/cmd/auditctl-s-pid
  test/helpers/mock_loader.rb
  test/unit/resources/linux_audit_system_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5999 CFINSPEC-88: Extend `file` resource documentation with be_mounted matcher
  docs-chef-io/content/inspec/resources/file.md
Labels: Documentation

#6000 CFINSPEC-185: Updates inspec check cli docs to include --with-cookstyle option
  docs-chef-io/content/inspec/cli.md
Labels: Documentation
