Repository inspec/inspec, pull requests merged in 2022-03, with the labels that each got.

#5875 CFINSPEC-70 Added resource_id attribute for the custom resources in the base class
  dev-docs/plugins.md
  docs-chef-io/content/inspec/dsl_resource.md
  lib/inspec/reporters/json.rb
  lib/inspec/resource.rb
  lib/inspec/schema.rb
  lib/inspec/schema/exec_json.rb
  test/functional/inspec_schema_test.rb
  test/unit/resource_test.rb
Labels: Expeditor: Bump Minor Version, Documentation

#5883 CFINSPEC-77 : Add Ipnat resource
  docs-chef-io/content/inspec/resources/_index.md
  docs-chef-io/content/inspec/resources/ipnat.md
  lib/inspec/resources.rb
  lib/inspec/resources/ipnat.rb
  test/fixtures/cmd/ipnat-l
  test/helpers/mock_loader.rb
  test/unit/resources/ipnat_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5880 CFINSPEC-66 : Add Ipfilter resource
  docs-chef-io/content/inspec/resources/ipfilter.md
  lib/inspec/resources.rb
  lib/inspec/resources/ipfilter.rb
  test/fixtures/cmd/ipfstat-io
  test/helpers/mock_loader.rb
  test/unit/resources/ipfilter_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5901 CFINSPEC-70 Revert - Added resource_id attribute for the custom resources in the base class
  dev-docs/plugins.md
  docs-chef-io/content/inspec/dsl_resource.md
  lib/inspec/reporters/json.rb
  lib/inspec/resource.rb
  lib/inspec/schema.rb
  lib/inspec/schema/exec_json.rb
  test/functional/inspec_schema_test.rb
  test/unit/resource_test.rb
Labels: Documentation

#5903 CFINSPEC-70 resource_id support take 3
  dev-docs/plugins.md
  docs-chef-io/content/inspec/dsl_resource.md
  lib/inspec/reporters/json.rb
  lib/inspec/resource.rb
  lib/inspec/schema.rb
  lib/inspec/schema/exec_json.rb
  test/fixtures/profiles/resource_ids/controls/basic.rb
  test/fixtures/profiles/resource_ids/inspec.yml
  test/fixtures/profiles/resource_ids/libraries/basic_resource.rb
  test/fixtures/reporters/json_merged_output
  test/fixtures/reporters/json_output
  test/fixtures/reporters/yaml_output
  test/fixtures/reporters/yaml_output_windows_ruby3plus
  test/functional/inspec_exec_test.rb
  test/functional/inspec_schema_test.rb
  test/unit/reporters/json_test.rb
  test/unit/resource_test.rb
Labels: Documentation

#5863 CFINSPEC-10 Added Progress Bar streaming reporter plugin
  dev-docs/plugins.md
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/reporters.md
  inspec.gemspec
  lib/inspec/base_cli.rb
  lib/inspec/formatters/base.rb
  lib/inspec/plugin/v2/plugin_types/streaming_reporter.rb
  lib/inspec/runner.rb
  lib/inspec/runner_rspec.rb
  lib/plugins/inspec-streaming-reporter-progress-bar/README.md
  lib/plugins/inspec-streaming-reporter-progress-bar/lib/inspec-streaming-reporter-progress-bar.rb
  lib/plugins/inspec-streaming-reporter-progress-bar/lib/inspec-streaming-reporter-progress-bar/plugin.rb
  lib/plugins/inspec-streaming-reporter-progress-bar/lib/inspec-streaming-reporter-progress-bar/streaming_reporter.rb
  lib/plugins/inspec-streaming-reporter-progress-bar/lib/inspec-streaming-reporter-progress-bar/version.rb
  test/functional/inspec_exec_streaming_progress_bar_test.rb
Labels: Expeditor: Bump Minor Version, Documentation

#5871 CFINSPEC-13: Adds support for specifying gem dependencies in the metadata file of InSpec Profile.
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/profiles.md
  lib/inspec.rb
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/dependency_installer.rb
  lib/inspec/dependency_loader.rb
  lib/inspec/errors.rb
  lib/inspec/metadata.rb
  lib/inspec/profile.rb
  lib/inspec/runner.rb
  lib/inspec/ui.rb
  test/fixtures/profiles/profile-with-dependent-gem-dependency/README.md
  test/fixtures/profiles/profile-with-dependent-gem-dependency/controls/example.rb
  test/fixtures/profiles/profile-with-dependent-gem-dependency/inspec.yml
  test/fixtures/profiles/profile-with-dependent-gem-dependency/libraries/.gitkeep
  test/fixtures/profiles/profile-with-gem-dependency/controls/example.rb
  test/fixtures/profiles/profile-with-gem-dependency/inspec.yml
  test/fixtures/profiles/profile-with-gem-dependency/libraries/.gitkeep
  test/fixtures/profiles/profile-with-illformed-gem-depedency/controls/example.rb
  test/fixtures/profiles/profile-with-illformed-gem-depedency/inspec.yml
  test/functional/profile_gem_dependency_test.rb
  test/unit/dependency_loader_test.rb
  test/unit/profiles/metadata_test.rb
Labels: Expeditor: Bump Minor Version, Documentation

#5891 CFINSPEC-74 Adds the cron resource.
  docs-chef-io/content/inspec/resources/cron.md
  lib/inspec/resources.rb
  lib/inspec/resources/cron.rb
  test/helpers/mock_loader.rb
  test/unit/resources/cron_test.rb
Labels: Expeditor: Bump Minor Version, Documentation

#5597 Firewalld update -- exposed more fields, updated docs, added custom matchers
  docs-chef-io/content/inspec/resources/firewalld.md
  lib/inspec/resources/firewalld.rb
  test/fixtures/cmd/firewall-cmd-get-target
  test/fixtures/cmd/firewall-cmd-list-forward-ports
  test/fixtures/cmd/firewall-cmd-list-icmp-blocks
  test/fixtures/cmd/firewall-cmd-list-ports
  test/fixtures/cmd/firewall-cmd-list-protocols
  test/fixtures/cmd/firewall-cmd-list-rich-rules
  test/fixtures/cmd/firewall-cmd-list-source-ports
  test/fixtures/cmd/firewall-cmd-query-icmp-block-inversion
  test/fixtures/cmd/firewall-cmd-query-masquerade
  test/helpers/mock_loader.rb
  test/unit/resources/firewalld_test.rb
Labels: Documentation

#5919 Backport firewalld update - inspec-4
  docs-chef-io/content/inspec/resources/firewalld.md
  lib/inspec/resources/firewalld.rb
  test/fixtures/cmd/firewall-cmd-get-target
  test/fixtures/cmd/firewall-cmd-list-forward-ports
  test/fixtures/cmd/firewall-cmd-list-icmp-blocks
  test/fixtures/cmd/firewall-cmd-list-ports
  test/fixtures/cmd/firewall-cmd-list-protocols
  test/fixtures/cmd/firewall-cmd-list-rich-rules
  test/fixtures/cmd/firewall-cmd-list-source-ports
  test/fixtures/cmd/firewall-cmd-query-icmp-block-inversion
  test/fixtures/cmd/firewall-cmd-query-masquerade
  test/helpers/mock_loader.rb
  test/unit/resources/firewalld_test.rb
Labels: Documentation

#5918 CFINSPEC-137: Deprecate --target-id option
  docs-chef-io/content/inspec/cli.md
  etc/deprecations.json
  lib/inspec/base_cli.rb
  lib/inspec/cli.rb
  lib/inspec/reporters/automate.rb
  lib/inspec/reporters/cli.rb
  lib/inspec/reporters/json.rb
  test/fixtures/reporters/cli_output
  test/fixtures/reporters/cli_output_windows
  test/fixtures/reporters/json_merged_output
  test/fixtures/reporters/json_output
  test/fixtures/reporters/run_data.yml
  test/fixtures/reporters/yaml_output
  test/fixtures/reporters/yaml_output_windows_ruby3plus
  test/functional/git_fetcher_test.rb
  test/functional/helper.rb
  test/functional/inspec_exec_json_test.rb
  test/functional/inspec_exec_test.rb
  test/unit/reporters/cli_test.rb
  test/unit/reporters/json_test.rb
Labels: Documentation

#5927 Update docs makefile
  docs-chef-io/Makefile
Labels: Aspect: Docs, Documentation

#5921 CFINSPEC-79: Add linux container resource
  docs-chef-io/content/inspec/resources/lxc.md
  lib/inspec/resources/lxc.rb
  test/fixtures/cmd/lxcinfo
  test/helpers/mock_loader.rb
  test/unit/resources/lxc_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5931 CFINSPEC-82: Add ppa resource
  docs-chef-io/content/inspec/resources/ppa.md
  etc/deprecations.json
  lib/inspec/resources/apt.rb
  test/unit/resources/ppa_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#5946 Fix plugin list smoke test
  test/artifact/inspec_plugin_test.rb
Labels: Aspect: Testing

#5949 Extend CI test timeout to 60 minutes
  .expeditor/verify.pipeline.yml
Labels: Aspect: Testing

#5944 CFINSPEC-85: Enhance docker_container resource with have_volume matcher
  docs-chef-io/content/inspec/resources/docker_container.md
  lib/inspec/resources/docker_container.rb
  test/fixtures/cmd/docker-inspect
  test/fixtures/cmd/docker-inspect-e
  test/helpers/mock_loader.rb
  test/unit/resources/docker_container_test.rb
Labels: Component: Core Resources, Documentation

#5945 CFINSPEC-86: Enhance docker_image resource
  docs-chef-io/content/inspec/resources/docker_image.md
  lib/inspec/resources/docker_image.rb
  test/fixtures/cmd/docker-inspect-image
  test/helpers/mock_loader.rb
  test/unit/resources/docker_image_test.rb
Labels: Component: Core Resources, Documentation
