Repository inspec/inspec, pull requests merged in 2022-02, with the labels that each got.

#5806 CFINSPEC-5 Added more detailed description about waivers expiration date.
  docs-chef-io/content/inspec/waivers.md
Labels: Documentation

#5816 CFINSPEC-15 Allows inheritance of core resource into the custom resource.
  lib/inspec/library_eval_context.rb
  lib/inspec/profile_context.rb
  test/fixtures/files/node.json
  test/fixtures/profiles/custom-resource-inheritance/README.md
  test/fixtures/profiles/custom-resource-inheritance/controls/example.rb
  test/fixtures/profiles/custom-resource-inheritance/inspec.yml
  test/fixtures/profiles/custom-resource-inheritance/libraries/.gitkeep
  test/fixtures/profiles/custom-resource-inheritance/libraries/node.rb
  test/functional/inspec_exec_test.rb
  test/unit/profiles/library_eval_context_test.rb
Labels: Component: DSL, Component: Internals

#5823 [WIP] Setting up test coverage reporting
  .expeditor/verify.pipeline.yml
  Gemfile
  test/helper.rb
  test/helpers/simplecov_minitest.rb
Labels: Aspect: Testing

#5782 CFINSPEC-3 Added kernel_parameters resource
  docs-chef-io/content/inspec/resources/kernel_parameters.md
  lib/inspec/resources.rb
  lib/inspec/resources/kernel_parameters.rb
  test/fixtures/cmd/sbin_sysctl_all
  test/helpers/mock_loader.rb
  test/unit/resources/kernel_parameters_test.rb
Labels: Type: New Feature, Expeditor: Bump Minor Version, Documentation

#5829 CFINSPEC-9 Added support for streaming reporters
  dev-docs/plugins.md
  lib/inspec/config.rb
  lib/inspec/plugin/v2/plugin_types/streaming_reporter.rb
  lib/inspec/runner_rspec.rb
  test/fixtures/plugins/inspec-streamer-bang/README.md
  test/fixtures/plugins/inspec-streamer-bang/lib/inspec-streamer-bang.rb
  test/fixtures/plugins/inspec-streamer-bang/lib/inspec-streamer-bang/plugin.rb
  test/fixtures/plugins/inspec-streamer-bang/lib/inspec-streamer-bang/streaming_reporter.rb
  test/fixtures/plugins/inspec-streamer-bang/lib/inspec-streamer-bang/version.rb
  test/functional/plugins_test.rb
Labels: Type: New Feature, Component: Reporters, Expeditor: Bump Minor Version

#5840 Fix The Broken Links
  docs-chef-io/content/inspec/dsl_inspec.md
  docs-chef-io/content/inspec/resources/aws_nat_gateways.md
  docs-chef-io/content/inspec/resources/aws_sns_subscription.md
  docs-chef-io/content/inspec/resources/azure_resource_group.md
  docs-chef-io/content/inspec/resources/azure_virtual_machine_data_disk.md
  docs-chef-io/content/inspec/resources/azurerm_cosmosdb_database_account.md
  docs-chef-io/content/inspec/resources/azurerm_event_hub_authorization_rule.md
  docs-chef-io/content/inspec/resources/azurerm_event_hub_event_hub.md
  docs-chef-io/content/inspec/resources/azurerm_event_hub_namespace.md
  docs-chef-io/content/inspec/resources/azurerm_management_group.md
  docs-chef-io/content/inspec/resources/azurerm_management_groups.md
  docs-chef-io/content/inspec/resources/azurerm_mysql_database.md
  docs-chef-io/content/inspec/resources/azurerm_mysql_databases.md
  docs-chef-io/content/inspec/resources/azurerm_mysql_servers.md
  docs-chef-io/content/inspec/resources/azurerm_network_interface.md
  docs-chef-io/content/inspec/resources/azurerm_network_interfaces.md
  docs-chef-io/content/inspec/resources/azurerm_postgresql_database.md
  docs-chef-io/content/inspec/resources/azurerm_postgresql_databases.md
  docs-chef-io/content/inspec/resources/azurerm_postgresql_servers.md
  docs-chef-io/content/inspec/resources/azurerm_storage_account_blob_container.md
  docs-chef-io/content/inspec/resources/azurerm_storage_account_blob_containers.md
  docs-chef-io/content/inspec/resources/google_cloudbuild_trigger.md
  docs-chef-io/content/inspec/resources/google_container_cluster.md
Labels: Documentation

#5855 Update README to update ruby version support.
  README.md
Labels: Expeditor: Bump Major Version

#5856 Add sonarscanner
  .expeditor/buildkite/verify.sh
  .expeditor/config.yml
  .expeditor/coverage.pipeline.yml
  .expeditor/verify.pipeline.yml
Labels: Aspect: Testing

#5793 CFINSPEC-2 Added options to allow winrm SSL connection with certificates
  docs-chef-io/content/inspec/cli.md
  lib/inspec/base_cli.rb
Labels: Expeditor: Bump Minor Version, Documentation
