Repository inspec/inspec, pull requests merged in 2022-06, with the labels that each got.

#6041 CFINSPEC-95: Enhance `x509_certificate` resource
  docs-chef-io/content/inspec/resources/x509_certificate.md
  lib/inspec/resources/x509_certificate.rb
  test/fixtures/cmd/x509-crt-purpose
  test/helpers/mock_loader.rb
  test/unit/resources/x509_certificate_test.rb
Labels: Component: Core Resources, Documentation

#6099 CFINSPEC-190 Docs for InSpec Parallel
  docs-chef-io/content/inspec/parallel.md
Labels: Documentation

#6007 Dk/matchers rewrite
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/matchers.md
Labels: Documentation

#6135 Bump to InSpec 6
  README.md
Labels: Expeditor: Bump Major Version

#5975 CFINSPEC-120 `inspec parallel` feature
  docs-chef-io/content/inspec/parallel.md
  lib/inspec/reporters.rb
  lib/inspec/ui.rb
  lib/plugins/inspec-parallel/README.md
  lib/plugins/inspec-parallel/inspec-parallel.gemspec
  lib/plugins/inspec-parallel/lib/inspec-parallel.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/child_status_reporter.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/cli.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/command.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/runner.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/base.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/status.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/super_reporter/text.rb
  lib/plugins/inspec-parallel/lib/inspec-parallel/validator.rb
  lib/plugins/inspec-parallel/test/fixtures/options-file-1.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-2.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-3.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-4.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-5.txt
  lib/plugins/inspec-parallel/test/fixtures/options-file-shell-1.sh
  lib/plugins/inspec-parallel/test/functional/inspec_parallel_test.rb
Labels: Documentation

#6159 CFINSPEC-236 Adds Podman support
  README.md
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/shell.md
  inspec-core.gemspec
  inspec.gemspec
  lib/inspec/base_cli.rb
Labels: Documentation
