Repository inspec/inspec, pull requests merged in 2022-05, with the labels that each got.

#6004 CFINSPEC-96: Add `zfs` resource
  docs-chef-io/content/inspec/resources/zfs.md
  lib/inspec/resources/zfs.rb
  test/unit/resources/zfs_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#6049 Update omnibus and omnibus-software in Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#6050 Update omnibus and omnibus-software in Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#6062 Fix omnibus-test.ps1
  omnibus/omnibus-test.ps1
Labels: Expeditor: Skip All

#6063 Fix omnibus-test.ps1
  omnibus/omnibus-test.ps1
Labels: Expeditor: Skip All

#6061 CFINSPEC-153 InSpec Sign - Docs take 2
  docs-chef-io/content/inspec/signing.md
Labels: Documentation

#6018 CFINSPEC-84: Add `x509_private_key` resource
  docs-chef-io/content/inspec/resources/x509_private_key.md
  lib/inspec/resources/x509_private_key.rb
  test/fixtures/cmd/x509-certificate-modulus
  test/fixtures/files/x509-encrypted-secret-key
  test/fixtures/files/x509-secret-key
  test/helpers/mock_loader.rb
  test/unit/resources/x509_private_key_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#6045 CFINSPEC-90: Enhance `host` resource
  docs-chef-io/content/inspec/resources/host.md
  lib/inspec/resources/host.rb
  test/fixtures/cmd/Resolve-DnsName-ipv6
  test/helpers/mock_loader.rb
  test/unit/resources/host_test.rb
Labels: Component: Core Resources, Documentation

#5991 CFINSPEC-92: Enhance `processes` resource
  docs-chef-io/content/inspec/resources/processes.md
  lib/inspec/resources/processes.rb
  test/fixtures/cmd/ps-axo
  test/unit/resources/processes_test.rb
Labels: Component: Core Resources, Documentation

#6010 CFINSPEC-81: Add `php_config` resource
  docs-chef-io/content/inspec/resources/php_config.md
  lib/inspec/resources/php_config.rb
  test/fixtures/cmd/get-cfg-var
  test/helpers/mock_loader.rb
  test/unit/resources/php_config_test.rb
Labels: Component: Core Resources, Expeditor: Bump Minor Version, Documentation

#6066 fixing bad markdown syntax
  docs-chef-io/content/inspec/resources/file.md
Labels: Documentation

#6075 Remove Hugo version from Netlify config
  docs-chef-io/netlify.toml
Labels: Documentation

#6096 Update omnibus/Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#6097 Update omnibus/Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All
