Repository inspec/inspec, pull requests merged in 2023-10, with the labels that each got.

#6747 Fix Habitat package pipeline for inspec-4
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
Labels: Expeditor: Skip Version Bump, inspec-4, ci

#6735 Fix Habitat package pipeline for inspec-5
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
Labels: Expeditor: Skip Version Bump, inspec-5

#6750 BACKPORT 6626: Fix for inspec exec fails with git fetcher if current directory does not have .git directory
  lib/inspec/fetcher/git.rb
  test/functional/git_fetcher_test.rb
  test/unit/fetchers/git_test.rb
Labels: inspec-4

#6752 BACKPORT 6401: Fix for mongodb_session resource prints debug level of information in profile run result
  lib/inspec/resources/mongodb_session.rb
Labels: inspec-4

#6457 Backport 6351: Upgraded mock Ubuntu fixture to latest LTS version
  test/helpers/mock_loader.rb
  test/unit/profiles/metadata_test.rb
  test/unit/resources/os_test.rb
  test/unit/resources/platform_test.rb
  test/unit/resources/wmi_test.rb
Labels: inspec-4

#6751 BACKPORT 6262: Prevent negative status from crashing launchd service resource
  lib/inspec/resources/service.rb
  test/fixtures/cmd/launchctl-list
  test/unit/resources/service_test.rb
Labels: inspec-4

#6774 Remove resource_id for `service` resource , we do not support in inspec-4
  lib/inspec/resources/service.rb
  test/unit/resources/service_test.rb
Labels: Expeditor: Skip Version Bump, inspec-4

#6776 Backport 6748 Openssl upgrade with version 1.1.1w
  omnibus_overrides.rb
Labels: Expeditor: Skip Version Bump, dependencies, inspec-4

#6775 Backport 6748 Openssl upgrade with version 1.1.1w
  omnibus_overrides.rb
Labels: Expeditor: Skip Version Bump, dependencies, inspec-5

#6778 [BACKPORT] Upgrade ruby version from 3.1.2 to 3.1.4 for omnibus-overrides
  omnibus_overrides.rb
Labels: Expeditor: Skip Version Bump, dependencies, inspec-4

#6630 CHEF-2627 Clarify License Description on Rubygems
  Chef-EULA
  README.md
  inspec-bin/Chef-EULA
  inspec-bin/inspec-bin.gemspec
  inspec-bin/inspec-core-bin.gemspec
  inspec-core.gemspec
  inspec.gemspec
Labels: inspec-6

#6798 Backport-6796 on inspec-5
  sonar-project.properties
Labels: Expeditor: Skip Version Bump, inspec-5

#6794 [Backport] - CI: Build on MacOS 11 intel, dropping EOL 10.15
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip Version Bump, inspec-4, ci

#6799 CHEF-6914: Enable SonarQube to work with inspec-5 branch
  sonar-project.properties
Labels: Expeditor: Skip Version Bump, inspec-5

#6574 Docs updates to install inspec 6
  docs-chef-io/config.toml
  docs-chef-io/content/inspec/cloud_platforms.md
  docs-chef-io/content/inspec/install.md
  docs-chef-io/content/inspec/license.md
  docs-chef-io/content/inspec/platforms.md
  docs-chef-io/content/inspec/reusable/index.md
  docs-chef-io/content/inspec/reusable/md/support_commercial_platforms.md
  docs-chef-io/content/inspec/reusable/md/support_derived_platforms.md
  docs-chef-io/content/inspec/uninstall.md
Labels: Expeditor: Skip Version Bump, Documentation, inspec-6

#6801 OMNIBUS: Drop enterprise linux 6 support as it has reached EOL
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip Version Bump, inspec-6, ci

#6802 [Backport] OMNIBUS: Drop enterprise linux 6 support as it has reached EOL
  .expeditor/release.omnibus.yml
Labels: inspec-4, ci

#6795 [Backport] - CI: Build on MacOS 11 intel, dropping EOL 10.15
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip Version Bump, inspec-5, ci

#6800 CHEF-7151: Configures SonarQube and coverage pipeline on inspec-4
  .expeditor/buildkite/verify.sh
  .expeditor/config.yml
  .expeditor/coverage.pipeline.yml
  sonar-project.properties
Labels: Expeditor: Skip Version Bump, inspec-4

#6789 CI: Build on MacOS 11 intel, dropping EOL 10.15
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip Version Bump, inspec-6, ci

#6788 Update links in docs
  docs-chef-io/content/inspec/dsl_inspec.md
  docs-chef-io/content/inspec/migration.md
  docs-chef-io/content/inspec/profiles.md
Labels: Expeditor: Skip Version Bump, Documentation

#6803 [Backport] OMNIBUS: Drop enterprise linux 6 support as it has reached EOL
  .expeditor/release.omnibus.yml
Labels: inspec-5, ci

#6645 CHEF-3928 Fix in HTML2 reporter - unique ID usage for control HTML divisions
  lib/plugins/inspec-reporter-html2/templates/control.html.erb
  lib/plugins/inspec-reporter-html2/templates/default.js
Labels: inspec-6

#6612 CHEF-3917 Troubleshooting Page for Chef Licensing issues/errors
  docs-chef-io/content/inspec/troubleshooting.md
Labels: Documentation, inspec-6

#6796 Fixed `inspec json` ability to use cli options successfully
  lib/inspec/cli.rb
Labels: inspec-6

#6815 Pin Thor to < 1.3.0 to fix test failures related to aliases
  inspec-core.gemspec
Labels: Expeditor: Skip Version Bump, inspec-6

#6817 Backport #6815 - Pin Thor < 1.3.0
  inspec-core.gemspec
Labels: Expeditor: Skip Version Bump, inspec-5

#6818 Backport #6815 - Pin Thor to < 1.3.0
  inspec-core.gemspec
Labels: Expeditor: Skip Version Bump, inspec-4

#6748 Openssl upgrade with version 1.1.1w
  omnibus_overrides.rb
Labels: inspec-6

#6819 Disable artifactory cache on inspec-5-omnibus-adhoc to fix ffi
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump, inspec-5, ci

#6824 Explicitly pin openssl to 1.0.2zi to avoid a CVE - inspec-5
  omnibus_overrides.rb
Labels: Aspect: Security, dependencies, inspec-5

#6823 Explicitly pin openssl to 1.0.2zi to avoid a CVE - inspec-4
  omnibus_overrides.rb
Labels: Aspect: Security, dependencies, inspec-4

#6825 Explicitly pin openssl to 1.0.2zi to avoid a CVE - inspec-6
  omnibus_overrides.rb
Labels: Aspect: Security, dependencies, inspec-6

#6826 Update runtime platform list
  README.md
Labels: inspec-6

#6827 Update runtime platform list (#6826)
  README.md
Labels: inspec-5

#6828 Backport - Update runtime platform list (#6826)
  README.md
Labels: inspec-4

#6830 Fix lint offense, TrailingWhitespace & EmptyLines
  omnibus_overrides.rb
Labels: Expeditor: Skip Version Bump, inspec-6

#6833 CHEF-7670 Ability to set feature preview flag using ENV
  lib/inspec/feature.rb
  lib/inspec/feature/runner.rb
  test/fixtures/features-02.sig
  test/fixtures/features-02.yaml
  test/unit/feature_test.rb
Labels: inspec-6

#6832 Profile params usage changes - inspec compliance plugin
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
Labels: inspec-6
