Repository inspec/inspec, pull requests merged in 2023-11, with the labels that each got.

#6842 Fix trailing whitespace on omnibus overrides file
  omnibus_overrides.rb
Labels: Type: Chore, Expeditor: Skip Version Bump, inspec-5, ci

#6841 Fix trailing whitespace on omnibus overrides file
  omnibus_overrides.rb
Labels: Type: Chore, Expeditor: Skip Version Bump, inspec-4, ci

#6839 Pull release notes from v4 wiki page
  .expeditor/publish-release-notes.sh
Labels: Expeditor: Skip Version Bump, inspec-4, ci

#6840 Pull release notes from v5 wiki page instead of main
  .expeditor/publish-release-notes.sh
Labels: Expeditor: Skip Version Bump, inspec-5, ci

#6673 Run inspec check using output info_from_parse
  docs-chef-io/content/inspec/cli.md
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  lib/inspec/utils/profile_ast_helpers.rb
  test/functional/inspec_check_test.rb
Labels: Documentation, inspec-6

#6811 BACKPORT: Fix in HTML2 reporter
  lib/plugins/inspec-reporter-html2/templates/control.html.erb
  lib/plugins/inspec-reporter-html2/templates/default.js
Labels: inspec-5

#6845 CHEF-7281: Remove references to MacOS 10.15 in docs
  README.md
  docs-chef-io/content/inspec/reusable/md/support_commercial_platforms.md
Labels: Expeditor: Skip Version Bump, Documentation, inspec-6

#6812 BACKPORT: Fix in HTML2 reporter
  lib/plugins/inspec-reporter-html2/templates/control.html.erb
  lib/plugins/inspec-reporter-html2/templates/default.js
Labels: inspec-4

#6814 BACKPORT: Fixed `inspec json` ability to use cli options successfully
  lib/inspec/cli.rb
Labels: inspec-5

#6846 CHEF-3745: Update supported platforms list to include RHEL 9
  README.md
  docs-chef-io/content/inspec/reusable/md/support_commercial_platforms.md
Labels: Expeditor: Skip Version Bump, Documentation, inspec-6

#6816 CHEF-6437: Implement different version of `inspec export`
  docs-chef-io/content/inspec/cli.md
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  lib/inspec/utils/profile_ast_helpers.rb
  test/fixtures/profiles/conditional-metadata/controls/example.rb
  test/fixtures/profiles/conditional-metadata/inspec.yml
  test/fixtures/profiles/control-fields-examples/controls/desc.rb
  test/fixtures/profiles/control-fields-examples/controls/impact.rb
  test/fixtures/profiles/control-fields-examples/controls/refs.rb
  test/fixtures/profiles/control-fields-examples/controls/title.rb
  test/fixtures/profiles/control-fields-examples/inspec.yml
  test/functional/inheritance_test.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_check_test.rb
  test/functional/inspec_export_test.rb
  test/functional/inspec_json_profile_test.rb
  test/functional/inspec_vendor_test.rb
  test/unit/profiles/profile_test.rb
Labels: Documentation, inspec-6

#6848 Backports 6650 - Doc revert
  docs-chef-io/content/inspec/cli.md
Labels: Expeditor: Skip Version Bump, Documentation, inspec-5

#6852 Backport-6832: Usage changes of profile params in inspec compliance plugin (InSpec 5)
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
Labels: inspec-5

#6853 Backport-6832: Usage changes of profile params in inspec compliance plugin (InSpec 4)
  lib/plugins/inspec-compliance/lib/inspec-compliance/cli.rb
Labels: inspec-4

#6838 CHEF-7694 (CHEF-8271) : Fix security_policy resource returns array for non comma separated values
  lib/inspec/resources/security_policy.rb
  test/fixtures/cmd/secedit-export
  test/unit/resources/security_policy_test.rb
Labels: Documentation, inspec-6

#6854 Backport #6838 - Fix security_policy resource returns array for non comma separated values
  lib/inspec/resources/security_policy.rb
  test/fixtures/cmd/secedit-export
  test/unit/resources/security_policy_test.rb
Labels: inspec-5

#6849 Backport: CHEF-6437: Implement different version of `inspec export` (#6816) (Inspec 5)
  docs-chef-io/content/inspec/cli.md
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  lib/inspec/utils/profile_ast_helpers.rb
  test/fixtures/profiles/conditional-metadata/controls/example.rb
  test/fixtures/profiles/conditional-metadata/inspec.yml
  test/fixtures/profiles/control-fields-examples/controls/desc.rb
  test/fixtures/profiles/control-fields-examples/controls/impact.rb
  test/fixtures/profiles/control-fields-examples/controls/refs.rb
  test/fixtures/profiles/control-fields-examples/controls/title.rb
  test/fixtures/profiles/control-fields-examples/inspec.yml
  test/functional/inheritance_test.rb
  test/functional/inspec_archive_test.rb
  test/functional/inspec_check_test.rb
  test/functional/inspec_export_test.rb
  test/functional/inspec_json_profile_test.rb
  test/functional/inspec_vendor_test.rb
  test/unit/profiles/profile_test.rb
Labels: Documentation, inspec-5

#6705 CHEF-6439 Mandatory Profile Signing (Preview)
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/signing.md
  docs-chef-io/content/inspec/troubleshooting.md
  etc/features.sig
  etc/features.yaml
  lib/inspec/base_cli.rb
  lib/inspec/config.rb
  lib/inspec/errors.rb
  lib/inspec/profile.rb
  lib/inspec/runner.rb
  lib/inspec/ui.rb
  lib/plugins/inspec-habitat/test/unit/profile_test.rb
  lib/plugins/inspec-parallel/test/functional/inspec_parallel_test.rb
  lib/plugins/inspec-sign/lib/inspec-sign/base.rb
  lib/plugins/inspec-sign/test/functional/inspec_sign_test.rb
  test/functional/helper.rb
  test/functional/inspec_exec_test.rb
  test/unit/dsl/control_test.rb
  test/unit/profiles/profile_resource_exceptions_test.rb
  test/unit/profiles/profile_test.rb
Labels: Documentation, inspec-6

#6856 Bump chef-licensing verison from ">= 0.4.44" to ">=0.7.5"
  inspec-core.gemspec
Labels: Expeditor: Bump Minor Version, inspec-6

#6859 CHEF-8416: Patch for broken reporter integration for compliance phase
  lib/inspec/config.rb
Labels: inspec-6

#6861 Pin to unf_ext 0.0.8.2 in top-level Gemfile
  Gemfile
Labels: inspec-5

#6857 Document where to look up the platform list
  docs-chef-io/content/inspec/profiles.md
Labels: Expeditor: Skip Version Bump, Documentation

#6844 InSpec docs reorganization
  docs-chef-io/config.toml
  docs-chef-io/content/inspec/_index.md
  docs-chef-io/content/inspec/audit_log.md
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/cloud/_index.md
  docs-chef-io/content/inspec/cloud/alicloud.md
  docs-chef-io/content/inspec/cloud/aws.md
  docs-chef-io/content/inspec/cloud/azure.md
  docs-chef-io/content/inspec/cloud/gcp.md
  docs-chef-io/content/inspec/cloud_platforms.md
  docs-chef-io/content/inspec/config.md
  docs-chef-io/content/inspec/dsl_inspec.md
  docs-chef-io/content/inspec/dsl_resource.md
  docs-chef-io/content/inspec/glossary.md
  docs-chef-io/content/inspec/habitat.md
  docs-chef-io/content/inspec/inputs.md
  docs-chef-io/content/inspec/inspec_and_friends.md
  docs-chef-io/content/inspec/license.md
  docs-chef-io/content/inspec/matchers.md
  docs-chef-io/content/inspec/migration.md
  docs-chef-io/content/inspec/parallel.md
  docs-chef-io/content/inspec/plugin_kitchen_inspec.md
  docs-chef-io/content/inspec/plugins.md
  docs-chef-io/content/inspec/profiles.md
  docs-chef-io/content/inspec/profiles/_index.md
  docs-chef-io/content/inspec/profiles/controls.md
  docs-chef-io/content/inspec/profiles/custom_resources.md
  docs-chef-io/content/inspec/profiles/depends.md
  docs-chef-io/content/inspec/profiles/files.md
  docs-chef-io/content/inspec/profiles/inputs.md
  docs-chef-io/content/inspec/profiles/inspec_yml.md
  docs-chef-io/content/inspec/profiles/platforms.md
  docs-chef-io/content/inspec/profiles/signing.md
  docs-chef-io/content/inspec/profiles/style.md
  docs-chef-io/content/inspec/reporters.md
  docs-chef-io/content/inspec/shell.md
  docs-chef-io/content/inspec/signing.md
  docs-chef-io/content/inspec/troubleshooting.md
  docs-chef-io/content/inspec/waivers.md
Labels: Expeditor: Skip Version Bump, Documentation
