Repository inspec/inspec, pull requests merged in 2023-12, with the labels that each got.

#6790 Upgrade declared minimum ruby version in gemspec from 2.4.0 to 3.0.3
  README.md
  inspec-bin/inspec-bin.gemspec
  inspec-bin/inspec-core-bin.gemspec
  inspec-core.gemspec
  inspec.gemspec
Labels: inspec-6

#6910 CI: Increase timeout for buildkite
  .expeditor/verify_private.pipeline.yml
Labels: Expeditor: Skip Version Bump, ci

#6872 Upgrades openssl version to 3.0.11
  omnibus_overrides.rb
Labels: inspec-6

#6911 Set GitHub labeler action version
  .github/workflows/labeler.yml
Labels: Expeditor: Skip Version Bump
