Repository inspec/inspec, pull requests merged in 2023-07, with the labels that each got.

#6556 forcing private in the configuration file
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump

#6558 inspec-6 CI - Add secrets: true to private verify pipeline, delete ruby 2.7 config
  .expeditor/verify_private.pipeline.yml
Labels: Expeditor: Skip Version Bump

#6546 CHEF-3832: Fix for InSpec Parallel fails to fetch remote profiles due to cache contention.
  lib/inspec/cached_fetcher.rb
  lib/inspec/dependencies/cache.rb
  lib/inspec/fetcher/git.rb
  lib/inspec/plugin/v1/plugin_types/fetcher.rb
Labels: inspec-6

#6568 CHEF-4115 Added ability to merge reporter configurations from both CLI and config
  docs-chef-io/content/inspec/reporters.md
  lib/inspec/cli.rb
  lib/inspec/config.rb
  test/fixtures/config_dirs/json-config/reporter-cli-config.json
  test/functional/inputs_test.rb
  test/functional/inspec_exec_test.rb
Labels: Documentation

#6579 Foreport 6568
  docs-chef-io/content/inspec/reporters.md
  lib/inspec/cli.rb
  lib/inspec/config.rb
  test/fixtures/config_dirs/json-config/reporter-cli-config.json
  test/functional/inputs_test.rb
  test/functional/inspec_exec_test.rb
Labels: Documentation
