Repository inspec/inspec, pull requests merged in 2023-09, with the labels that each got.

#6502 Update podman.md
  docs-chef-io/content/inspec/resources/podman.md
Labels: Documentation

#6649 Fix liniting in omnibus/Gemfile
  omnibus/Gemfile
Labels: Expeditor: Skip Version Bump

#6609 Add license key error to troubleshooting page
  docs-chef-io/content/inspec/troubleshooting.md
Labels: Documentation

#6650 Revert CLI docs page changes
  docs-chef-io/content/inspec/cli.md
Labels: Documentation

#6657 Move InSpec docs menu from chef-web-docs
  docs-chef-io/config.toml
  docs-chef-io/go.mod
Labels: Documentation

#6718 Revert "Update html-proofer requirement from ~> 3.19.4 to ~> 5.0.8"
  Gemfile
Labels: Expeditor: Skip Version Bump

#6716 Drop Ruby 2.7 tests on inspec-5
  .expeditor/verify.pipeline.yml
Labels: inspec-5

#6711 [BACKPORT] EULA: Update latest EULA (markdown copy) - 31AUG2023
  omnibus/CHEF-EULA.md
Labels: inspec-4

#6712 [BACKPORT] EULA: Update latest EULA - 31AUG2023
  omnibus/CHEF-EULA.md
Labels: inspec-5

#6722 Revert "Update html-proofer requirement from ~> 3.19.4 to ~> 5.0.8"
  Gemfile
Labels: Expeditor: Skip Version Bump, dependencies, inspec-5

#6483 Fix Syntax
  docs-chef-io/content/inspec/resources/file.md
Labels: Documentation

#6723 CHEF-6429 Backport 6658 to inspec-5, CI windows msi signing changes
  omnibus/config/projects/inspec.rb
Labels: Expeditor: Skip Version Bump, inspec-5

#6710 [BACKPORT] CHEF-5898: Update latest EULA as used in MacOS installers (#6652)
  omnibus/resources/inspec/pkg/license.html.erb
Labels: inspec-4

#6724 CHEF-6910 Backport 6658, windows signing key changes
  omnibus/config/projects/inspec.rb
Labels: Expeditor: Skip Version Bump, inspec-4, ci

#6709 [BACKPORT] CHEF-5898: Update latest EULA as used in MacOS installers (#6652)
  omnibus/resources/inspec/pkg/license.html.erb
Labels: inspec-5

#6728 Pin ffi-yajl to 2.4.0 in omnibus Gemfile
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Version Bump, inspec-5

#6729 Pin ffi-yajl to 2.4.0 in omnibus Gemfile (#6728)
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Version Bump, inspec-4

#6731 Correct quotes on ffi-yajl
  omnibus/Gemfile
Labels: Expeditor: Skip Version Bump, dependencies, inspec-5

#6732 Correct quotes on ffi-yajl
  omnibus/Gemfile
Labels: Expeditor: Skip Version Bump, inspec-4

#6720 CHEF-6928 Backport 6659, inspec archive no check/ no export by default, to inspec-4
  docs-chef-io/content/inspec/cli.md
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  test/fixtures/profiles/eval-markers/controls/markers.rb
  test/fixtures/profiles/eval-markers/inspec.yml
  test/functional/inspec_archive_test.rb
Labels: inspec-4

#6734 Revert minitest requirement from 5.20.0 to 5.15.0
  Gemfile
Labels: Expeditor: Skip Version Bump, inspec-5

#6738 Add x64-mingw-ucrt platform to omnibus for inspec-4
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Version Bump, inspec-4

#6721 CHEF-6929 Backport 6659, inspec archive no check/ no export by default, to inspec-5
  docs-chef-io/content/inspec/cli.md
  lib/inspec/cli.rb
  lib/inspec/profile.rb
  test/fixtures/profiles/eval-markers/controls/markers.rb
  test/fixtures/profiles/eval-markers/inspec.yml
  test/functional/inspec_archive_test.rb
Labels: Documentation, inspec-5

#6740 Backport 6342
  lib/inspec/env_printer.rb
  test/functional/inspec_env_test.rb
Labels: Expeditor: Skip Version Bump, inspec-4

#6745 Set IGNORE_ARTIFACTORY_RUBY_PROXY to true on inspec-4 for adhoc build
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump, inspec-4

#6742 Backport 6741: Changed params usage in inspec archive to skip evaluation
  lib/inspec/profile.rb
  test/functional/inspec_archive_test.rb
Labels: inspec-4

#6743 Backport 6741: Changed params usage in inspec archive to skip evaluation
  lib/inspec/profile.rb
  test/functional/inspec_archive_test.rb
Labels: inspec-5
