Repository inspec/inspec, pull requests merged in 2024-11, with the labels that each got.

#7197 chore: disable habitat package promotion in config
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump

#7183 CHEF-15332: Cleanup RabbitMQ resources and documentation from InSpec
  docs-chef-io/content/inspec/resources/rabbitmq_config.md
  lib/inspec/resources.rb
  lib/inspec/resources/rabbitmq_conf.rb
  lib/inspec/resources/rabbitmq_config.rb
  test/fixtures/files/rabbitmq.config
  test/helpers/mock_loader.rb
  test/unit/resources/rabbitmq_conf_test.rb
Labels: Documentation

#7190 CHEF-15330 Cleanup ibmdb2 resources from Inspec repo
  docs-chef-io/content/inspec/resources/ibmdb2_conf.md
  docs-chef-io/content/inspec/resources/ibmdb2_session.md
  lib/inspec/resources.rb
  lib/inspec/resources/ibmdb2_conf.rb
  lib/inspec/resources/ibmdb2_session.rb
  test/fixtures/cmd/ibmdb2_conf_output
  test/fixtures/cmd/ibmdb2_query_output
  test/helpers/mock_loader.rb
  test/unit/resources/ibmdb2_conf_test.rb
  test/unit/resources/ibmdb2_session_test.rb
Labels: Documentation

#7170 CHEF-15119 - Removes docker resources from core
  docs-chef-io/content/inspec/resources/docker.md
  docs-chef-io/content/inspec/resources/docker_container.md
  docs-chef-io/content/inspec/resources/docker_image.md
  docs-chef-io/content/inspec/resources/docker_plugin.md
  docs-chef-io/content/inspec/resources/docker_service.md
  etc/deprecations.json
  lib/inspec/resources.rb
  lib/inspec/resources/docker.rb
  lib/inspec/resources/docker_container.rb
  lib/inspec/resources/docker_image.rb
  lib/inspec/resources/docker_object.rb
  lib/inspec/resources/docker_plugin.rb
  lib/inspec/resources/docker_service.rb
  test/fixtures/cmd/docker-images
  test/fixtures/cmd/docker-info
  test/fixtures/cmd/docker-inspec
  test/fixtures/cmd/docker-inspect
  test/fixtures/cmd/docker-inspect-e
  test/fixtures/cmd/docker-inspect-image
  test/fixtures/cmd/docker-plugin-ls
  test/fixtures/cmd/docker-ps-a
  test/fixtures/cmd/docker-service-ls
  test/fixtures/cmd/docker-version
  test/helpers/mock_loader.rb
  test/unit/resources/docker_container_test.rb
  test/unit/resources/docker_image_test.rb
  test/unit/resources/docker_plugin_test.rb
  test/unit/resources/docker_service_test.rb
  test/unit/resources/docker_test.rb
Labels: Documentation

#7217 ci: update digi cert token for windows platforms
  omnibus/config/projects/inspec.rb
Labels: Expeditor: Skip Version Bump, inspec-7
