Repository inspec/inspec, pull requests merged in 2024-07, with the labels that each got.

#7072 Upgrades sonar scanner version
  .expeditor/buildkite/verify.sh
Labels: Expeditor: Skip Changelog, Expeditor: Skip Version Bump

#7083 ci: change license server to point to local licensing server
  .expeditor/buildkite/verify.ps1
  .expeditor/buildkite/verify.sh
Labels: Expeditor: Skip Version Bump

#6012 Usage Telemetry v3
  docs-chef-io/content/inspec/license.md
  etc/features.sig
  etc/features.yaml
  inspec-core.gemspec
  lib/inspec.rb
  lib/inspec/cli.rb
  lib/inspec/runner.rb
  lib/inspec/utils/telemetry.rb
  lib/inspec/utils/telemetry/base.rb
  lib/inspec/utils/telemetry/collector.rb
  lib/inspec/utils/telemetry/data_series.rb
  lib/inspec/utils/telemetry/global_methods.rb
  lib/inspec/utils/telemetry/http.rb
  lib/inspec/utils/telemetry/null.rb
  lib/inspec/utils/telemetry/run_context_probe.rb
  test/fixtures/reporters/run_data_test_profile_a.json
  test/fixtures/valid_client_api_data.json
  test/unit/utils/telemetry/collector_test.rb
  test/unit/utils/telemetry/data_series_test.rb
  test/unit/utils/telemetry/global_methods_test.rb
  test/unit/utils/telemetry_test.rb
Labels: Expeditor: Bump Minor Version, Documentation, inspec-6

#7103 Increase buildkite verify pipeline timeout
  .expeditor/verify_private.pipeline.yml
Labels: Expeditor: Skip Version Bump

#7070 Update ssh_config resource to support returning the current sshd_config file in use.
  docs-chef-io/content/inspec/resources/ssh_config.md
  docs-chef-io/content/inspec/resources/sshd_active_config.md
  lib/inspec/resources/ssh_config.rb
  lib/inspec/resources/sshd_active_config.rb
  test/unit/resources/ssh_conf_test.rb
Labels: Expeditor: Bump Minor Version, Documentation, Partner: MITRE

#7101 Attempt to fix the random failure of depedency_loader unit test
  test/fixtures/config_dirs/test-fixture-1-float/gems/3.1.0/specifications/inspec-test-fixture-0.1.0.gemspec
  test/fixtures/config_dirs/test-fixture-2-float/gems/3.1.0/specifications/inspec-test-fixture-0.2.0.gemspec
  test/fixtures/config_dirs/test-fixture-2-float/gems/3.1.0/specifications/ordinal_array-0.2.0.gemspec
  test/fixtures/config_dirs/train-test-fixture/gems/3.1.0/specifications/train-test-fixture-0.1.0.gemspec
Labels: Expeditor: Skip Version Bump

#7110 BACKPORT: (fix) Missing regular expression anchor (#7077)
  lib/inspec/input_registry.rb
Labels: inspec-5

#7111 BACKPORT: CHEF-12172: Incomplete string escaping or encoding (#7078)
  lib/inspec/resources/nftables.rb
  lib/inspec/resources/oracledb_session.rb
Labels: inspec-5
