Repository inspec/inspec, pull requests merged in 2024-05, with the labels that each got.

#7036 Backport-7030: Fix uninitialized constant Parser::AST::Processor::Mixin (#7030)
  lib/inspec/utils/profile_ast_helpers.rb
Labels: inspec-5

#7033 Backport 7023: Fix URL fetcher failure to work when current directory is not a Git repository
  lib/inspec/fetcher/url.rb
  test/unit/fetchers/url_test.rb
Labels: inspec-5

#7035 Backport-7034: Add cookstyle as a dependency for inspec-core.gemspec
  inspec-core.gemspec
  inspec.gemspec
Labels: inspec-5

#7040 Fix broken link for InSpec Profiles documentation page
  docs-chef-io/content/inspec/_index.md
Labels: Documentation

#7042 Modify url fetcher to remove `--symref` flag in `git ls-remote` command
  lib/inspec/fetcher/url.rb
  test/functional/inspec_vendor_test.rb
  test/unit/fetchers/url_test.rb
Labels: inspec-5

#7007 CI: Update configuration to pick commercial license to be used during the buildkite test
  .expeditor/buildkite/verify.ps1
  .expeditor/buildkite/verify.sh
Labels: Expeditor: Skip Version Bump, inspec-6
