Repository inspec/inspec, pull requests merged in 2024-08, with the labels that each got.

#7109 ci: resume habitat pipeline
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump

#7123 ci: use latest local license server
  .expeditor/buildkite/verify.ps1
  .expeditor/buildkite/verify.sh
Labels: Expeditor: Skip Version Bump

#7126 chore: remove duplicate verify pipeline
  .expeditor/config.yml
Labels: Expeditor: Skip All, Expeditor: Skip Version Bump

#7122 CHEF-8990 Remove dependency on active-support function `blank?`
  lib/inspec/dependencies/dependency_set.rb
  lib/inspec/dsl.rb
  lib/inspec/profile.rb
  test/functional/inspec_exec_test.rb
  test/helper.rb
Labels: inspec-4

#7118 added docs changes
  README.md
  docs-chef-io/content/inspec/install.md
Labels: Documentation

#7129 Editing for install script docs
  README.md
  docs-chef-io/content/inspec/install.md
Labels: Documentation

#7127 CHEF-14881: Fix habitat pipeline for InSpec 6
  .expeditor/buildkite/artifact.habitat.test.sh
  .expeditor/config.yml
  habitat/plan.sh
Labels: Expeditor: Skip Version Bump

#7133 ci: trigger hab pipeline only on version bump
  .expeditor/config.yml
Labels: Expeditor: Skip All, Expeditor: Skip Version Bump

#7135 ci: introduce inspec-7 as part of release branches
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump

#7144 Update install doc
  docs-chef-io/content/inspec/install.md
Labels: Documentation

#7152 CHEF-15318 ci: fix the pipeline for windows' habitat build.
  .expeditor/buildkite/artifact.habitat.test.ps1
Labels: Expeditor: Skip Version Bump
