Repository inspec/inspec, pull requests merged in 2024-01, with the labels that each got.

#6916 Backport 6914 - CHEF-8990 Remove dependency on active-support function blank?
  lib/inspec/dependencies/dependency_set.rb
  lib/inspec/dsl.rb
  lib/inspec/profile.rb
  lib/inspec/reporters/cli.rb
  lib/inspec/utils/waivers/csv_file_reader.rb
  lib/inspec/utils/waivers/excel_file_reader.rb
Labels: inspec-5

#6914 CHEF-8990 Remove dependency on active-support function `blank?`
  lib/inspec/base_cli.rb
  lib/inspec/dependencies/dependency_set.rb
  lib/inspec/dsl.rb
  lib/inspec/profile.rb
  lib/inspec/reporters/cli.rb
  lib/inspec/utils/waivers/csv_file_reader.rb
  lib/inspec/utils/waivers/excel_file_reader.rb
Labels: inspec-6

#6920 Backport 6919 - CHEF-4191 Waivers backward compatibility support with Chef Client
  lib/inspec/rule.rb
Labels: inspec-5

#6945 Temporary turn off pulling of chef-licensing gem from artifactory.
  Gemfile
Labels: Expeditor: Skip Version Bump, inspec-6

#6936 Backport-6912 CHEF-4442 Streaming reporter fix to capture progress correctly
  lib/inspec/runner.rb
Labels: inspec-5

#6937 Backport 6911 - Set GitHub labeler action version
  .github/workflows/labeler.yml
Labels: Expeditor: Skip Version Bump, inspec-5

#6935 Backport 6924 CHEF-3164 Unit tests for enhanced outcomes
  test/unit/enhanced_outcomes_test.rb
Labels: Expeditor: Skip Version Bump, inspec-5

#6934 Backport 6933 - CHEF-3166 Unit tests added for IAF file
  test/fixtures/test-inspec-profile-0.1.0.iaf
  test/unit/iaf_file_test.rb
Labels: Expeditor: Skip Version Bump, inspec-5

#6656 CHEF-3962: Adds ability to verify ssh keys
  docs-chef-io/content/inspec/resources/ssh_key.md
  lib/inspec/resources.rb
  lib/inspec/resources/ssh_key.rb
  test/helpers/mock_loader.rb
  test/unit/resources/ssh_key_test.rb
Labels: Documentation, inspec-6

#6944 Turns off dependabot for inspec-4 branch
  .github/dependabot.yml
Labels: Expeditor: Skip Version Bump

#6948 Fix failing ssh_key test on Windows
  test/unit/resources/ssh_key_test.rb
Labels: Expeditor: Skip Version Bump

#6933 CHEF-3166 Unit tests added for IAF file
  test/fixtures/test-inspec-profile-0.1.0.iaf
  test/unit/iaf_file_test.rb
Labels: Expeditor: Skip Version Bump, inspec-6

#6919 CHEF-4191 Waivers backward compatibility support with Chef Client
  lib/inspec/rule.rb
Labels: inspec-6

#6947 CHEF-6412: Fix for virutalization resource undefined method file_read
  lib/inspec/resources/virtualization.rb
  test/unit/resources/virtualization_test.rb
Labels: inspec-6

#6952 CHEF-8609: Backport-6873 Reduce version pinning
  Gemfile
  lib/plugins/inspec-reporter-html2/test/functional/inspec_reporter_html2_test.rb
Labels: Expeditor: Skip Version Bump, inspec-5

#6956 CHEF-4571: Silence warning about transforming into git fetcher (#6946)
  lib/inspec/fetcher/url.rb
  test/unit/fetchers/url_test.rb
Labels: inspec-5

#6958 Minor docs fix CHEF-4267
  docs-chef-io/content/inspec/resources/ssh_key.md
Labels: Expeditor: Skip Version Bump, Documentation, inspec-6

#6953 CHEF-3160 Improve code coverage percentage - Exclude test files from code coverage
  sonar-project.properties
Labels: Expeditor: Skip Version Bump, inspec-6

#6957 CHEF-3160: Improve code coverage % on inspec-5 branch
  .expeditor/buildkite/verify.sh
  sonar-project.properties
Labels: Expeditor: Skip Version Bump, inspec-5
