Repository inspec/inspec, pull requests merged in 2025-01, with the labels that each got.

#7254 TEST PR: Expeditor workflow to enable multiple channel promotion of Hab packages
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump

#7248 CHEF-18207 Removed SSH resources and tests
  docs-chef-io/content/inspec/resources/ssh_config.md
  docs-chef-io/content/inspec/resources/ssh_key.md
  docs-chef-io/content/inspec/resources/sshd_active_config.md
  docs-chef-io/content/inspec/resources/sshd_config.md
  lib/inspec/resources.rb
  lib/inspec/resources/ssh_config.rb
  lib/inspec/resources/ssh_key.rb
  lib/inspec/resources/sshd_active_config.rb
  lib/inspec/resources/sshd_config.rb
  test/fixtures/files/ssh_config
  test/fixtures/files/sshd_config
  test/functional/inspec_shell_test.rb
  test/helpers/mock_loader.rb
  test/unit/resources/ssh_conf_test.rb
  test/unit/resources/ssh_key_test.rb
Labels: Documentation

#7269 Temporarily disabled hab pipeline for windows
  .bldr.toml
  .expeditor/artifact.habitat.yml
Labels: Expeditor: Skip All, Expeditor: Skip Version Bump

#7188 CHEF-15118 Remove elasticsearch resources
  docs-chef-io/content/inspec/resources/elasticsearch.md
  etc/deprecations.json
  lib/inspec/resources.rb
  lib/inspec/resources/elasticsearch.rb
  test/fixtures/cmd/elasticsearch-cluster-auth
  test/fixtures/cmd/elasticsearch-cluster-no-ssl
  test/fixtures/cmd/elasticsearch-cluster-nodes-default
  test/fixtures/cmd/elasticsearch-cluster-url
  test/helpers/mock_loader.rb
  test/unit/resources/elasticsearch_test.rb
Labels: Documentation
