Repository inspec/inspec, pull requests merged in 2025-07, with the labels that each got.

#7359 CHEF-21513 Drop Ruby 3.0 support from InSpec 5
  .expeditor/artifact.habitat.yml
  .expeditor/coverage.pipeline.yml
  .expeditor/verify.pipeline.yml
  README.md
  habitat/plan.sh
  inspec-bin/inspec-bin.gemspec
  inspec-bin/inspec-core-bin.gemspec
  inspec-core.gemspec
  inspec.gemspec
  lib/inspec/secrets/yaml.rb
Labels: inspec-5

#7428 Bump rack from 2.2.11 to 2.2.14 in /omnibus
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Version Bump, inspec-5

#7466 CHEF-23766-Github action pipelines for LTS-2024 channel promotion
  .github/workflows/artifact.habitat.test.yml
  .github/workflows/habitat-build-lts-current.yml
  .github/workflows/promote-hab-packages.yml
  habitat/plan.ps1
  habitat/plan.sh
Labels: Expeditor: Skip All, inspec-5
