Repository inspec/inspec, pull requests merged in 2025-03, with the labels that each got.

#7318 CHEF-18914 - InSpec 7 release changes with beta tag
  .expeditor/config.yml
  .expeditor/update_pre_release_version.sh
Labels: Expeditor: Pre-Release Version Bump

#7322 Updated comment related to beta version bumping
  .expeditor/update_pre_release_version.sh
Labels: Expeditor: Pre-Release Version Bump

#7323 chore: add beta tag to the version in changelog
  CHANGELOG.md
Labels: Expeditor: Skip All, Expeditor: Skip Changelog, Expeditor: Skip Version Bump

#7332 CHEF-20111: Fix `inspec check` for a profile with only comments or empty file
  lib/inspec/profile.rb
  test/fixtures/profiles/profile-with-comments-in-control-file/controls/example_with_only_comments.rb
  test/fixtures/profiles/profile-with-comments-in-control-file/inspec.yml
  test/fixtures/profiles/profile-with-empty-control-file/controls/example_with_empty_content.rb
  test/fixtures/profiles/profile-with-empty-control-file/inspec.yml
  test/functional/inspec_check_test.rb
Labels: inspec-6

#7333 Foreport: CHEF-20111: Fix inspec check for a profile with only comments or empty file
  lib/inspec/profile.rb
  test/fixtures/profiles/profile-with-comments-in-control-file/controls/example_with_only_comments.rb
  test/fixtures/profiles/profile-with-comments-in-control-file/inspec.yml
  test/fixtures/profiles/profile-with-empty-control-file/controls/example_with_empty_content.rb
  test/fixtures/profiles/profile-with-empty-control-file/inspec.yml
  test/functional/inspec_check_test.rb
Labels: inspec-7

#7334 Backport: CHEF-20111: Fix inspec check for a profile with only comments or empty file
  lib/inspec/profile.rb
  test/fixtures/profiles/profile-with-comments-in-control-file/controls/example_with_only_comments.rb
  test/fixtures/profiles/profile-with-comments-in-control-file/inspec.yml
  test/fixtures/profiles/profile-with-empty-control-file/controls/example_with_empty_content.rb
  test/fixtures/profiles/profile-with-empty-control-file/inspec.yml
  test/functional/inspec_check_test.rb
Labels: inspec-5

#7319 CHEF-15789 - Improve error handling for `audit_policy` resource
  lib/inspec/resources/audit_policy.rb
  test/helpers/mock_loader.rb
  test/unit/resources/audit_policy_test.rb
Labels: inspec-6

#7336 Backport - CHEF-15789 - Improve error handling for audit_policy resource
  lib/inspec/resources/audit_policy.rb
  test/helpers/mock_loader.rb
  test/unit/resources/audit_policy_test.rb
Labels: inspec-5

#7335 Foreport - CHEF-15789 - Improve error handling for audit_policy resource
  lib/inspec/resources/audit_policy.rb
  test/helpers/mock_loader.rb
  test/unit/resources/audit_policy_test.rb
Labels: inspec-7

#7342 Chef 19153 resolve inspec config dir in hab
  habitat/plan.sh
  lib/inspec/plugin/v2/installer.rb
  test/unit/plugin/v2/installer_test.rb
Labels: Documentation
