Repository inspec/inspec, pull requests merged in 2025-09, with the labels that each got.

#7420 CHEF-23919 - Update Windows platform support list
  docs-chef-io/content/inspec/reusable/md/support_commercial_platforms.md
Labels: Documentation

#7530 CHEF-25277 foreport socks5h docs to main
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/shell.md
Labels: Documentation

#7524 Add Omnibus build support for macOS 13 and 14 on ARM64 architecture.
  .expeditor/release.omnibus.yml
Labels: inspec-5

#7535 Update Artifact test Profiles - InSpec-5
  examples/meta-profile/README.md
  examples/meta-profile/controls/example.rb
Labels: inspec-5

#7541 CHEF-26493-Update Fallback Resource packs
  etc/deprecations.json
Labels: inspec-7

#7533 CHEF-26157-Revert "Bypass entitlement checks for InSpec7"
  lib/inspec/runner.rb
  lib/inspec/shell.rb
Labels: inspec-7

#7510 CHEF-25277 add docs for socks feature
  docs-chef-io/content/inspec/cli.md
  docs-chef-io/content/inspec/shell.md
Labels: Expeditor: Skip Version Bump, Documentation
